

.box{
    flex-direction: column;
    width: 230px;
    height: fit-content;
}
.column{

    flex-direction: column;
}
.cellCss{
    width: 91%;
    /*height: 100%;*/
    text-align: center;
    margin: 44px 0px 16px 33px;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

.flex2{
    display: flex;
    /*align-items: center; */
}
.testWidth{
    width: 100%;
    border-radius: 16px;
    cursor: pointer;
    display: block;
}
.testWidth:hover, .heart:hover{

    opacity: 1;
}
.heart{
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0;
    display: block;
    background-color: #00000073;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 22px;
    text-align: left;
    padding-top: 8px;
    padding-left: 15px;
}

a {
    text-decoration: auto;
    color: black;
}


/*//----------------------------------------------*/


.img {
    float :left;
    width: 150px;
    height: 100%;
    margin-right: 10px;
}


.prev{
    position: absolute;
    font-size: 23px;
    display: inline-block;
    left: -76px;
    top: -240px;
    width: 16px;
    height: 36px;
    cursor: pointer;
    line-height: 1.4;
    background-color: #4949494d;
    border-radius: 48px;

}
.next{
    position: absolute;
    font-size: 23px;
    display: inline-block;
    right: -76px;
    top: -240px;
    width: 16px;
    height: 36px;
    cursor: pointer;
    line-height: 1.4;
    background-color: #4949494d;
    border-radius: 48px;
}

.Title2{

    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.hashtag{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 6px;
    height: 36px;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}
.hashtag:hover{
    border-color: #ef6e73ab;
    color: #ef6e73ab;
}
.selectBox{
    background-color: white;
    /*border: 1px solid #a8a8a8;*/
    color:gray ;
    width: 100px;
    height: 36px;
    /*border-radius: 8px;*/
    padding:0px 10px;
    border: none;
}
.selectBox:hover{
    border-color: #ef6e73ab;
    border: none;
}
.selectBox:focus{
    outline-color: #00ff0000;
    color: #ef6e73ab;
    border: none;
}



/*----------------------------------------------------------*/

li{list-style:none;
    margin: 0;
    padding: 0;}

.slide_wrapper{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 300px;
    overflow:hidden;
    margin-top: 37px;
    padding: 0;
}
.slides{
    position: absolute;
    left:0; top:0;
    margin: 0;
    padding: 0;
}
.slides.animated{
    transition: 0.5s ease-out;
    margin: 0;
    padding: 0;
}
.slides li{
    width: 200px;
    height: 200px;
    /*background:#ccc;*/
    float:left;
    margin: 0;
    padding: 0;
}
.slides li:not(:last-child){
    margin-right: 2px;
}
.controls{
    text-align: center;
    margin-top: 50px;
    position: relative;
    opacity: 0;
    padding: 0;
}

.controls span{

    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
}

.img{
    width: 100%;
    height: 200px;
    display: block;
    margin: 0;
    padding: 0;

}
.imgDiv{
    width: 196px;
    height: 240px;
    text-align: center;
    line-height: 2;
    font-size: 19px;
    display: block;
    margin: 0;
    padding: 0;
}
.category:hover > .controls{
    opacity: 1;
}
.illustratorDIv{
    margin-bottom: 72px;
    display: flex;
    justify-content: space-around;


}
.illustratorProfile{
    width: 120px;
    height: 120px;
    border-radius: 110px;
    overflow: hidden;

}
.illustratorProfile>img{
    width: 100%;
    height: 100%;
}
.center{
    text-align: center;
    margin-top: 17px;
    font-weight: bold;
    font-size: 16px;
}




/*셀렉트박스 커스텀*/

/*    커스텀 셀렉트 */
.selectBox2 * { box-sizing: border-box; }
.selectBox2 {
    position: relative;
    width: 97px;
    font-size: 15px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background: url("/images/icon/화살표.png") calc(100% - 15px) center no-repeat;
    background-size: 10px;
    cursor: pointer;
    z-index: 2;
}
.selectBox2:hover{
    border: 1px solid #ef6e73;
}


.selectBox2 .label {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    cursor: pointer;
    font-size: 15px;
}

.selectBox2 .optionList {
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    background: rgb(156 156 156);
    color: #fff;
    list-style-type: none;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}

.selectBox2.active .optionList {
    max-height: 500px;
}

.selectBox2 .optionItem {
    border-bottom: 1px dashed white;
    padding: 5px 15px 5px;
    transition: .1s;
}

.selectBox2 .optionItem:hover {
    background: #ef6e73;
}

.selectBox2 .optionItem:last-child {
    border-bottom: 0 none;
}

ul.c_PagingList{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
    padding: 0;
}
ul.c_PagingList li{
    list-style: none;
    width: 30px;
    height: 40px;
    text-align: center;
    background: #e9ecef;
    color: #343a40;
    line-height: 2.25;
}
ul.c_PagingList li a{
    text-decoration-line: none;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;

}
ul.c_PagingList li a:visited, ul.c_PagingList li a:link{
    color: #343a40;
}
ul.c_PagingList li.pageActive{
    background:#007bff;
    color: #fff !important;
}
.mobile_updateTimeBox{
    display: none;
    border: 1px solid #ddd;
    padding: 2px 10px;
    background-color: #fff;
    color: #333;
    text-align: center;
    margin-right: 5px;
    font-size: 11px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    border-radius: 10px;
    width: max-content;
}

/*  // 스크롤 커스텀*/
.selectBox2 .optionList::-webkit-scrollbar {width: 6px;}
.selectBox2 .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox2 .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox2 .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}







/*----------------미디어쿼리---------------------*/
@media(max-width: 400px){
    .slides li:not(:last-child){
        margin-right: 5px;
    }
    .wrapper{

        overflow: hidden;
        padding-top: 65px !important;

    }

    .illust-section{
        padding: 20px;
        padding-top: 11px;
    }
    .imgDiv{
        width: 82px;
        height: 127px;
        text-align: center;
        line-height: 2;
        font-size: 12px;
    }

    .img{
        margin-right: 0px;
        width: 100%;
        height: 100px;
        display: block;
    }


    .slides li{
        width: 82px;
        height: 184px;
    }

    .slide_wrapper{
        position: relative;
        width: 1200px;
        margin: 0 auto;
        height: 160px;
        overflow: hidden;
        margin-top: 37px;
        margin-left: -26px;
    }

    .controls{
        display: none;
    }

    .Title2{
        font-size: 22px;
    }

    .cre{
        font-size: 12px;
    }

    .cre_x{
        display: none;
    }

    .illustratorDIv{
        margin-bottom: 40px;
    }

    .illustratorProfile{
        width: 60px;
        height: 60px;
    }



    .cellCss{
        margin-top: 14px;
        margin-left: 4px;
        margin-bottom: 21px;
    }
    .hashtag{
        height: 23px;
        font-size: 8px;
    }
    .selectBox{
        width: 81px;
        height: 23px;
    }

    .selectBox2{
        width: 75px;
        font-size: 12px;
        height: 23px;
    }
    .selectBox2 .label{
        font-size: 13px;
    }

    .artWork{
        margin-bottom: 24px !important;
    }
    div#headerInner{
        width: 90% !important;
    }
    div.footer-detail{
        margin-left: 0 !important;
        width: 357px !important;
    }
    footer{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .flex2{
        margin-bottom: 30px !important;
        padding-left: 5px;
        padding-right: 5px;
        width: 108%;
        margin-left: -20px;
        padding-top: 10px;
        padding-bottom: 10px !important;

    }

}