<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>내서재</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link href="/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/css/myLibrary/myBook.css" rel="stylesheet" type="text/css">
</head>
<body class="is-preload">
<!-- 헤더 시작 -->
<th:block th:insert="/fix/header_word.html :: headFragment"/>

<!--헤더 이미지-->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>
<!-- 헤더 종료 -->

<!-- Main -->
<div id="main">
    <div id="categoryWrap" class="giveMaxWidth">
        <section id="categorySection" class="giveMaxWidth">
            <div id="categoryMenu" class="giveMaxWidth">
                <table class="giveMaxWidth">
                    <tbody>
                    <tr>
                        <td><a href="#" class="categoryMenuItem">찜목록</a></td>
                    </tr>
                    <tr>
                        <td><a href="#" class="categoryMenuItem">소장함</a></td>
                    </tr>
                    <tr>
                        <td><a href="#" class="categoryMenuItem">최근 본 작품</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="totalWrap"class="giveMaxWidth">
                <div class="totalWordWork">
                    <img src="/images/category/fileIcon.png" alt="파일아이콘">
                    <span>총 7개 작품</span>
                </div>
                <!--                <div id="totalR_side" >
                                    <div id="totalOption">
                                        <div class="OptionChange"><img src="/images/category/checkIcon.png" alt="체크아이콘">최신순</div>
                                        <div class="OptionChange"><img src="/images/category/optionPointIcon.png" alt="체크아이콘">조회순</div>
                                        <div class="OptionChange"><img src="/images/category/optionPointIcon.png" alt="체크아이콘">편수 순</div>
                                    </div>
                                </div>-->
            </div>
            <div id="tagSearchWrap" class="giveMaxWidth">
                <div class="tagInner">
                    <button class="tagBtn" onclick="changeTagSearch()">태그검색</button>
                    <div id="searchFormWrap">
                        <form id="searchForm">
                            <input id="" type="text" placeholder="#검색할 태그를 입력하세요" maxlength="16">
                            <div class="cancelImg" onclick="changeTagSearch()">
                                <img src="/images/category/cancelIcon.png" style="width: 25px;margin-top: 0.1em;margin-left: -0.8em;">
                            </div>
                        </form>
                    </div>
                    <ul id="tagSearchList">
                        <li class="active"><a>전체</a></li>
                        <li><a href="#">판타지</a></li>
                        <li><a href="#">무협</a></li>
                        <li><a href="#">현대</a></li>
                        <li><a href="#">로맨스</a></li>
                        <li><a href="#">현대판타지</a></li>
                        <li><a href="#">라이트노벨</a></li>
                        <li><a href="#">공포</a></li>
                        <li><a href="#">SF</a></li>
                        <li><a href="#">스포츠</a></li>
                        <li><a href="#">대체역사</a></li>
                        <li><a href="#">기타</a></li>
                        <li><a href="#">패러디</a></li>
                    </ul>
                </div>
            </div>
            <div class="my-item-list">
                <div class="my-item">
                    <span class="tag-update">UP</span>
                    <div class="item-img btn-num">
                        <picture class="">
                            <img data-srcset="https://cdn.anytoon.co.kr/novel/epub/1/%EB%AC%B4%EC%8A%A8%EC%82%AC%EC%9D%B4/20211101054333-1.jpg" alt="대표님 살살해요" src="/images/loading_290x391.png" srcset="https://cdn.anytoon.co.kr/novel/epub/1/%EB%AC%B4%EC%8A%A8%EC%82%AC%EC%9D%B4/20211101054333-1.jpg" class="fade-in" style="    max-width: 100%;">
                        </picture>
                    </div>
                    <!-- //item-img -->
                    <div class="item-info" style="margin-left: 12px;padding: 8px;">
                        <p class="item-title" onclick="" style="font-size: 18px;margin: 0 auto; font-weight: bold; color: #434343">
                            <span class="genre" style="color: #ef6e73">[로맨스]</span> 로맨스
                        </p>
                        <div class="item-detail1" style="display: flex; align-items: center; justify-content: flex-start; padding-top: 10px; font-size: 15px; color: #434343;">
                            <img class="people" src="/images/people.png">
                            <span class="view" style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;">90만+</span>
                            <span class="writer">웹티, 올코</span>
                        </div>
                        <div class="item-detail2" style="display: flex; align-items: center; justify-content: flex-start; font-size: 15px; color: #434343;">
                            <span style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;">총 편수 : 308</span>
                            <span>최근 등록일 : 2022-05-01</span>
                        </div>
                        <div class="item-button" style="margin-top: 3em;">
                            <ul class="tag-title">
                                <li><a href="#" class="btn-view tag-list">보러가기</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my-item">
                    <span class="tag-update">UP</span>
                    <div class="item-img btn-num">
                        <picture class="">
                            <source src="/images/no_title.png">
                            <img alt="대표님 살살해요" src="/images/no_title.png" class="fade-in" style="    max-width: 100%;">
                        </picture>
                    </div>
                    <!-- //item-img -->
                    <div class="item-info" style="margin-left: 12px;padding: 8px;">
                        <p class="item-title" onclick="" style="font-size: 18px;margin: 0 auto; font-weight: bold; color: #434343">
                            <span class="genre" style="color: #ef6e73">[판타지]</span> 티끌 모아 대박
                        </p>
                        <div class="item-detail1" style="display: flex; align-items: center; justify-content: flex-start; padding-top: 10px; font-size: 15px; color: #434343;">
                            <img class="people" src="/images/people.png">
                            <span class="view" style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;">1만+</span>
                            <span class="writer">백범</span>
                        </div>
                        <div class="item-detail2" style="display: flex; align-items: center; justify-content: flex-start; font-size: 15px; color: #434343;">
                            <span style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;">총 편수 : 275</span>
                            <span>최근 등록일 : 2022-04-30</span>
                        </div>
                        <div class="item-button" style="margin-top: 3em;">
                            <ul class="tag-title">
                                <li><a href="#" class="btn-view tag-list">보러가기</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my-item">
                    <!--<span class="tag-update">UP</span>-->
                    <div class="item-img btn-num">
                        <picture class="">
                            <img src="/images/loading_290x391.png" srcset="https://cdn.anytoon.co.kr/novel/epub/9/%EB%8D%98%EC%A0%84%EB%A6%AC%EC%85%8B/0001/cover.jpg" class="fade-in" style="    max-width: 100%;">
                        </picture>
                    </div>
                    <!-- //item-img -->
                    <div class="item-info" style="margin-left: 12px;padding: 8px;">
                        <p class="item-title" onclick="" style="font-size: 18px;margin: 0 auto; font-weight: bold; color: #434343">
                            <span class="genre" style="color: #ef6e73">[판타지]</span> 던전리셋
                        </p>
                        <div class="item-detail1" style="display: flex; align-items: center; justify-content: flex-start; padding-top: 10px; font-size: 15px; color: #434343;">
                            <img class="people" src="/images/people.png">
                            <span class="view" style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;">5천+</span>
                            <span class="writer">다울</span>
                        </div>
                        <div class="item-detail2" style="display: flex; align-items: center; justify-content: flex-start; font-size: 15px; color: #434343;">
                            <span style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;">총 편수 : 540</span>
                            <span>최근 등록일 : 2022-04-20</span>
                        </div>
                        <div class="item-button" style="margin-top: 3em;">
                            <ul class="tag-title">
                                <li><a href="#" class="btn-view tag-list">보러가기</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my-item">
                    <!--<span class="tag-update">UP</span>-->
                    <div class="item-img btn-num">
                        <picture class="">
                            <img src="/images/loading_290x391.png" srcset="https://cdn.anytoon.co.kr/novel/epub/9/%EB%8D%98%EC%A0%84%EB%A6%AC%EC%85%8B/0001/cover.jpg" class="fade-in" style="    max-width: 100%;">
                        </picture>
                    </div>
                    <!-- //item-img -->
                    <div class="item-info" style="margin-left: 12px;padding: 8px;">
                        <p class="item-title" onclick="" style="font-size: 18px;margin: 0 auto; font-weight: bold; color: #434343">
                            <span class="genre" style="color: #ef6e73">[판타지]</span> 던전리셋
                        </p>
                        <div class="item-detail1" style="display: flex; align-items: center; justify-content: flex-start; padding-top: 10px; font-size: 15px; color: #434343;">
                            <img class="people" src="/images/people.png">
                            <span class="view" style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;">5천+</span>
                            <span class="writer">다울</span>
                        </div>
                        <div class="item-detail2" style="display: flex; align-items: center; justify-content: flex-start; font-size: 15px; color: #434343;">
                            <span style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;">총 편수 : 540</span>
                            <span>최근 등록일 : 2022-04-20</span>
                        </div>
                        <div class="item-button" style="margin-top: 3em;">
                            <ul class="tag-title">
                                <li><a href="#" class="btn-view tag-list">보러가기</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my-item">
                    <!--<span class="tag-update">UP</span>-->
                    <div class="item-img btn-num">
                        <picture class="">
                            <img src="/images/loading_290x391.png" srcset="https://cdn.anytoon.co.kr/novel/epub/9/%EB%8D%98%EC%A0%84%EB%A6%AC%EC%85%8B/0001/cover.jpg" class="fade-in" style="    max-width: 100%;">
                        </picture>
                    </div>
                    <!-- //item-img -->
                    <div class="item-info" style="margin-left: 12px;padding: 8px;">
                        <p class="item-title" onclick="" style="font-size: 18px;margin: 0 auto; font-weight: bold; color: #434343">
                            <span class="genre" style="color: #ef6e73">[판타지]</span> 던전리셋
                        </p>
                        <div class="item-detail1" style="display: flex; align-items: center; justify-content: flex-start; padding-top: 10px; font-size: 15px; color: #434343;">
                            <img class="people" src="/images/people.png">
                            <span class="view" style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;">5천+</span>
                            <span class="writer">다울</span>
                        </div>
                        <div class="item-detail2" style="display: flex; align-items: center; justify-content: flex-start; font-size: 15px; color: #434343;">
                            <span style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;">총 편수 : 540</span>
                            <span>최근 등록일 : 2022-04-20</span>
                        </div>
                        <div class="item-button" style="margin-top: 3em;">
                            <ul class="tag-title">
                                <li><a href="#" class="btn-view tag-list">보러가기</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my-item">
                    <!--<span class="tag-update">UP</span>-->
                    <div class="item-img btn-num">
                        <picture class="">
                            <img src="/images/loading_290x391.png" srcset="https://cdn.anytoon.co.kr/novel/epub/9/%EB%8D%98%EC%A0%84%EB%A6%AC%EC%85%8B/0001/cover.jpg" class="fade-in" style="    max-width: 100%;">
                        </picture>
                    </div>
                    <!-- //item-img -->
                    <div class="item-info" style="margin-left: 12px;padding: 8px;">
                        <p class="item-title" onclick="" style="font-size: 18px;margin: 0 auto; font-weight: bold; color: #434343">
                            <span class="genre" style="color: #ef6e73">[판타지]</span> 던전리셋
                        </p>
                        <div class="item-detail1" style="display: flex; align-items: center; justify-content: flex-start; padding-top: 10px; font-size: 15px; color: #434343;">
                            <img class="people" src="/images/people.png">
                            <span class="view" style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;">5천+</span>
                            <span class="writer">다울</span>
                        </div>
                        <div class="item-detail2" style="display: flex; align-items: center; justify-content: flex-start; font-size: 15px; color: #434343;">
                            <span style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;">총 편수 : 540</span>
                            <span>최근 등록일 : 2022-04-20</span>
                        </div>
                        <div class="item-button" style="margin-top: 3em;">
                            <ul class="tag-title">
                                <li><a href="#" class="btn-view tag-list">보러가기</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my-item">
                    <!--<span class="tag-update">UP</span>-->
                    <div class="item-img btn-num">
                        <picture class="">
                            <img src="/images/loading_290x391.png" srcset="https://cdn.anytoon.co.kr/novel/epub/9/%EB%8D%98%EC%A0%84%EB%A6%AC%EC%85%8B/0001/cover.jpg" class="fade-in" style="    max-width: 100%;">
                        </picture>
                    </div>
                    <!-- //item-img -->
                    <div class="item-info" style="margin-left: 12px;padding: 8px;">
                        <p class="item-title" onclick="" style="font-size: 18px;margin: 0 auto; font-weight: bold; color: #434343">
                            <span class="genre" style="color: #ef6e73">[판타지]</span> 던전리셋
                        </p>
                        <div class="item-detail1" style="display: flex; align-items: center; justify-content: flex-start; padding-top: 10px; font-size: 15px; color: #434343;">
                            <img class="people" src="/images/people.png">
                            <span class="view" style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;">5천+</span>
                            <span class="writer">다울</span>
                        </div>
                        <div class="item-detail2" style="display: flex; align-items: center; justify-content: flex-start; font-size: 15px; color: #434343;">
                            <span style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;">총 편수 : 540</span>
                            <span>최근 등록일 : 2022-04-20</span>
                        </div>
                        <div class="item-button" style="margin-top: 3em;">
                            <ul class="tag-title">
                                <li><a href="#" class="btn-view tag-list">보러가기</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 페이징 시작-->
            <div class="categoryPaging giveMaxWidth">
                <!-- 페이징 -->
                <ul class="c_PagingList" >
                    <!-- 이전 -->
                    <li><a>&lt;</a></li>

                    <li class="pageActive"><a>1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a>4</a></li>
                    <li><a>5</a></li>
                    <li><a>6</a></li>

                    <!-- 다음 -->
                    <li><a>&gt;</a></li>
                </ul>
            </div>
            <!-- 페이징 종료-->
        </section>
    </div>
</div>
<th:block th:insert="/fix/footer.html :: footerFragment"/>



<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/myLibrary/myBook.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>