# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar


### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


### Eclipse template
*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse


### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


### Grails template
# .gitignore for Grails 1.2 and 1.3
# Although this should work for most versions of grails, it is
# suggested that you use the "grails integrate-with --git" command
# to generate your .gitignore file.

# web application files
/web-app/WEB-INF/classes

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release files
/*.zip
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target
src/main/java/com/team1/stelling/domain/dto/SupportDTO.java
src/main/java/com/team1/stelling/domain/repository/InquiryRepository.java
src/main/java/com/team1/stelling/service/CertifiedPhoneService.java
src/main/java/com/team1/stelling/service/OauthService.java
src/main/java/com/team1/stelling/service/SendEmailService.java
src/main/resources/static/assets/css/inquiry/inquiryDetail.css
src/main/resources/static/assets/css/inquiry/inquiryWrite.css
src/main/resources/static/assets/js/illust/module.js
src/main/resources/static/assets/js/inquiry/inquiryWrite.js
src/main/resources/static/assets/js/novel/novelDetailReply.js
src/main/resources/static/assets/js/novel/novelRoundReply.js
src/main/resources/static/images/icon/엑스.png
src/main/resources/static/images/icon/잠금.png
src/main/resources/templates/myPage/myPageSupportList.html
src/main/resources/templates/user/oauth.html
src/src/main/java/com/team1/stelling/StellingApplication.java
src/src/main/java/com/team1/stelling/aspect/LogAspect.java
src/src/main/java/com/team1/stelling/aspect/annotation/LogStatus.java
src/src/main/java/com/team1/stelling/controller/AttachController.java
src/src/main/java/com/team1/stelling/controller/IllustController.java
src/src/main/java/com/team1/stelling/controller/InquiryController.java
src/src/main/java/com/team1/stelling/controller/MainController.java
src/src/main/java/com/team1/stelling/controller/MyLibraryCollectionController.java
src/src/main/java/com/team1/stelling/controller/MyLibraryController.java
src/src/main/java/com/team1/stelling/controller/MyPageController.java
src/src/main/java/com/team1/stelling/controller/MyPickController.java
src/src/main/java/com/team1/stelling/controller/NovelCategoryController.java
src/src/main/java/com/team1/stelling/controller/novelController.java
src/src/main/java/com/team1/stelling/controller/NovelDetailViewController.java
src/src/main/java/com/team1/stelling/controller/NovelRankingController.java
src/src/main/java/com/team1/stelling/controller/NovelReplyController.java
src/src/main/java/com/team1/stelling/controller/novelRoundController.java
src/src/main/java/com/team1/stelling/controller/OauthController.java
src/src/main/java/com/team1/stelling/controller/SupportController.java
src/src/main/java/com/team1/stelling/controller/UserController.java
src/src/main/java/com/team1/stelling/domain/criteria/NovelRankingCriteria.java
src/src/main/java/com/team1/stelling/domain/dao/BuyChapterDAO.java
src/src/main/java/com/team1/stelling/domain/dao/IllustProfileDAO.java
src/src/main/java/com/team1/stelling/domain/dao/MyIllustDAO.java
src/src/main/java/com/team1/stelling/domain/dao/NovelDAO.java
src/src/main/java/com/team1/stelling/domain/dao/PayDAO.java
src/src/main/java/com/team1/stelling/domain/dao/ReplyDAO.java
src/src/main/java/com/team1/stelling/domain/dao/SupportDAO.java
src/src/main/java/com/team1/stelling/domain/dao/UserDAO.java
src/src/main/java/com/team1/stelling/domain/dto/IllustProfileDTO.java
src/src/main/java/com/team1/stelling/domain/dto/MyPickDTO.java
src/src/main/java/com/team1/stelling/domain/dto/NovelCategoryDTO.java
src/src/main/java/com/team1/stelling/domain/dto/NovelDetailVIewDTO.java
src/src/main/java/com/team1/stelling/domain/dto/NovelFileDTO.java
src/src/main/java/com/team1/stelling/domain/dto/NovelRankingDTO.java
src/src/main/java/com/team1/stelling/domain/dto/PageableDTO.java
src/src/main/java/com/team1/stelling/domain/dto/PageDTO.java
src/src/main/java/com/team1/stelling/domain/dto/ReplyDTO.java
src/src/main/java/com/team1/stelling/domain/dto/ReplyListDTO.java
src/src/main/java/com/team1/stelling/domain/dto/ReplyUserDTO.java
src/src/main/java/com/team1/stelling/domain/dto/SubNovelDeleteDTO.java
src/src/main/java/com/team1/stelling/domain/dto/SupportDTO.java
src/src/main/java/com/team1/stelling/domain/repository/IllustImgFileRepository.java
src/src/main/java/com/team1/stelling/domain/repository/IllustRepository.java
src/src/main/java/com/team1/stelling/domain/repository/InquiryRepository.java
src/src/main/java/com/team1/stelling/domain/repository/MyPickRepository.java
src/src/main/java/com/team1/stelling/domain/repository/NovelFileRepository.java
src/src/main/java/com/team1/stelling/domain/repository/NovelRepository.java
src/src/main/java/com/team1/stelling/domain/repository/RecentViewRepository.java
src/src/main/java/com/team1/stelling/domain/repository/ReplyRepository.java
src/src/main/java/com/team1/stelling/domain/repository/SubNovelRepository.java
src/src/main/java/com/team1/stelling/domain/repository/UserRepository.java
src/src/main/java/com/team1/stelling/domain/vo/BuyChapterVO.java
src/src/main/java/com/team1/stelling/domain/vo/Criteria.java
src/src/main/java/com/team1/stelling/domain/vo/IllustImgFileVO.java
src/src/main/java/com/team1/stelling/domain/vo/IllustProfileVO.java
src/src/main/java/com/team1/stelling/domain/vo/IllustVO.java
src/src/main/java/com/team1/stelling/domain/vo/InquiryVO.java
src/src/main/java/com/team1/stelling/domain/vo/MyIllustVO.java
src/src/main/java/com/team1/stelling/domain/vo/MyPickVO.java
src/src/main/java/com/team1/stelling/domain/vo/NovelFileVO.java
src/src/main/java/com/team1/stelling/domain/vo/NovelVO.java
src/src/main/java/com/team1/stelling/domain/vo/PayDTO.java
src/src/main/java/com/team1/stelling/domain/vo/PayVO.java
src/src/main/java/com/team1/stelling/domain/vo/RecentViewVO.java
src/src/main/java/com/team1/stelling/domain/vo/ReplyVO.java
src/src/main/java/com/team1/stelling/domain/vo/SubNovelVO.java
src/src/main/java/com/team1/stelling/domain/vo/SupportVO.java
src/src/main/java/com/team1/stelling/domain/vo/UserDTO.java
src/src/main/java/com/team1/stelling/domain/vo/UserVO.java
src/src/main/java/com/team1/stelling/mapper/BuyChapterMapper.java
src/src/main/java/com/team1/stelling/mapper/CustomModelMapper.java
src/src/main/java/com/team1/stelling/mapper/IllustProfileMapper.java
src/src/main/java/com/team1/stelling/mapper/ModelMapperConfig.java
src/src/main/java/com/team1/stelling/mapper/MyIllustMapper.java
src/src/main/java/com/team1/stelling/mapper/NovelMapper.java
src/src/main/java/com/team1/stelling/mapper/PayMapper.java
src/src/main/java/com/team1/stelling/mapper/ReplyMapper.java
src/src/main/java/com/team1/stelling/mapper/SupportMapper.java
src/src/main/java/com/team1/stelling/mapper/UserMapper.java
src/src/main/java/com/team1/stelling/mybatis/MyBatisConfig.java
src/src/main/java/com/team1/stelling/service/BuyChapterService.java
src/src/main/java/com/team1/stelling/service/BuyChapterServiceImpl.java
src/src/main/java/com/team1/stelling/service/CertifiedPhoneService.java
src/src/main/java/com/team1/stelling/service/IllustImgFileService.java
src/src/main/java/com/team1/stelling/service/IllustProfileService.java
src/src/main/java/com/team1/stelling/service/IllustService.java
src/src/main/java/com/team1/stelling/service/InquiryService.java
src/src/main/java/com/team1/stelling/service/MyIllustService.java
src/src/main/java/com/team1/stelling/service/MyLibraryService.java
src/src/main/java/com/team1/stelling/service/MyPickService.java
src/src/main/java/com/team1/stelling/service/NovelFileService.java
src/src/main/java/com/team1/stelling/service/NovelService.java
src/src/main/java/com/team1/stelling/service/OauthService.java
src/src/main/java/com/team1/stelling/service/PayService.java
src/src/main/java/com/team1/stelling/service/RecentViewService.java
src/src/main/java/com/team1/stelling/service/ReplyService.java
src/src/main/java/com/team1/stelling/service/SendEmailService.java
src/src/main/java/com/team1/stelling/service/SubNovelService.java
src/src/main/java/com/team1/stelling/service/SupportService.java
src/src/main/java/com/team1/stelling/service/UserService.java
src/src/main/resources/application.properties
src/src/main/resources/.vscode/settings.json
src/src/main/resources/config/config.xml
src/src/main/resources/mapper/BuyChapterMapper.xml
src/src/main/resources/mapper/IllustProfileMapper.xml
src/src/main/resources/mapper/MyIllustMapper.xml
src/src/main/resources/mapper/NovelMapper.xml
src/src/main/resources/mapper/PayMapper.xml
src/src/main/resources/mapper/ReplyMapper.xml
src/src/main/resources/mapper/SupportMapper.xml
src/src/main/resources/mapper/UserMapper.xml
src/src/main/resources/static/assets/css/admin/styles.css
src/src/main/resources/static/assets/css/fix/footer.css
src/src/main/resources/static/assets/css/fix/header.css
src/src/main/resources/static/assets/css/illust/chatForm.css
src/src/main/resources/static/assets/css/illust/illustCategoryList.css
src/src/main/resources/static/assets/css/illust/illustList.css
src/src/main/resources/static/assets/css/illust/illustPostingPage.css
src/src/main/resources/static/assets/css/illust/illustratorWritePage.css
src/src/main/resources/static/assets/css/illust/illustUserPage.css
src/src/main/resources/static/assets/css/illust/illustViewDetail.css
src/src/main/resources/static/assets/css/inquiry/inquiryDetail.css
src/src/main/resources/static/assets/css/inquiry/inquiryWrite.css
src/src/main/resources/static/assets/css/main/index.css
src/src/main/resources/static/assets/css/myLibrary/myBook.css
src/src/main/resources/static/assets/css/myLibrary/myLibrary.css
src/src/main/resources/static/assets/css/myLibrary/myRead.css
src/src/main/resources/static/assets/css/mypage/changPw.css
src/src/main/resources/static/assets/css/mypage/editProfile.css
src/src/main/resources/static/assets/css/mypage/myWork.css
src/src/main/resources/static/assets/css/mypage/payment.css
src/src/main/resources/static/assets/css/mypage/questions.css
src/src/main/resources/static/assets/css/mypage/withdraw.css
src/src/main/resources/static/assets/css/novel/category.css
src/src/main/resources/static/assets/css/novel/novelRanking.css
src/src/main/resources/static/assets/css/user/userFindId.css
src/src/main/resources/static/assets/css/user/userFindPw.css
src/src/main/resources/static/assets/css/user/userJoin.css
src/src/main/resources/static/assets/css/user/userLogin.css
src/src/main/resources/static/assets/js/admin/chart-area-demo.js
src/src/main/resources/static/assets/js/admin/chart-bar-demo.js
src/src/main/resources/static/assets/js/admin/chart-pie-demo.js
src/src/main/resources/static/assets/js/admin/datatables-demo.js
src/src/main/resources/static/assets/js/admin/datatables-simple-demo.js
src/test/java/com/team1/stelling/service/InquiryServiceTests.java
