<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.team1.stelling.domain.vo.ReplyVO" alias="replyVO"/>
        <typeAlias type="com.team1.stelling.domain.vo.IllustProfileVO" alias="illustProfileVO"/>
        <typeAlias type="com.team1.stelling.domain.dto.IllustProfileDTO" alias="illustProfileDTO"/>
        <typeAlias type="com.team1.stelling.domain.vo.SupportVO" alias="supportVO"/>
        <typeAlias type="com.team1.stelling.domain.dto.SupportDTO" alias="supportDTO"/>
        <typeAlias type="com.team1.stelling.domain.vo.MyPickVO" alias="myPickVO"/>
        <typeAlias type="com.team1.stelling.domain.vo.MyIllustVO" alias="myIllustVO"/>
        <typeAlias type="com.team1.stelling.domain.vo.InquiryVO" alias="inquiryVO"/>
        <typeAlias type="com.team1.stelling.domain.vo.PayVO" alias="PayVO"/>
        <typeAlias type="com.team1.stelling.domain.vo.PayDTO" alias="PayDTO"/>
        <typeAlias type="com.team1.stelling.domain.vo.BuyChapterVO" alias="buyChapterVO"/>
        <typeAlias type="com.team1.stelling.domain.vo.NovelVO" alias="NovelVO"/>
        <typeAlias type="com.team1.stelling.domain.dto.NovelDTO" alias="NovelDTO"/>
        <typeAlias type="com.team1.stelling.domain.dto.NovelRankingDTO" alias="NovelRankingDTO"/>
        <typeAlias type="com.team1.stelling.domain.vo.UserVO" alias="UserVO"/>
        <typeAlias type="com.team1.stelling.domain.vo.Paging" alias="Paging"/>
        <typeAlias type="com.team1.stelling.domain.dto.NewIllustDTO" alias="NewIllustDTO"/>
        <typeAlias type="com.team1.stelling.domain.vo.ChatMessageVO" alias="chatMessageVO"/>
        <typeAlias type="com.team1.stelling.domain.vo.ChatMessageMyBatisVO" alias="chatMessageMyBatisVO"/>
    </typeAliases>
</configuration>

<!--
TBL_REPLY TBL_ILLUSTPROFILE TBL_PAY TBL_SUPPORT TBL_BUYCHAPTER TBL_MYPICK TBL_MYILLUST TBL_INQUIRY
-->