<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main/index.css" type="text/css">
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <title>Stelling</title>
    <script src="/assets/js/fix/data.js"></script>
    <script src="../../static/assets/js/main/index.js"></script>
    <style>
        .live-hot{
            list-style: none;
            margin-left: -40px;
            margin-bottom: 10px;
            display: flex;
            height: 135px;
        }
        .M_tags{
            text-decoration: none;
            color: black;
        }
        .menuActive{
            background-color: #ef6e73;
            color: white;
        }
    </style>
</head>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<body>
<!-- 헤더 시작 -->
<th:block th:insert="fix/headerWord.html :: headFragment"/>

<!--헤더 이미지-->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>
<!-- 헤더 종료 -->
<div class="M_banner_area">
    <div class="M_banner_list">

        <script>


            // let img =search()
            let mainBanner = ['mainBanner01.png', 'mainBanner02.png', 'mainBanner03.png','mainBanner04.png','mainBanner05.png','mainBanner06.png'];

            mainBanner?.map((imgs,index)=>{
                // let fileCallpath = imgs.novelUploadPath + "/" + imgs.novelFileName;
                let fileCallpath = "/images/fix/" + mainBanner[index];
                let img= document.createElement('img');
                img.src = fileCallpath;
                img.className=`banner_img${index} banner_img ${imgs.id} `
                img.id=`imgss`
                document.querySelector(".M_banner_list").innerHTML += `<img src = ${fileCallpath} class="banner_img${index} banner_img" id="imgss">`;

            })


        </script>


    </div>

    <!-- 위에는 맵을 돌려서 오는게 맞고 -->



    <div class="banner_arrow">
        <a class="left"><img src="https://www.joara.com/assets/ic/pc-web/bt_arr_visual_left.png"/></a>
        <a class="right"><img src="https://www.joara.com/assets/ic/pc-web/bt_arr_visual_right.png"/></a>
    </div>
</div>


<div  id="main_title_area" class="M_Hot_area" >
    <h2 >
        <div class="M_Hot_area_tittle">
            <span>실시간</span> <span class="RealTime">HOT</span>
        </div>
    </h2>
    <div class="M_tags_area">
        <div class="M_tags" >
            <a class="M_tags"  value="28" href="searchAll#main_title_area"> <span th:classappend="${mainCriteria.keyword== 'searchAll'} ? 'menuActive' : ''" class="tagspan" value="all"  > 전체</span></a>
            <a class="M_tags" href="판타지#main_title_area"><span th:classappend="${mainCriteria.keyword== '판타지'} ? 'menuActive' : ''" class="tagspan " value="판타지" >  판타지</span></a>
            <a class="M_tags" href="무협#main_title_area"> <span th:classappend="${mainCriteria.keyword== '무협'} ? 'menuActive' : ''" class="tagspan " value="무협" > 무협</span></a>
            <a class="M_tags" href="현대#main_title_area"><span th:classappend="${mainCriteria.keyword== '현대'} ? 'menuActive' : ''" class="tagspan " value="현대" > 현대</span></a>
            <a class="M_tags" href="로맨스#main_title_area"><span th:classappend="${mainCriteria.keyword== '로맨스'} ? 'menuActive' : ''" class="tagspan " value="로멘스" > 로맨스</span></a>
            <a class="M_tags" href="현대판타지#main_title_area"><span th:classappend="${mainCriteria.keyword== '현대판타지'} ? 'menuActive' : ''" class="tagspan " value="현대판타지" >  현대판타지</span></a>
            <a class="M_tags" href="라이트노벨#main_title_area"><span th:classappend="${mainCriteria.keyword== '라이트노벨'} ? 'menuActive' : ''" class="tagspan " value="라이트노벨" >  라이트노벨</span></a>
            <a class="M_tags" href="공포#main_title_area"><span th:classappend="${mainCriteria.keyword== '공포'} ? 'menuActive' : ''" class="tagspan " value="공포" > 공포</span></a>
            <a class="M_tags" href="SF#main_title_area"><span th:classappend="${mainCriteria.keyword== 'SF'} ? 'menuActive' : ''" class="tagspan " value="SF" > SF</span></a>
            <a class="M_tags" href="스포츠#main_title_area"><span th:classappend="${mainCriteria.keyword== '스포츠'} ? 'menuActive' : ''" class="tagspan " value="스포츠" > 스포츠</span></a>



        </div>



    </div>


    <!-- 실시간 hot 배너 -->
    <div class="M_tags_List">
        <div class="tags_List">
            <div class="tags_header">
                <span>조회수</span>
            </div>
            <div class="content-wrap">
            <ul>
                <th:block th:each="viewCount,index:${viewCountList}">
                <li class="live-hot" th:object="${viewCount}">
                    <a th:href="@{/novel/novelRoundList(novelNumber=*{novelNumber})}"><img th:src="'/upload/display?fileName='+*{novelUploadPath}+'/'+*{novelFileName}" style="width: 90px;"></a>
                    <div style="margin-left: 15px; line-height: 1;">
                        <b th:text="${index.count}"></b><span th:text="*{novelTitle}" style="margin-left: 8px;"></span>
                        <p th:text="*{userNickName}"></p>
                        <p th:text="*{novelHashtag}"></p>
                    </div>
                </li>
                </th:block>
            </ul>
                <p th:if="${#lists.size(likeCountList) == 0} ">현재 조회된 결과가 없습니다.</p>
            </div>
            <div class="tags_container tags_left">

            </div></div>

        <div class="tags_List">
            <div class="tags_header">
                <span>좋아요순</span>
            </div>
            <div class="tags_container tags_middle" >
                <ul>
                    <th:block th:each="likeCount,index:${likeCountList}">
                        <li class="live-hot" th:object="${likeCount}">
                            <a th:href="@{/novel/novelRoundList(novelNumber=*{novelNumber})}"><img th:src="'/upload/display?fileName='+*{novelUploadPath}+'/'+*{novelFileName}" style="width: 90px;"></a>
                            <div style="margin-left: 15px; line-height: 1;">
                                <b th:text="${index.count}"></b><span th:text="*{novelTitle}" style="margin-left: 8px;"></span>
                                <p th:text="*{userNickName}"></p>
                                <p th:text="*{novelHashtag}"></p>
                            </div>
                        </li>
                    </th:block>

                </ul>
                    <p th:if="${#lists.size(likeCountList) == 0} ">현재 조회된 결과가 없습니다.</p>
            </div>
        </div>

        <div class="tags_List">
            <div class="tags_header tags_middle">
                <span>회차수</span></div>
            <div class="tags_container tags_right" >
                <ul>
                    <th:block th:each="roundCount,index:${roundCountList}">
                        <li class="live-hot" th:object="${roundCount}">
                            <a th:href="@{/novel/novelRoundList(novelNumber=*{novelNumber})}"><img th:src="'/upload/display?fileName='+*{novelUploadPath}+'/'+*{novelFileName}" style="width: 90px;"></a>
                            <div style="margin-left: 15px; line-height: 1;">
                                <b th:text="${index.count}"></b><span th:text="*{novelTitle}" style="margin-left: 8px;"></span>
                                <p th:text="*{userNickName}"></p>
                                <p th:text="*{novelHashtag}"></p>
                            </div>
                        </li>
                    </th:block>
                </ul>
                <p th:if="${#lists.size(likeCountList) == 0} ">현재 조회된 결과가 없습니다.</p>
            </div>
        </div>

    </div></div>


</div>
</div>
</div>

<div class="main_section">



    <div class="M_x_W">
        <div class="M_x_">
            <div class="x_title">
                <div>
                    <div style="margin-right: 695px;">뜨끈뜨끈한 신작은??
                        <span>NewFace의 반란!</span>
                    </div>
                    <ul style="list-style: none; display: flex;">
                        <th:block th:each="newWork:${newWorkList}">
                            <li style="margin-right :20px;" th:object="${newWork}">
                                <a th:href="@{/novel/novelRoundList(novelNumber=*{novelNumber})}"><img th:src="'/upload/display?fileName='+*{novelUploadPath}+'/'+*{novelFileName}" style="width: 175px;" alt="이미지 준비중"></a>
                                <p style="margin: 0; font-size: 14px;" th:text="*{novelTitle}"></p>
                                <p style="margin: 0; font-size: 14px;" th:text="*{userNickName}"></p>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div class="x_box fisrtList" ></div>
        </div>
    </div>


<!--    <div class="M_x_">
        <div class="x_title">
            <div>
                <div style="margin-right: 797px;">완결작!
                    <span>마지막 화 까지 정주행!</span>
                </div>
                <ul style="list-style: none; display: flex;">
                    <th:block th:each="endNovel:${endNovelList}">
                        <li id="getData" style="margin-right :20px;" th:object="${endNovel}">
                            <a th:href="@{/novel/novelRoundList(novelNumber=*{novelNumber})}"><img th:src="'/upload/display?fileName='+*{novelUploadPath}+'/'+*{novelFileName}" style="width: 175px;"></a>
                            <p style="margin: 0; font-size: 14px;" th:text="*{novelTitle}"></p>
                            <p style="margin: 0; font-size: 14px;" th:text="*{userNickName}"></p>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>-->

<!--
    <div style="background-color: beige">
        <div class="M_x_">
            <div class="x_title">
                <div style="position: absolute; top: 23px;">한번쯤은 보게될걸?
                        <span>Illustrator</span>
                </div>
                &lt;!&ndash;일러스트 슬라이드&ndash;&gt;
            <div class="x_box fourList movemove" id="fourList" ></div>
        </div>
    </div>






</div>-->
 </div>
</body>
<th:block th:insert="fix/footer.html :: footerFragment"/>
<script src="/assets/js/main/index.js"></script>
<script src="/assets/js/fix/header.js"></script>
<script th:inline="javascript">
    let keyword = [[${mainCriteria.keyword}]];

    $("a.M_tags").click(function(e){
        e.preventDefault();
        location.href = "/main/index?keyword=" +$(this).attr("href");
    })


    let img2 =illustImg()
    console.log(img2);

    img2?.map((imgs,index)=>{
        let fileCallpath = imgs.illustImgFileFilePath + "/" + imgs.illustImgFileFileName;
        const x_item =document.createElement('div')
        x_item.className="x_item"
        const x_item_img=document.createElement('div')
        x_item_img.className="x_item_img"
        const img = document.createElement('img')
        img.className="ximg"
        img.src=`/main/display?fileName=`+ fileCallpath;



        x_item.appendChild(x_item_img)
        x_item_img.appendChild(img)

        document.getElementById('fourList').appendChild(x_item)
    })

    img.slice(0,6)?.map((v)=>{
        const sectionList  = document.querySelector('.fisrtList')
        main_sectionList(v,sectionList);
    })
    img.slice(1,7)?.map((v)=>{
        const sectionList  = document.querySelector('.secondList')
        main_sectionList(v,sectionList);
    })
    img.slice(2,8)?.map((v)=>{
        const sectionList  = document.querySelector('.thirdList')
        main_sectionList(v,sectionList);
    })
    img.slice(0,6).map((v)=>{
        const sectionList  = document.querySelector('.fourList')
        main_sectionList(v,sectionList);

    })

    //일러스트 슬라이드
    function Illustrator(){
        const lisls = document.querySelectorAll('#fourList div.x_item')
        const lisl = document.querySelector('.fourList')
        const lastli = lisl.lastElementChild.cloneNode(true);
        let M_x= document.querySelectorAll('.M_x_');

        //요소복사
        const clone = () =>{
            let cloneslie = lisl.cloneNode(true)
            let moves = document.querySelector('.movemove')
            cloneslie.classList.remove('movemove')
            lisl.append(cloneslie)

        }

        //요소복사
        clone();


    }

    // $(".ximg").click(function(){
    //     location.href = "/user/login";
    // })
</script>
</html>