<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main/index.css" type="text/css">
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <title>Stelling</title>
    <script src="../../static/assets/js/main/index.js"></script>
</head>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/js/novel/data.js"></script>
<body>
<!-- 헤더 시작 -->
<th:block th:insert="/fix/headerWord.html :: headFragment"/>

<!--헤더 이미지-->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>
<!-- 헤더 종료 -->
    <div class="M_banner_area">
        <div class="M_banner_list">
                
        <script> 

    
            const img =search()
          
             img?.map((imgs,index)=>{
                 let img= document.createElement('img');
                img.src=`https://image.tmdb.org/t/p/w500${imgs.poster_path}`;
                img.className=`banner_img${index} banner_img ${imgs.id} `
                img.id=`imgss`
                document.querySelector(".M_banner_list").appendChild(img)
            
            })
           
            
            </script>

</div>

<!-- 위에는 맵을 돌려서 오는게 맞고 -->



<div class="banner_arrow">
    <a class="left"><img src="https://www.joara.com/assets/ic/pc-web/bt_arr_visual_left.png"/></a>
    <a class="right"><img src="https://www.joara.com/assets/ic/pc-web/bt_arr_visual_right.png"/></a>
 </div>
</div>


<div class="M_Hot_area" >
    <h2>
        <div class="M_Hot_area_tittle">
            <span>실시간</span> <span class="RealTime">HOT</span> 
        </div>
    </h2>
    <div class="M_tags_area">
        <div class="M_tags" >
            <span class="tagspan  clinkadd " value="all"  > <a class="M_tags"  value="28" > 전체</a></span>
            <span class="tagspan " value="판타지" > <a class="M_tags"> 판타지</a></span>
            <span class="tagspan " value="무협" > <a class="M_tags"> 무협</a></span>
            <span class="tagspan " value="현대" > <a class="M_tags"> 현대</a></span>
            <span class="tagspan " value="로멘스" > <a class="M_tags"> 로멘스</a></span>
            <span class="tagspan " value="현대판타지" > <a class="M_tags"> 현대판타지</a></span>
            <span class="tagspan " value="라이트노벨" > <a class="M_tags"> 라이트노벨</a></span>
            <span class="tagspan " value="공포" > <a class="M_tags"> 공포</a></span>
            <span class="tagspan " value="SF" > <a class="M_tags"> SF</a></span>
            <span class="tagspan " value="스포츠" > <a class="M_tags"> 스포츠</a></span>



        </div>
    
    
    
</div>


<!-- 실시간 hot 배너 -->
    <div class="M_tags_List">
        <div class="tags_List"> 

            <div class="tags_header">
            <span>조회수</span> <a href="#">더보기</a>
            </div>
             <div class="tags_container tags_left">
              
             </div></div>

           <div class="tags_List"> 
           <div class="tags_header">
           <span>선호작수</span> <a href="#">더보기</a>
           </div>
           <div class="tags_container tags_middle" ></div></div>    
       
           <div class="tags_List">
            <div class="tags_header tags_middle">
            <span>완결작</span> <a href="#">더보기</a></div>
            <div class="tags_container tags_right" ></div></div>    
           
    </div></div>    


</div>
</div>
</div>

    <div class="main_section">
            


        <div class="M_x_W">
        <div class="M_x_">
        <div class="x_title">
        <div>이번 주 신작은??
        <span>NewFace의 반란!</span>
        </div>
        </div>    
        <div class="x_box fisrtList" ></div>
        </div>
        </div>


        <div class="M_x_">
        <div class="x_title">   
        <div>이번 주 신작은??
        <span>NewFace의 반란!</span>
        </div></div>    
        <div class="x_box secondList" ></div>
        </div>          
            

        <div style="background-color: beige">
        <div class="M_x_">
        <div class="x_title">   
        <div>한번쯤은 보게될껄?
        <span>Illustrator</span>
        </div></div>    
        <div class="x_box fourList movemove" id="fourList" ></div>
        </div>          
        </div>    

        <div class="M_x_">
        <div class="x_title">   
        <div>이번 주 신작은??
        <span>NewFace의 반란!</span>
        </div></div>    
        <div class="x_box thirdList" ></div>
        </div>          

            



    </div>
</body>
<th:block th:insert="/fix/footer.html :: footerFragment"/>
<script src="/assets/js/main/index.js"></script>
<script src="/assets/js/fix/header.js"></script>
<script th:inline="javascript">
    const userNumber = [[${session.userNumber}]];
    console.log("세션 유저 번호 : " + userNumber);
    // const userNumber = [[${session.userNumber}]];
    // console.log(userNumber);

    //로그인된 회원만 마이페이지 이동
    function goMyPage(){
        if(userNumber == null){
            alert("로그인한 회원만 이용가능합니다.");
            return;
        } else{
            location.href = "/myPage/myPageEditProfile?userNumber=" + userNumber;
        }
    }
</script>
</html>l