<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="//font.elice.io/EliceDigitalBaeum.css" rel="stylesheet">
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/mypage/changPw.css" rel="stylesheet" type="text/css">
    <title>비밀번호 변경</title>
</head>
<body>
<!-- 헤더 시작 -->

<th:block th:insert="fix/headerWord.html :: headFragment"/>

<!--헤더 이미지-->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>
<!-- 헤더 종료 -->
<div id="qwer">
<div id="allWrap" style=" margin:0 auto; padding-top: 20px; padding-bottom: 50px;">
    <div class="profileWrap1">
        <div class="group">
            <div class="left_block">
                <ul class="liWrap">
                    <li class="li_top left">
                        <a class="menu" href="javascript:goEditProfile();">프로필 수정</a>
                    </li>
                    <li class="left">
                        <a class="menu" href="javascript:goMyWork();">내 작품 관리</a>
                    </li>
                    <li class="left">
                        <a class="menu" href="javascript:goChangePw();">비밀번호 변경</a>
                    </li>
                    <li class="left">
                        <a class="menu" href="javascript:goQuestion();">내 문의 내역</a>
                    </li>
                    <li class="left">
                        <a class="menu" href="javascript:goQuit();">탈퇴 하기</a>
                    </li>
                    <li class="left">
                        <a class="menu" href="javascript:goPayList();">결제</a>
                    </li>
                </ul>
            </div>
                <div class="right_block">
                    <div class="">
                        <div class="profile_text"><strong>비밀번호 변경</strong></div>
                        <div class="main">
                            <div class="set_myInfo top">
                                <strong class="profile pw">현재 비밀번호</strong>
                                <input class="userPw" type="password" placeholder="현재 비밀번호를 입력해 주세요.">
                                <p class="userPwEq"></p>
                            </div>
                            <div class="set_myInfo">
                                <strong class="profile newPw">새 비밀번호</strong>
                                <div class="test">
                                    <input class="new" type="password" onchange="validNewPw(this)" placeholder="새 비밀번호를 입력해 주세요.">
                                    <p class ="p" id="result_NewPw"></p>
                                </div>
                            </div>
            <form class="changPw" action="pwChangeForm" method="post">
                            <div class="set_myInfo">
                                <strong class="profile newPw">새 비밀번호 확인</strong>
                                <input name="userNewPw" class="rePw" type="password" onchange="sameNewPw(this)" placeholder="새 비밀번호를 다시 입력해주세요">
                                <p class ="p" id="result_reNewPw"></p>
                            </div>
            </form>
                        </div>

                    </div>
                    <div class="wrap_btn">
                        <button type="submit" class="wrap_btn_save" name="저장_버튼" onclick="test()">저장</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<th:block th:insert="fix/footer.html :: footerFragment"/>
<!-- Scripts -->
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/mypage/changPw.js"></script>
<script src="/assets/js/fix/header.js"></script>
<script th:inline="javascript">
    const userNumber = [[${session.userNumber}]];
    console.log("세션 유저 번호 : " + userNumber);
    let userPw = document.querySelector('.userPw').value

    if(userNumber == null){
        alert("세션이 만료되어 로그인 페이지로 이동합니다");
        location.href = '/user/login';
    }

    function goEditProfile(){
        location.href = "/myPage/myPageEditProfile";
    }
    function goMyWork(){
        location.href = "/myPage/myPageMyWork";
    }
    function goChangePw(){
        location.href = "/myPage/myPageChangePw";
    }
    function goQuestion(){
        location.href = "/myPage/myPageQuestion";
    }
    function goQuit(){
        location.href = "/myPage/myPageQuit";
    }
    function goPayList(){
        location.href = "/myLibrary/payList?userNumber=" + userNumber;
    }

</script>
</html>