<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 작품 관리</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/editProfile.css}">
    <link rel="stylesheet" href="/assets/css/editProfile.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/mypage/myWork.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- 헤더 시작 -->
<th:block th:insert="/fix/header_word.html :: headFragment"/>

<!--헤더 이미지-->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>
<!-- 헤더 종료 -->
<div id="qwer">
<div id="allWrap" style="margin:0 auto;  padding-top: 20px; padding-bottom: 100px; zoom: 1.2;">
    <div class="profileWrap1">
        <div class="group">
            <div class="left_block">
                <ul class="liWrap">
                    <li class="li_top left">
                        <a class="menu" href="myPageEditProfile.html">프로필 수정</a>
                    </li>
                    <li class="left oned">
                        <a class="menu" href="myPageMyWork.html">내 작품 관리</a>
                    </li>
                    <li class="left">
                        <a class="menu" href="myPageChangePw.html">비밀번호 변경</a>
                    </li>
                    <li class="left">
                        <a class="menu" href="myPageQuestion.html">내 문의 내역</a>
                    </li>
                    <li class="left">
                        <a class="menu" href="myPageQuit.html">탈퇴 하기</a>
                    </li>
                    <li class="left">
                        <a class="menu" href="myPagePayList.html">결제</a>
                    </li>
                </ul>
            </div>
            <div class="right_block">
                <div class="">
                    <div class="profile_text"><strong>내 작품 관리</strong></div>
                    <table class="listWrap">
                        <tbody>
                        <tr>
                            <td class="active1 one" style="width: 25%">
                                <div class=""><a href="illust.html">내그림</a></div>
                            </td>
                            <td class="active1 one" style="width: 25%">
                                <div class="active">내 소설</div>
                            </td>
                            <td class="active2" style="width: 25%">
                                <div class="active">소설 통계</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- 통계 테이블-->
                    <div class="divTable minimalistBlack">
                        <div class="divTableHeading">
                            <div class="divTableRow">
                                <div class="divTableHead" style="width: 227.5px;">소설명</div>
                                <div class="divTableHead" style="width: 131.5px;">작가</div>
                                <div class="divTableHead" style="width: 118px;">회차 수</div>
                                <div class="divTableHead">총 결제 코인</div>
                                <div class="divTableHead">총 후원 코인</div>
                            </div>
                        </div>
                    </div>

                    <!--리스트 테이블-->
                    <div class="list">
                        <!--소설 정보 테이블-->
                        <div class="divTable minimalistBlack">
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div><img src="/images/close.png" class="close"><img src="/images/open.png" class="open" style="display: none"></div>
                                    <div class="divTableCell" style="width: 207px;">로맨스로맨스몲</div>
                                    <div class="divTableCell" style="width: 135px;">나나나</div>
                                    <div class="divTableCell" style="width: 120px;">308회</div>
                                    <div class="divTableCell">2,500,000c</div>
                                    <div class="divTableCell">4,000,000c</div>
                                </div>
                            </div>
                        </div>
                        <!--소설 정보 테이블 끝-->

                        <!--디테일 테이블-->
                        <div class="divTable minimalistBlack novel-detail" style="display: none;">
                            <div class="divTableHeading">
                                <div class="divTableRow">
                                    <div class="divTableHead">회차</div>
                                    <div class="divTableHead">조회수</div>
                                    <div class="divTableHead">결제 코인</div>
                                    <div class="divTableHead">후원 코인</div>
                                </div>
                            </div>
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="divTableCell">308회</div>
                                    <div class="divTableCell">3,000,000회</div>
                                    <div class="divTableCell">1,000,000c</div>
                                    <div class="divTableCell">1,000,000c</div>
                                </div>
                            </div>
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="divTableCell">307회</div>
                                    <div class="divTableCell">3,000,000회</div>
                                    <div class="divTableCell">1,000,000c</div>
                                    <div class="divTableCell">1,000,000c</div>
                                </div>
                            </div>
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="divTableCell">306회</div>
                                    <div class="divTableCell">3,000,000회</div>
                                    <div class="divTableCell">1,000,000c</div>
                                    <div class="divTableCell">1,000,000c</div>
                                </div>
                            </div>
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="divTableCell">305회</div>
                                    <div class="divTableCell">3,000,000회</div>
                                    <div class="divTableCell">1,000,000c</div>
                                    <div class="divTableCell">1,000,000c</div>
                                </div>
                            </div>
                        </div>
                        <!--디테일 테이블 끝-->
                    </div>
                    <!-- 리스트 테이블 끝-->

                    <!--리스트 테이블-->
                    <div class="list">
                        <!--소설 정보 테이블-->
                        <div class="divTable minimalistBlack">
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div><img src="/images/close.png" class="close"><img src="/images/open.png" class="open" style="display: none"></div>
                                    <div class="divTableCell" style="width: 207px;">로맨스로맨스몲</div>
                                    <div class="divTableCell" style="width: 135px;">나나나</div>
                                    <div class="divTableCell" style="width: 120px;">308회</div>
                                    <div class="divTableCell">2,500,000c</div>
                                    <div class="divTableCell">4,000,000c</div>
                                </div>
                            </div>
                        </div>
                        <!--소설 정보 테이블 끝-->

                        <!--디테일 테이블-->
                        <div class="divTable minimalistBlack novel-detail" style="display: none;">
                            <div class="divTableHeading">
                                <div class="divTableRow">
                                    <div class="divTableHead">회차</div>
                                    <div class="divTableHead">조회수</div>
                                    <div class="divTableHead">결제 코인</div>
                                    <div class="divTableHead">후원 코인</div>
                                </div>
                            </div>
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="divTableCell">308회</div>
                                    <div class="divTableCell">3,000,000회</div>
                                    <div class="divTableCell">1,000,000c</div>
                                    <div class="divTableCell">1,000,000c</div>
                                </div>
                            </div>
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="divTableCell">307회</div>
                                    <div class="divTableCell">3,000,000회</div>
                                    <div class="divTableCell">1,000,000c</div>
                                    <div class="divTableCell">1,000,000c</div>
                                </div>
                            </div>
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="divTableCell">306회</div>
                                    <div class="divTableCell">3,000,000회</div>
                                    <div class="divTableCell">1,000,000c</div>
                                    <div class="divTableCell">1,000,000c</div>
                                </div>
                            </div>
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="divTableCell">305회</div>
                                    <div class="divTableCell">3,000,000회</div>
                                    <div class="divTableCell">1,000,000c</div>
                                    <div class="divTableCell">1,000,000c</div>
                                </div>
                            </div>
                        </div>
                        <!--디테일 테이블 끝-->
                    </div>
                    <!-- 리스트 테이블 끝-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<th:block th:insert="/fix/footer.html :: footerFragment"/>
</body>
<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="/assets/js/mypage/myWork.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</html>