<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="//font.elice.io/EliceDigitalBaeum.css" rel="stylesheet">
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/mypage/editProfile.css" rel="stylesheet" type="text/css">
    <title>프로필 수정</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <style>

        @media(max-width: 1217px){
            #allWrap{
                display: flex;
                justify-content: center;
            }
            .left_block{
                display: none;
            }
        }
        @media(max-width: 414px){
            .right_block{
                width: 400px;
            }
        }

        @media (max-width: 850px) {
            #allWrap{
                text-align: center;
            }
        }
    </style>
</head>
<body>
<!-- 헤더 시작 -->
<th:block th:insert="fix/headerWord.html :: headFragment"/>

<!--헤더 이미지-->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>
<!-- 헤더 종료 -->
<div id="qwer">
<div id="allWrap" style="margin:0 auto; padding-top: 20px; padding-bottom: 50px; zoom: 1.2;">
    <div class="profileWrap1">
        <div class="group">
            <div class="left_block">
                <ul class="liWrap">
                    <li class="left left_top">
                        <a class="menu" href="javascript:goEditProfile();">프로필 수정</a>
                    </li>
                    <li class="left">
                        <a class="menu" href="javascript:goMyWork();">내 작품 관리</a>
                    </li>
                    <li class="left">
                        <a class="menu" href="javascript:goChangePw();">비밀번호 변경</a>
                    </li>
                    <li class="left">
                        <a class="menu" href="javascript:goQuestion();">내 문의 내역</a>
                    </li>
                    <li class="left">
                        <a class="menu" href="javascript:goQuit();">탈퇴 하기</a>
                    </li>
                    <li class="left">
                        <a class="menu" href="javascript:goPayList();">결제</a>
                    </li>
                </ul>
            </div>
            <div class="right_block">
                <div class="">
                    <div class="profile_text"><strong>프로필 수정</strong></div>
                    <div class="main">
                        <div class="set_myInfo top">
                            <strong class="profile id">아이디</strong>
                            <div class="profile_show"><div th:text="${userVO.userId}">아이디 자리</div></div>
                        </div>
                        <form action="/myPage/myPageEditProfile" method="post">
                            <div class="set_myInfo photo">
                                <strong class="profile picture">이미지</strong>
                                <div class="profile_show imgWrap">
                                    <img th:if="${userVO.userFilePath == 'stelling'}" src="/images/default.png" class="thumb imagePreview1"/>
                                    <img th:unless="${userVO.userFilePath =='stelling'}" class="thumb imagePreview1" style="width:110px;height: 110px" th:src="'/myPage/display?fileName='+ ${userVO.userFilePath}+'/'+${userVO.userUuid} + '_'+${userVO.userFileName}" >
                                    <div>
                                        <label for="imageSelector" class="iconClip">
                                            <img class="clip" src="/images/클립.png" height="15px"width="15px" />
                                        </label>
                                        <input type="file" class="hidden_input" id="imageSelector" name="imageSelector"
                                               accept="image/jpeg, image/jpg, image/png" style="display: none"/>
                                    </div>
                                    <div href="javascript:void(0);" class="dellink" id="dellink">
                                        <img class="icon" src="/images/휴지통.png" height="15px" width="15px" />
                                    </div>
                                </div>
                            </div>
                                <div class="set_myInfo emailWrap">
                                    <strong class="profile email">이메일</strong>
                                    <div class="profile_show"><input th:value="${userVO.userEmail}" name="userEmail" class="email" type="text" onchange="validEmail(this)" placeholder="이메일">
                                    <p class ="p" id="result_email"></p>
                                    </div>
                                </div>
                            <div class="set_myInfo ">
                                <strong class="profile nick">닉네임</strong>
                                <div class="profile_show"><input th:value="${userVO.userNickName}" name="userNickName" class="nick" type="text" onchange="validNick(this)" placeholder="2~10자리 이내로 적어주세요!">
                                    <p class ="p" id="result_nick"></p>
                                </div>
                            </div>
                            <div class="set_myInfo ">
                                <strong class="profile phone">휴대폰</strong>
                                <div class="profile_show"><input th:value="${userVO.userPhoneNum}" name="userPhoneNum" class="phone" type="text" onchange="validPhone(this)" placeholder="' - '없이 입력해주세요">

                                    <p class ="p" id="result_phone"></p>
                                </div>
                            </div>
                                <div class="changeBtnWrap">
                                    <button type="submit" class="btn profileChange">변경</button>
                                </div>
                            <input type="hidden" name="userFileName">
                            <input type="hidden" name="userFilePath">
                            <input type="hidden" name="userUuid">
                            <input type="hidden" name="userNumber" th:value="${session.userNumber}">
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<th:block th:insert="fix/footer.html :: footerFragment"/>
</body>
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/mypage/editProfile.js"></script>
<script src="/assets/js/fix/header.js"></script>
<script th:inline="javascript">
    const userNumber = [[${session.userNumber}]];
    console.log("세션 유저 번호 : " + userNumber);

    if(userNumber == null){
        alert("세션이 만료되어 로그인 페이지로 이동합니다");
        location.href = '/user/login';
    }

    function goEditProfile(){
        location.href = "/myPage/myPageEditProfile";
    }
    function goMyWork(){
        location.href = "/myPage/myPageMyWork";
    }
    function goChangePw(){
        location.href = "/myPage/myPageChangePw";
    }
    function goQuestion(){
        location.href = "/myPage/myPageQuestion";
    }
    function goQuit(){
        location.href = "/myPage/myPageQuit";
    }
    function goPayList(){
        location.href = "/myLibrary/payList";
    }

</script>
</html>