<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>내 작품 관리</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/editProfile.css}">
    <link rel="stylesheet" href="/assetscss/editProfile.css" type="text/css"/>
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/mypage/myWork.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- 헤더 시작 -->
<th:block th:insert="fix/headerWord.html :: headFragment"/>

<!--헤더 이미지-->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>
<!-- 헤더 종료 -->
<div></div>
<div id="qwer">
    <div id="allWrap" style=" margin:0 auto; padding-top: 20px; padding-bottom: 100px; zoom: 1.2;">
        <div class="profileWrap1">
            <div class="group">
                <div class="left_block">
                    <ul class="liWrap">
                        <li class="li_top left">
                            <a class="menu" href="javascript:goEditProfile();">프로필 수정</a>
                        </li>
                        <li class="left clicked">
                            <a class="menu" href="javascript:goMyWork();">내 작품 관리</a>
                        </li>
                        <li class="left">
                            <a class="menu" href="javascript:goChangePw();">비밀번호 변경</a>
                        </li>
                        <li class="left">
                            <a class="menu" href="javascript:goQuestion();">내 문의 내역</a>
                        </li>
                        <li class="left">
                            <a class="menu" href="javascript:goQuit();">탈퇴 하기</a>
                        </li>
                        <li class="left">
                            <a class="menu" href="javascript:goPayList();">결제</a>
                        </li>
                    </ul>
                </div>

                <div class="right_block">
                    <div>
                        <div class="profile_text"><strong>내 작품 관리</strong></div>
                        <table class="listWrap">
                            <tbody>
                            <tr>
                                <td class="active1 one" style="width: 25%">
                                    <div class="active"><a class="goIllustUserPage" href="javascript:goIllustUserPage();">내 그림</a></div>
                                </td>
                                <td class="active1" style="width: 25%">
                                    <div class="active myNovel"> 내 소설</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="myNovelList">
                            <th:block th:each="list:${list}">
                                <div class="my-item-list">
                                    <div class="my-item">
                                        <span class="tag-update">UP</span>
                                        <div class="item-img btn-num">
                                            <picture class="">
                                                <th:block th:if="${list.novelUploadPath==''}">
                                                    <img style="width:114px;height: 168px" th:src="${list.novelFileName}">
                                                </th:block>

                                                <th:block th:unless="${list.novelUploadPath==''}">
                                                    <img style="width:114px;height: 168px" th:src="'/myPage/display?fileName='+ ${list.novelUploadPath}+'/'+${list.novelFileName}">
                                                </th:block>
                                            </picture>
                                        </div>
                                        <!-- //item-img -->
                                        <div class="item-info" style="margin-left: 7px;padding: 8px;max-width: 276.36px;">
                                            <p class="item-title" onclick="" style="font-size: 18px;margin: 0 auto; font-weight: bold; color: #434343">
                                                <span class="genre" style="color: #ef6e73"  th:text="${list.novelTitle}">[로맨스]</span> 로맨스
                                            </p>
                                            <div class="item-detail1" style="display: flex; align-items: center; justify-content: flex-start; padding-top: 10px; font-size: 15px; color: #434343;">
                                                <img class="people" src="/images/people.png" style="width: 12px;">
                                                <span class="view" style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;" th:text="${list.novelViewCountTotal}">90만+</span>
                                                <span class="writer" th:text="${userVO.userNickName}">웹티, 올코</span>
                                            </div>
                                            <div class="item-detail2" style="display: flex; align-items: center; justify-content: flex-start; font-size: 15px; color: #434343;">
                                                <span style="border-right: 1px solid #bbb; margin-right: 5px; padding-right: 5px;" >총 편수 : 308</span>
                                                <span  th:text="|최근 등록일 : ${#dates.format(list.novelUploadDate, 'yyyy-MM-dd')}|">최근 등록일 : 2022-05-01</span>
                                            </div>
                                            <div class="item-button" style="margin-top: 3em;">
                                                <ul class="tag-title">
                                                    <li><a class="btn-view tag-list"  href="javascript:goNobelRegister();">업로드</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <!-- 페이징 -->
                    <div class="pagingWrap" style="text-align: center">
                        <div style="display: inline-block">
                            <ul class="c_PagingList" >
                                <!-- 이전 -->
                                <li th:if="${pageableDTO.hasPrev}"><a th:href="@{/myPage/myPageMyWork(page=${pageableDTO.startPage -2 }, userNumer=1)}" >&lt;&lt;</a></li>
                                <li th:if="${pageableDTO.pageNumber > 1}"><a th:href="@{/myPage/myPageMyWork(page=${pageableDTO.previous}, userNumer=1)}">&lt;</a></li>
                                <th:block th:each="num:${#numbers.sequence(pageableDTO.startPage,pageableDTO.endPage)}">
                                    <li  th:if="${pageableDTO.pageNumber== num}" th:text="${num}" class="pageActive"></li>
                                    <li th:unless="${pageableDTO.pageNumber == num}" ><a th:text="${num}" th:href="@{/myPage/myPageMyWork(page=${num - 1}, userNumer=1)}"></a></li>
                                </th:block>
                                <!-- 다음 -->
                                <li th:if="${pageableDTO.pageNumber < pageableDTO.realEnd}"><a class="novelChangePage" th:href="@{/myPage/myPageMyWork(page=${pageableDTO.next}, userNumer=1)}">&gt;</a></li>
                                <li th:if="${pageableDTO.hasNext}"><a th:href="@{/myPage/myPageMyWork(page=${pageableDTO.endPage})}">&gt;&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- 페이징 종료-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
<!-- Scripts -->
<th:block th:insert="fix/footer.html :: footerFragment"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/mypage/myWork.js"></script>
<script src="/assets/js/fix/header.js"></script>
<script th:inline="javascript">
    const userNumber = [[${session.userNumber}]];
    console.log("세션 유저 번호 : " + userNumber);

    if(userNumber == null){
        alert("세션이 만료되어 로그인 페이지로 이동합니다");
        location.href = '/user/login';
    }

    function goEditProfile(){
        location.href = "/myPage/myPageEditProfile";
    }
    function goMyWork(){
        location.href = "/myPage/myPageMyWork";
    }
    function goChangePw(){
        location.href = "/myPage/myPageChangePw";
    }
    function goQuestion(){
        location.href = "/myPage/myPageQuestion";
    }
    function goQuit(){
        location.href = "/myPage/myPageQuit";
    }
    function goPayList(){
        location.href = "/myLibrary/payList";
    }
    function goIllustUserPage(){
        location.href = "/illust/illustProfileCheck2";
    }
    function goNobelRegister() {
        location.href = "/novel/novelRegister";
    }


</script>
</html>