html, body {
    font-family: "Elice Digital Baeum",sans-serif;
}
ul.liWrap{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li.left{
    font-size: 15px;
    font-weight: 400;
    color: inherit;
    display: block;
    word-break: break-all;
    letter-spacing: -0.2px;
    border-bottom: 1px solid #e8e9ed;
}
a.menu{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
#allWrap{
    display: inline-block;
    margin: 30px 0 auto;
    /*border-top: 1px solid #e8e9ed;*/
    width : 100%;
    max-width: 1200px;
    zoom: 1.2;
}
.main{
    border-bottom: 1px solid #e8e9ed;
}
.left_block{
    float: left;
    box-sizing: border-box;
    width: 230px;
    margin-right: 90px;
}
.li_top{
    border-top: 1px solid #e8e9ed;
}
.right_block{
    float: left;
    width: 680px;
}
.profile_text{
    font-size: 32px;
    padding-bottom: 30px;
}
.profile{
    float: left;
}
.set_myInfo{
    padding: 31px 0 31px 5px;
    border-bottom: 1px solid #e8e9ed;
}
.set_myInfo.top{
    border-bottom: 1px solid #e8e9ed;
    border-top: 2px solid black;
}
.profile.pw, .newPw{
    display: inline;
    width: 180px;
    height: 28px;
}
.wrap_btn{
    text-align: center;
    padding: 50px 0 70px;
}
/*.left_block ul li.li_top>a{*/
/*    background:  #ef6e73;*/
/*    color: white;*/
/*}*/
.left_block ul li:hover>a{
    background: #ef6e73b3;
    color: white;
    text-decoration: none;
}
.left_block ul li>a{
    font-size: 14px;
    font-weight: 400;
    color: inherit;
    display: block;
    padding: 16px 30px 16px 15px;
    word-break: break-all;
    letter-spacing: -0.2px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
div input{
    width: 227px;
    height: 22px;
    border: 1px solid #e8e9ed;
}
div input:focus{
    border-color: #ef6e73;
    outline: none;
}
.wrap_btn_save{
    width: 80px;
    height: 35px;
    border: 0;
    outline: 0;
    background: #ef6e73;
    color: white;
    font-size: 17px;
    border-radius: 10px;
}
.clicked {
    background: #ef6e73b3;
    border-bottom: 1px solid #ef6e73b3;
    color: white;
}
#result_NewPw, #result_reNewPw{
    font-size: 13px;
    margin: 0;
}
#qwer{
    max-width: 1200px;
    margin-bottom: 40px;
    margin: 0 auto;
}
.userPwEq{
    margin: 0;
    padding: 0;
    font-size: 13px;
}

