html, body {
    font-family: "Elice Digital Baeum",sans-serif;
}
ul.liWrap{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li.left{
    font-size: 15px;
    font-weight: 400;
    color: inherit;
    display: block;
    word-break: break-all;
    letter-spacing: -0.2px;
    border-bottom: 1px solid #e8e9ed;
}

a.menu{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#allWrap{
    display: inline-block;
    margin: 30px 0 auto;
    /*border-top: 1px solid #e8e9ed;*/
    width : 100%;
    max-width: 1200px;
}
.li_top{
    border-top: 1px solid #e8e9ed;
}
.left_block{
    float: left;
    box-sizing: border-box;
    width: 230px;
    margin-right: 90px;
}
.right_block{
    float: left;
    width: 680px;
}
.profile_text{
    font-size: 32px;
    padding-bottom: 30px;
}
.questions_table{
    border-top: 2px solid black;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
td{
    border-top: 1px solid #e8e9ed;
    border-bottom: 1px solid #e8e9ed;
    border-right: 1px solid #e8e9ed;
    height: 40px;
    margin: 0;
    padding: 0;
}
th{
    border-right: 1px solid #e8e9ed;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    height: 30px;
}
.td_end, .th_end{
    border-right: none;
}
.current{
    padding-top: 20px;
    text-align: center;
}
code{
    border-radius: 4px;
    border: solid 1px #ef6e73;
    font-size: 0.9rem;
    margin: 0 0.25rem;
    padding: 0.25rem 0.65rem;
}
/*.left_block ul li.li_top>a{*/
/*    background:  #ef6e73;*/
/*    color: white;*/
/*}*/
.left_block ul li:hover>a{
    background:  #ef6e73b3;
    color: white;
    text-decoration: none;
}
.left_block ul li>a{
    font-size: 14px;
    font-weight: 400;
    color: inherit;
    display: block;
    padding: 16px 30px 16px 15px;
    word-break: break-all;
    letter-spacing: -0.2px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.clicked {
    background: #ef6e73b3;
    border-bottom: 1px solid #ef6e73b3;
    color: white;
}
.writingWrap{
    text-align: end;
    margin-bottom: 10px;
}
.writingBtn{
    border: 1px solid #ef6e73;
    border-radius: 4px;
    background: #ef6e73;
    color: white;
    font-weight: 600;
    padding: 2px;
}
#qwer{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.c_PagingList{
    list-style: none;
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
}