
/*행복한 도비 손글씨*/
/*font-family: 'NanumHaengBogHanDoBi';*/
/*font-family: 'Noto Sans KR', sans-serif;*/
* {
    font-family: "Elice Digital Baeum", sans-serif;
}

.menuBar {
    width: 44%;
    height: 62px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    width: 100%;
    height: 100%;
}

.arrowIconWrap {
    width: 30px;
    padding-top: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.novelTitle {
    display: flex;
    align-items: center;
    margin-right: -81px;
    margin-left: -16px;
}

.heartIcon {
    width: 30px;
    margin-right: 12px;
    height: 32px;
    cursor: pointer;
}

.bellIcon {
    width: 28px;
    height: 31px;
    margin-right: 14px;
    padding-top: 1px;
    cursor: pointer;

}

.listIcon {
    width: 29px;
    height: 29px;
    cursor: pointer;
    padding-top: 2px;
}

.icons {
    display: flex;
    padding-left: 64px;
}

.novelRoundTitle {
    font-size: 18px;
}

.novelContentwrap {
    width: 100%;
    max-width: 741px;
    margin: 0 auto;
    /*background-color:lightgray;*/
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 69px;
    background-color: rgba(255, 255, 255, 0);

}

.novelContent {
    width: 99.5%;
    /* background-color: pink; */
    resize: none;
    font-size: 22px;
    border: none;
    overflow-y: hidden;
    word-spacing: 6px;
    letter-spacing: 3px;
    line-height: 40px;
    margin-bottom: 134px;
}

textarea:focus {
    outline: none;
}

.displayBottom {
    position: fixed;
    bottom: 0;

    background-color: white;
    width: 100%;

}

.whiteLine {
    width: 100%;
    height: 30px;
    background-color: white;

}

.whiteLine2 {
    position: fixed;
    top: 62px;
}

.bottomNav {
    width: 100%;
    height: 75px;
    border: 1px solid gray;
    background-color: white;
    margin-left: -9px;
}

.span {
    color: gray;
    display: inline-block;
    transform: scaleY(1.7);
}

.bottomIcon {
    width: 38px;
    height: 34px;
    cursor: pointer;

}

.icons2 {
    display: flex;
    width: 44%;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 8px;
}

.textIcon {
    width: 54px;
    margin-right: -28px;
    font-size: 14px;
}

.textIcon2 {
    margin-right: -23px;
}

.textModal {
    width: 372px;
    height: 287px;
    background-color: white;
    border: 1px solid gray;
    position: fixed;
    bottom: 76px;
    right: 538px;
    border-radius: 20px;
    padding-top: 1px;
    float: left;
    overflow: hidden;
    padding-right: 21px;
    display: none;
}

.textModal_column {
    width: 100%;
    height: 36px;
    padding-top: 11px;
    padding-left: 26px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8080804f;

}

.colorDiv {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-right: 12px;
    margin-top: -4px;
    cursor: pointer;
}

.columnDiv {
    display: flex;
    margin-right: 14px;
}

.plusMinusDiv {
    width: 72px;
    border: 2px solid #C0C0C0;
    padding: 3px;
    height: 23px;
    margin-top: -3px;
    border-radius: 19px;
    margin-right: 26px;
}

.plusIcon {
    width: 20px;
    height: 19px;
    padding-left: 8px;
    margin-top: 1.5px;
    cursor: pointer;
}

.minusIcon {
    width: 19px;
    height: 20px;
    padding-right: 8.5px;
    padding-left: 8px;
    margin-top: 2px;
    border-right: 2px solid #C0C0C0;
    cursor: pointer;
}

.fontSelect {
    margin-top: -3px;
    height: 31px;
    width: 104px;
    border: none;
}

.fontSelect:focus {
    outline: none;
}

/*스위치 버튼*/
.wrapper {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 39px;
    margin-top: -3.5px;
}

#switch {
    position: absolute;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 58px;
    height: 28px;
    background: #fff;
    border: 2px solid #C0C0C0;
    border-radius: 20px;
    transition: 0.2s;
}

.switch_label:hover {
    background: #efefef;
}

.onf_btn {
    position: absolute;
    top: 4px;
    left: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #C0C0C0;
    transition: 0.2s;
}

/* checking style */
#switch:checked + .switch_label {
    background: #ef6e73;
    border: 2px solid #ef6e73;
}

#switch:checked + .switch_label:hover {
    background: #ef6e73;
}

/* move */
#switch:checked + .switch_label .onf_btn {
    left: 34px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}

/*------------------------------------------*/

.count1, .count2 {
    color: #b8b8b8;
    font-size: 12px;
}

.sidebar {
    padding-top: 11px;
    width: 358px;
    border: 1px solid #d2d2d2;
    height: 99%;
    background-color: white;
    position: fixed;
    top: 0;
    right: -400px;
    border-radius: 20px 0px 0px 20px;
    overflow-y: scroll;

}

.side-row {
    width: 91%;
    height: 52px;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    padding-left: 29px;
    padding-top: 9px;
}

.day {
    font-size: 13px;
    color: silver;
}

.side-row:hover {
    cursor: pointer;
    background-color: #ef6e73;
    color: white;

}

body {
    overflow-x: hidden;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 20px;
}

.ments {
    width: 115%;
    margin-left: -92px;
    padding: 0px 40px 40px 40px;
    /*box-shadow: 2px 7px 16px 9px #80808061;*/
    border-radius: 13px;
    margin-bottom: 300px;

}

.profilePlusText {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px dashed darkgrey;
    justify-content: space-between;
}

.p2 {
    font-size: 17px;
    margin-top: -1px;
    margin-bottom: 18px;
}

.span2 {
    font-size: 13px;
    color: #acacac;
}

.date {
    font-size: 13px;
    color: silver;
    margin-left: 27px;
}

.writeMent{
    width: 100%;
    height: 94px;
    margin-bottom: 9px;

}
.writeMentarea{
    width: 95.5%;
    height: 52% !important;
    resize: none;
    padding: 18px;
    font-size: 17px;
}
.send{
    width: 77px;
    height: 32px;
    text-align: center;
    line-height: 1.8;
    border-radius: 9px;
    background-color: #ef6e73;
    color: white;
    border: none;
    cursor:pointer;
}
.pinkCheck{
    width: 25px;
    height: 25px;
}
.grayCheck{
    width: 25px;
    height: 25px;
}
.flex{
    display: flex;
}
.writerMent{
    width: 109.5%;
    height: 159px;
    margin-left: -55px;
    padding-left: 22px;
    margin-bottom: 40px;
    padding-top: 9px;
    padding-bottom: 26px;
    padding-right: 22px;
    border: 1px solid #9b9b9b;
}
.hr{
    width: 99.5%;
    margin-left: -1px;
}
.pink, .gray{
    cursor: pointer;
}
.mentBtns{
    background-color: white;
    border: 1px solid #86868666;
    width:max-content;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    height: 32px;
    cursor: pointer;
}

.Best{
    width: 31px;
    height: 16px;
    background-color: #ef6e73;
    color: white;
    position: absolute;
    top: 6px;
    left: 0px;
    font-size: 11px;
    padding: 2px 2px 3px 2px;
    text-align: center;
    border-radius: 8px;
}
