body{
    margin: 0;
    font-family: 'Noto Sans KR','Nanum Gothic',"Roboto","Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    word-break: break-all;
    background-color: #fff;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

*, ::before, ::after
{
    box-sizing: inherit;
}

table{
    border-collapse: collapse;
}

.scale{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.novelBox{
    margin-right: 6px;
}

img{
    vertical-align: middle;
    border-style: none;
}

.cut_line_one{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.4em;
    height: 1.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.thumb_s1{
    position: absolute;
    left: 1px;
    top: 21px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
    font-weight: 500;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}

.select.form-control:not([size]):not([multiple]){
    height: calc(2.39375rem + 2px);
}

.form-control{
    border-radius: 0;
    background-color: #f8f9fa;
    display: block;
    width: 100%;
    padding: 0.65rem 0.75rem;
    font-size: .875rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out .15s;
}

a{
    transition: all .2s ease-in-out;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
    transition: all .2s ease-in-out;
}

.menu_alarm td{
    text-align: center;
    width: 25%;
}

.menu_alarm a{
    color: #000;
    font-size: 16px;
    letter-spacing: -1px;
    text-align: center;
    width: 100%;
    height: 60px;
    display: block;
    line-height: 60px;
}

#submenu_bar{
    padding-bottom: 6px;
}

/* .flex-column{
    flex direction: column!important;
} */

.nav{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ol, ul, dl{
    margin-top: 0;
    margin-bottom: 0;
}

button, html [type="button"], [type="reset"], [type="submit"]{
    -webkit-appearance: button;
}

.btn_genre_search{
    width: 75px;
    height: 33px;
    color: #000;
    border: 1px solid #ddd;
    font-size: 12px;
    background: url(https://image.novelpia.com/img/new/menu/w/search.png) no-repeat 8px center #fafafa;
    background-size: 13px;
    padding: 0 0 0 15px;
    margin-right: 10px;
}

button, select{
    text-transform: none;
}

button, input{
    overflow: visible;
}

input, button, select, optgroup, textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a, area, button, [role="button"], input, label, select, summary, textarea{
    touch-action: manipulation;
}

#submenu_bar .active{
    background-color: #ef6e73;
}

.nav-pills .nav-link.active, .show > .nav-pills .nav-link{
    color: #fff;
}

.nav-pills .nav-link{
    border-radius: 2px;
}

.nav-link{
    padding: 0.3rem 0.7rem;
    display: block;
    padding: 0.5rem;
    color: #343a40;
}

tr.border-bottom{
    border-bottom: 1px solid #dddddd;
}

.pc-page{
    margin-top: 10px;
    margin-bottom: 70px;
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
}

.pc-page ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pc-page a{
    color: #ef6e73;
}

.pagenation-group li{
    display: inline-block;
    width: auto;
    height: 32px;
    min-width: 20px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    color: #898989;
    font-size: 14px;
    line-height: 30px;
    padding: 0 8px;
}



a{
    text-decoration: none;
}

.clicked_menu{
    background-color: #ef6e73;
    color: white;
}

/*모달*/

#search_modal {
    display: none;
    width: 350px;
    padding: 20px 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}

#search_modal .modal_close_btn {
    position: absolute;
    bottom: 35px;
    right: 30px;
    width: 15%;
    color: #222;
    border: 1px solid #ddd;
    height: 50px;
}

.basic-modal-top{
    padding-bottom: 15px;
}

.basic-modal-top .tab-search-tit{
    font-size: 16px;
    font-weight: 500;
}

.tag_contents input.tag_search_box{
    border: 1px solid #ddd;
    height: 50px;
    line-height: 50px;
    width: 93%;
    outline: none;
    padding: 0 10px;
}

.tag_search{
    width: 70%;
    border: 1px solid #222;
    background: #222;
    color: #fff;
    height: 50px;
}

#no_genre_search_history{
    text-align: center;
}

/*이건 왜 안된거야?!!*/
/* .tdmenu > a.menu-select{
    border-bottom: 1px soild black;
} */

a.click-menu.menu-select{
    border-bottom: 2px solid #ef6e73;
}

.category_ul{
    padding-left: 0px;
}

div#searchFormWrap{
    display: none;
}

#searchForm{
    display: flex;
    align-items: center;
    gap: 3px;
}

div.cancelImg{
    width: 18px;
    cursor: pointer;
}

div.cancelImg img{
    width: 100%;
}

#searchForm input{
    width: 209px;
    height: 31px;
    border-top: none;
    border-left: none;
    border-right: none;
}

@media (max-width: 400px){
    .flex-md-row{
        flex-direction: row!important;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
    }

    .mobile_hidden{
        display: none;
    }

    .novelBox{
        position: relative;
        float: left;
        width: 115px;
    }

    .scale{
        height: 170px !important;
        width: 115px !important;
        background-position: center;
    }

    .mobile_category{
        position: relative;
        padding: 0px 5px !important;
        border-bottom: 1px solid #eee;
        width: 377px;
    }

    .nav-link{
        display: block;
        width: fit-content;
        padding: 3px;
    }

    .row{
        padding: 5px;
        margin-left: 10px;
    }

    .btn_genre_search{
        display: block;
        margin-left: 11px;
        width: 330px;
    }
    
    .novel{
        padding: 0 !important;
    }

    tr.border-bottom{
        border: none;
    }

    .thumb_s1{
        top: 1px;
        line-height: 21px;
        height: 20px;
        width: 20px;
    }

    .writer{
        margin-top: 0px;
        border-bottom: 1px solid #ddd;
        font-size: 10px !important;
    }

    .cut_line_one{
        font-size: 10px !important;
    }

    .border-bottom > td{
        display: inline-block;
        margin-top: -5px;
        width: 100%;
    }

    .category_ul{
        flex-wrap: wrap;
        padding: 11px;
    }
}