<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>개인정보 취급 방침</title>
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <style>
        body{
            background: #f2f2f2;
        }

        .content-text{
            width: 1200px;
            margin: 0 auto;
            background: #fff;
            padding: 50px 40px;
        }

        h3{
            text-align: center;
        }
    </style>
</head>
<body>
<!-- 헤더 시작 -->
<th:block th:insert="fix/headerWord.html :: headFragment"/>

<!--헤더 이미지-->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>
<!-- 헤더 종료 -->

<div class="content-text">
    <h3>개인정보 취급 방침</h3><br>
    (주)스텔링는 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보보호법, 통신비밀보호법, 전기통신사업법, 등 정보통신서비스제공자가 준수하여야 할 관련 법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보처리방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다.<br>
    <br>
    <br>
    <p class="title">1. 개인정보의 수집 / 이용목적 / 수집항목</p><br>
    (주)스텔링('회사')은 다음과 같은 목적을 위하여 사용자 동의에 의하여 개인정보를 수집하고 있으며, 수집하는 개인정보 항목에 따른 구체적인 수집목적 및 이용목적은 다음과 같습니다. 또한 네이버, 카카오톡, 페이스북, 구글 등 소셜로그인 계정을 통하여 로그인하는 경우에도 회사의 개인정보 취급방침에 동의하는 것으로 간주합니다.<br>
    <br>
    - 계정 정보: 이메일, 전화번호, 이름<br>
    - 회원 서비스 제공, 서비스 이용문의 본인확인, 분쟁 조정을 위한 기록 보존.<br>
    - 모바일 결제 정보: 성공한 결제 내역 정보<br>
    - 웹 결제 정보: 계약된 PG사에 전달된 결제 정보<br>
    - 성인 인증 정보: 실명과 성별, 생년월일 등 대한민국 정부에서 공인한 기관에서 요청한 정보<br>
    - 이용 현황 파악을 위한 로그 데이터: IP정보, 디바이스 또는 브라우저 정보, 조회된 도메인, 방문 웹페이지, 이용 통신사 구분, 이용 기록, 불량 이용 기록<br>
    - SNS 연동 정보: SNS에서 제공하는 사용자의 계정 정보 등 연동되는 SNS에서 허용하는 모든 정보 (지원 SNS는 운영에 따라 변경 가능합니다.)<br>
    - 제휴서비스 포인트 적립 및 사용 : ㈜포인트파크, 오케이캐쉬백 카드 정보 등<br>
    - 마케팅 이용: 메일 또는 휴대폰을 통한 중요 공지사항 및 프로모션, 알림톡, 무료충전소 참여 방법, 이벤트 참여 내용, 이벤트 참여기회 제공, 광고 전달<br>
    <br>
    <p class="title">2. 개인정보 처리 위탁</p><br>
    회사는 서비스 향상을 위해서 아래와 같이 개인정보를 위탁하고 있으며, 관계 법령에 따라 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 있습니다.<br>
    <br>
    수탁업체<br>
    - (주)다우데이터, (주)다우기술, KCP. SK플래닛, 다날: 결제처리, 무통장입금, 계좌이체, 신용카드 등의 결제수단<br>
    - (주)스마트미: 문자전송 서비스<br>
    - (주)코리아크레딧뷰로 : 휴대폰 및 아이핀 본인인증 및 성인인증에 대한 서비스<br>
    <br>
    <p class="title">3. 이용자 및 법정대리인의 권리와 그 행사방법</p><br>
    - 이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며, 회사의 개인정보의 처리에 동의하지 않는 경우 동의를 거부하거나 가입해지(회원탈퇴)를 요청하실 수 있습니다. 단, 그러한 경우 서비스의 일부 또는 전부 이용이 어려울 수 있습니다.<br>
    - 이용자 혹은 만 14세 미만 아동의 개인정보 조회, 수정을 위해서는 '개인정보변경'(또는 '회원정보수정' 등)을, 가입해지(동의철회)를 위해서는 '회원탈퇴'를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다.<br>
    - 혹은 개인정보 보호책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.<br>
    - 이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.<br>
    <br>
    <br>
    <p class="title">4. 개인정보 자동 수집 장치의 설치 / 운영 및 거부에 관한 사항</p><br>
    회사의 쿠키 사용 목적<br>
    - 이용자들이 방문한 회사의 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 검색어, 보안접속 여부, 이용자 규모 등을 파악하여 이용자에게 광고를 포함한 최적화된 맞춤형 정보를 제공하기 위해 사용합니다.<br>
    쿠키의 설치/운영 및 거부<br>
    - 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 이용자는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.<br>
    - 다만, 쿠키의 저장을 거부할 경우에는 로그인이 필요한 일부 서비스는 이용에 어려움이 있을 수 있습니다.<br>
    - 쿠키 설치 허용 여부를 지정하는 방법(Internet Explorer의 경우)은 다음과 같습니다.<br>
    ① [도구] 메뉴에서 [인터넷 옵션]을 선택합니다.<br>
    ② [개인정보 탭]을 클릭합니다.<br>
    ③ [개인정보처리 수준]을 설정하시면 됩니다.<br>
    <br>
    <br>
    <p class="title">5. 개인정보의 파기</p><br>
    회사는 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 하지만 관계 법령 등으로 보존 필요가 있는 경우 일정 기간 보관합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.<br>
    - 파기절차: 이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.<br>
    - 파기기한: 이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.<br>
    <br>
    <br>
    <p class="title">6. 개인정보 보호책임자 작성</p><br>
    ① 회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.<br>
    <br>
    ▶ 개인정보 보호책임자<br>
    성명 : 오류고쳐조<br>
    직책 : 서비스 운영팀장<br>
    연락처 : 1234-5678<br>
    이메일 : stelling@stelling.com<br>
    <br>
    ② 정보주체께서는 회사의 서비스를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자에게로 문의하실 수 있습니다. 회사는 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.</div>
<th:block th:insert="fix/footer.html :: footerFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/fix/header.js"></script>
</html>