<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일러스트레이터 페이지 작성 페이지</title>
    <link href="//font.elice.io/EliceDigitalBaeum.css" rel="stylesheet">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/illust/illustratorWritePage.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- 헤더 시작 -->
<th:block th:insert="fix/headerWordIllust.html :: headIllustFragment"/>
<div id="headerImgWrap" >
    <img id="headerImg" src="/images/배너2.png">
</div>

<!--헤더 이미지-->
<!--<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>-->
<!-- 헤더 종료 -->
<div style="width : 100%;   max-width:1200px ; margin:0 auto; padding-top: 100px; padding-bottom: 100px; margin-top: -108px;">


    <form method="post" action="/illust/register">
    <!--유저 프로필 사진-->
    <div style="margin-top: 129px">
        <th:block th:object="${user}">
    <div>
        <th:block th:if="${user.userFilePath} == 'stelling'">
        <div class="profilePicture">
            <img th:src="'/upload/display?fileName='+${user.userFilePath}+'/'+${user.userUuid}+'_'+${user.userFileName}" height="100%" width="100%"/>

            <p class="changeImageText">※ 이미지 변경은 마이페이지에서 가능합니다.</p>
        </div>
        </th:block>
        <th:block th:unless="${user.userFilePath} == 'stelling'">
            <div class="profilePicture">
                <img th:src="'/upload/display?fileName='+${user.userFilePath}+'/'+${user.userUuid}+'_'+${user.userFileName}"   height="100%" width="100%"/>
                <p class="changeImageText">※ 이미지 변경은 마이페이지에서 가능합니다.</p>
            </div>
        </th:block>
    </div>
    <!--유저 아이디-->


    <div style="margin-top: 50px;" >
        <div class="divs">

                <div class="inputFlex">
                    <p class="infoText">로그인 ID</p>
                    <p><input name="id" type="text" th:value="*{userId}" class="inputCss" readonly></p>
                </div>
                <div class="inputFlex">
                    <p class="infoText">닉네임</p>
                    <p><input name="nickName" type="text" th:value="*{userNickName}" class="inputCss" readonly></p>
                </div>

              <!--  <div class="inputFlex">
                    <p class="infoText">이메일</p>
                    <p><input type="text" class="inputCss" placeholder="프로필 페이지에 표시할 이메일을 작성하세요"></p>
                </div>-->
                <div class="inputFlex" style="margin-top: 14px; line-height: 0;">

                    <div class="textLengthWrap">
                        <p class="infoText">*짧은소개</p>
                        <div class="textbox2">
                            <span class="textCount">0자</span>
                            <span class="textTotal">/50자</span>
                        </div>
                    </div>
                    <textarea name="illustProfileShortIntro" id="textBox"  maxlength="50" placeholder="50자 내로 입력해주세요"></textarea>
                </div>

                <div class="inputFlex" style="margin-top: 14px; line-height: 0;">
                    <div class="textLengthWrap position">
                        <div class="infoques">
                        <img src="/images/icon/물음표.png" height="24px" width="24px" class="ques"/>

                            <img src="/images/icon/말풍선.png" class="chatImg"/>
                            <p class="quesInfo1">작업 내용이나 수상경력</p>
                            <p class="quesInfo2">을 적어주세요. </p>
                        </div>
                        <p class="infoText">자세한 소개
                        </p>
                        <div class="textbox2">
                            <span class="textCount2">0자</span>
                            <span class="textTotal2">/600자</span>
                        </div>
                    </div>

                    <div>
                    <textarea name="illustProfileDetailIntro" id="textBox2"  maxlength="600" placeholder="600자 내로 입력해주세요"></textarea>
                    </div>
                </div>

            <div class="inputFlex">
                <p class="infoText">*주 활동영역</p>
                <select name="illustProfileCategory" id="" class="inputCss select">
                    <option value="" style="color: gray" selected disabled hidden> 카테고리</option>
                    <option value="#동화">동화</option>
                    <option value="#시티팝">시티팝</option>
                    <option value="#디즈니감성">디즈니 감성</option>
                    <option value="#지브리감성">지브리 감성</option>
                    <option value="#수채화">수채화</option>
                    <option value="#흑백">흑백</option>
                    <option value="#배경화">배경화</option>
                    <option value="#캐릭터">캐릭터</option>
                    <option value="#추상화">추상화</option>
                    <option value="#인물화">인물화</option>
                </select>
            </div>



            <div class="inputFlex">
                    <p class="infoText">웹사이트</p>
                    <p><input name="illustProfileWebSite" type="text" class="inputCss intpuCss2" ></p>
                </div>
         </div>
            <div style="text-align: center;">
                <button class="webSite">+ 입력 박스 추가</button>
            </div>

    </div>

        <hr class="hr">
        <p class="text3">※ 귀하의 프로필 정보는 Stelling서비스 제공을 위해 수집되며, 회원 탈퇴 또는 삭제시까지 보유됩니다.</p>

        <div class="clearBtn">
        <button class="finishBtn" type="submit">프로필 작성 완료</button>
        <button class="cancleBtn">취소</button>
        </div>



        </th:block>
    </div>
    </form>

</div>

<th:block th:insert="fix/footer.html :: footerFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/fix/header.js"></script>
<script src="/assets/js/illust/illustratorWritePage.js">


</script>
</html>