<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일러스트 카테고리 리스트</title>
    <meta name="viewport" content="width=device-width" />
    <link href="//font.elice.io/EliceDigitalBaeum.css" rel="stylesheet">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/illust/illustCategoryList.css" rel="stylesheet" type="text/css">

</head>
<body>
<!-- 헤더 시작 -->
<th:block th:insert="fix/headerWordIllust.html :: headIllustFragment"/>

<!--헤더 이미지-->
<!--<div id="headerImgWrap" >-->
<!--    <img id="headerImg"src="/images/fix/headerImg_3.png" >-->
<!--</div>-->
<!-- 헤더 종료 -->
<div style="width : 100%;   max-width:1200px ; margin:0 auto; padding-top: 18px;">
<p class="Title2">Category List</p>
<div style="display: flex; justify-content: space-between;">
    <div>
        <button class="hashtag" th:text="|#${keyword}|">#인물화</button>
    </div>

    <div>
        <select name="" id="" class="selectBox">
            <option value="">인기순</option>
            <option value="">최신순</option>
        </select>
    </div>
</div>

<div class="flex2 wrap" style="background-color: #EAEAEA;">
    <div class="box">
        <div class="column cellCss">
            <th:block th:each="list, index:${list}" th:if="${index.index} == 0 or ${index.index} % 5 == 0">
                <a class="goRead" th:href="@{/illust/illustViewDetail(userNumber=${list.userVO.userNumber}, illustNumber=${list.illustNumber})}">
                    <div class="column cellCss">
                        <img th:src="'/illust/illustImg?fileName='+${list.illustFilePath}+'/'+${list.illustFileName}" class="testWidth" />
                        <span class="heart">❤<span style="font-size: 12px;" th:text="${list.illustLike}">1,213</span></span>
                    </div>
                </a>
            </th:block>
        </div>
    </div>
    <div class="box">
        <div class="column cellCss">
            <th:block th:each="list, index:${list}" th:if="${index.index} % 5 == 1">
                <a class="goRead" th:href="@{/illust/illustViewDetail(userNumber=${list.userVO.userNumber}, illustNumber=${list.illustNumber})}">
                    <div class="column cellCss">
                        <img th:src="'/illust/illustImg?fileName='+${list.illustFilePath}+'/'+${list.illustFileName}" class="testWidth" />
                        <span class="heart">❤<span style="font-size: 12px;" th:text="${list.illustLike}">1,213</span></span>
                    </div>
                </a>
            </th:block>
        </div>
    </div>
    <div class="box">
        <div class="column cellCss">
            <th:block th:each="list, index:${list}" th:if="${index.index} % 5 == 2">
                <a class="goRead" th:href="@{/illust/illustViewDetail(userNumber=${list.userVO.userNumber}, illustNumber=${list.illustNumber})}">
                    <div class="column cellCss">
                        <img th:src="'/illust/illustImg?fileName='+${list.illustFilePath}+'/'+${list.illustFileName}" class="testWidth" />
                        <span class="heart">❤<span style="font-size: 12px;" th:text="${list.illustLike}">1,213</span></span>
                    </div>
                </a>
            </th:block>
        </div>
    </div>
    <div class="box">
        <div class="column cellCss">
            <th:block th:each="list, index:${list}" th:if="${index.index} % 5 == 3">
                <a class="goRead" th:href="@{/illust/illustViewDetail(userNumber=${list.userVO.userNumber}, illustNumber=${list.illustNumber})}">
                    <div class="column cellCss">
                        <img th:src="'/illust/illustImg?fileName='+${list.illustFilePath}+'/'+${list.illustFileName}" class="testWidth" />
                        <span class="heart">❤<span style="font-size: 12px;" th:text="${list.illustLike}">1,213</span></span>
                    </div>
                </a>
            </th:block>
        </div>
    </div>
    <div class="box">
        <div class="column cellCss">
            <th:block th:each="list, index:${list}" th:if="${index.index} % 5 == 4">
                <a class="goRead" th:href="@{/illust/illustViewDetail(userNumber=${list.userVO.userNumber}, illustNumber=${list.illustNumber})}">
                    <div class="column cellCss">
                        <img th:src="'/illust/illustImg?fileName='+${list.illustFilePath}+'/'+${list.illustFileName}" class="testWidth" />
                        <span class="heart">❤<span style="font-size: 12px;" th:text="${list.illustLike}">1,213</span></span>
                    </div>
                </a>
            </th:block>
        </div>
    </div>
</div>

    <!-- 페이징 -->
    <ul class="c_PagingList" >
        <!-- 이전 -->
        <li th:if="${pageableDTO.hasPrev}"><a th:href="@{/illust/illustCategory(page=${pageableDTO.startPage -2 })}" >&lt;&lt;</a></li>
        <li th:if="${pageableDTO.pageNumber > 1}"><a th:href="@{/illust/illustCategorypage=${pageableDTO.previous})}">&lt;</a></li>


        <th:block th:each="num:${#numbers.sequence(pageableDTO.startPage,pageableDTO.endPage)}">
            <li  th:if="${pageableDTO.pageNumber== num}" th:text="${num}" class="pageActive"></li>
            <li th:unless="${pageableDTO.pageNumber == num}" ><a th:text="${num}" th:href="@{/illust/illustCategory(page=${num - 1})}"></a></li>
        </th:block>


        <!-- 다음 -->
        <li th:if="${pageableDTO.pageNumber < pageableDTO.realEnd}"><a class="novelChangePage" th:href="@{/illust/illustCategory(page=${pageableDTO.next})}">&gt;</a></li>
        <li th:if="${pageableDTO.hasNext}"><a th:href="@{/illust/illustCategory(page=${pageableDTO.endPage)}">&gt;&gt;</a></li>
    </ul>

</div>
<th:block th:insert="fix/footer.html :: footerFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/fix/header.js"></script>
</html>