<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일러스트 작가 페이지</title>
    <meta name="viewport" content="width=device-width" />
    <link href="//font.elice.io/EliceDigitalBaeum.css" rel="stylesheet">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/illust/illustUserPage.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- 헤더 시작 -->
<th:block th:insert="fix/headerWordIllust.html :: headIllustFragment"/>

<!--헤더 이미지-->
<!--<div id="headerImgWrap" >-->
<!--    <img id="headerImg"src="/images/fix/headerImg_3.png" >-->
<!--</div>-->
<!-- 헤더 종료 -->

<div style="width : 100%;   max-width:1200px ; margin:0 auto; padding-top: 100px; padding-bottom: 100px;">



<div class="userPage">
    <div style="display: flex;" class="userInfo">
        <div class="firstBox" th:object="${illustProfile}">
                <div class="profile1">
                    <div class="profilePicture">
                        <img th:src="'/upload/display?fileName='+*{userFilePath}+'/'+*{userUuid}+'_'+*{userFileName}"  width="100%" height="100%"/>
                    </div>
                    <div>
                        <div><p class="p userNick" th:text="*{userNickName}"></p></div>
                        <div style="display: flex;">
                            <p class="p postInfo">게시물 <span th:text="${total}"></span></p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <th:block th:if="${getLikeTotal} == null">
                                <p class="p postInfo">좋아요 <span>0</span></p>
                            </th:block>
                            <th:block th:unless="${getLikeTotal} == null">
                            <p class="p postInfo">좋아요 <span th:text="${getLikeTotal}">3</span></p>
                        </th:block>
                        </div>

                    </div>
                    <div style="margin-top: 10px;">
                        <button class="chatBtn">CHAT</button>&nbsp;
                        <button class="listBtn">LIST</button>
                    </div>
                </div>

            <hr class="hr">
                <div style="width: 80%; margin: 0 auto;  " class="introduceDiv">
                    <p class="p intro">Introduce</p>
                    <p class="p text1" th:text="*{illustProfileShortIntro}"></p>
                </div>
            <hr class="hr">
            <div style="width: 80%; margin: 0 auto;" class="webSiteDiv">
                <p class="p intro">Website</p>
                <p class="p text1">
                    <a th:href="@{'https://www.' + ${illustProfile.illustProfileWebSite}}" style="font-size: 13px;" th:text="*{illustProfileWebSite}"></a>
                </p>
            </div>
            <hr class="hr">
                <div style="width: 80%; margin: 0 auto;" class="activeDiv">
                    <p class="p intro">주 활동영역</p>
                    <button class="cateBtn" th:text="*{illustProfileCategory}"></button>
<!--                    <p class="p text1">디즈니 감성</p>-->

                </div>
            <hr class="hr">
            <div style="width: 80%; margin: 0 auto;">
                <p class="p intro">Profile</p>
                <p class="p intro"></p>
                <p class="p text2" th:text="*{illustProfileDetailIntro}"></p>
            </div>






        </div>

        <div class="secBox">
            <div class="worklist">
                WorkList
            </div>
            <hr class="hr2">

            <div class="flex2 wrap">
                <div class="box">
                    <th:block th:each="list, index:${list}">
                    <div class="column cellCss cell1">
                            <th:block th:if="${index.index} == 0 or ${index.index} % 3 == 0">
                                <a th:href="@{/illust/illustViewDetail(userNumber=${list.userVO.userNumber}, illustNumber=${list.illustNumber})}">
                                    <img th:src="'/illust/illustImg?fileName='+${list.illustFilePath}+'/'+${list.illustFileName}" class="testWidth" />
                                    <span class="heart">❤<span style="font-size: 12px;" th:text="${list.illustLike}"></span></span>
                                </a>
                        </th:block>
                    </div>
                    </th:block>
                </div>
                <div class="box">
                    <th:block th:each="list, index:${list}">
                    <div class="column cellCss cell2">
                            <th:block th:if="${index.index} % 3 == 1">
                                <a th:href="@{/illust/illustViewDetail(userNumber=${list.userVO.userNumber}, illustNumber=${list.illustNumber})}">
                                    <img th:src="'/illust/illustImg?fileName='+${list.illustFilePath}+'/'+${list.illustFileName}" class="testWidth" />
                                    <span class="heart">❤<span style="font-size: 12px;" th:text="${list.illustLike}"></span></span>
                                </a>
                            </th:block>
                    </div>
                    </th:block>
                </div>
                <div class="box">
                    <th:block th:each="list, index:${list}">
                    <div class="column cellCss cell3">
                            <th:block th:if="${index.index} % 3 == 2">
                                <a th:href="@{/illust/illustViewDetail(userNumber=${list.userVO.userNumber}, illustNumber=${list.illustNumber})}">
                                    <img th:src="'/illust/illustImg?fileName='+${list.illustFilePath}+'/'+${list.illustFileName}" class="testWidth" />
                                    <span class="heart">❤<span style="font-size: 12px;" th:text="${list.illustLike}"></span></span>
                                </a>
                            </th:block>
                    </div>
                    </th:block>
                </div>

            </div>

        </div>

    </div>


</div>





    <div class="chat">
        <div class="chat-top" style="position: relative">
            <p class="p">yewon_seo님 에게</p>
            <span class="x">X</span>
        </div>
        <div class="chat-middle">
            <div class="friend-chat">
                <div class="friend-chat-col">
                    <span class="balloon">개미는 뚠뚠</span>
                    <span class="balloon">오늘도 뚠뚠</span>
                    <span class="balloon">열심히 일을 하네</span>
                </div>
            </div>

            <div class="me-chat">
                <div class="me-chat-col">
                    <span class="balloon balloon2">가나다라마바사아자차카</span>
                </div>
            </div>

            <div class="friend-chat">
                <div class="friend-chat-col">
                    <span class="balloon">개미는 뚠뚠</span>
                    <span class="balloon">오늘도 뚠뚠</span>
                    <span class="balloon">열심히 일을 하네</span>
                </div>
            </div>

            <div class="me-chat">
                <div class="me-chat-col">
                    <span class="balloon balloon2">가나다라마바사아자차카타파하</span>
                </div>
            </div>

        </div>
        <div class="chat-row" style="display: flex;">
            <textarea name="" id='text' class="inputChatarea"></textarea>
            <label for="text">
                <div style="position: relative;left: 10.5px;top: 18px;font-size: 14px;">
                    <button class="enterBtn">전송</button>
                </div>
            </label>
        </div>
    </div>





</div>


<th:block th:insert="fix/footer.html :: footerFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/fix/header.js"></script>
<script src="/assets/js/illust/illustUserPage.js"></script>
<script src="/assets/js/illust/module.js"></script>
<script th:inline="javascript">
    $("button.listBtn").click(function (e) {
        e.preventDefault();
        location.href = "/illust/illustList";
    })
</script>
</html>