<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/user/userLogin.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Login</title>
</head>
<body style="max-witdh:1200px ;">
<th:block th:insert="fix/headerWord.html :: headFragment"/>
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>

<div class="mainbox">
    <div class="contentbox">
        <div class="section_login">
            <h3 class="title_login">로그인</h3>
            <div class="formbox">
                <form method="post" action="/user/loginCheck" name="loginform_check">
                    <input id="userId" autocomplete="off"; name="userId" class="inputbox" type="text" placeholder="아이디를 입력해주세요">
                    <input id="userPw" name="userPw" class="inputbox passwordbox" type="password" placeholder="비밀번호를 입력해주세요">
                    <div>
                        <div class="login_search">
                            <a class="find_button" href="/user/findId">아이디 찾기</a>
                            <span class="bar"></span>
                            <a class="find_button" href="/user/findPw">비밀번호 찾기</a>
                        </div>
                    </div>
                    <div>
                        <div class="social_logo">
                            <button class='btn-social-login' style='background:#1FC700'><i class="xi-3x xi-naver"></i></button>
                            <button type="button" class='btn-social-login' onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=427b7ad60b17680502910b084533fbaa&redirect_uri=/user/oauth&response_type=code';" style='background:#FFEB00'><i class="xi-3x xi-kakaotalk text-dark"></i></button>
                            <button class='btn-social-login' style='background:#4267B2'><i class="xi-3x xi-facebook"></i></button>
                            <button class='btn-social-login'><i class="xi-3x xi-apple text-dark"></i></button>
                        </div>
                    </div>
                    <button id="loginBtn" class="login_button" type="submit">
                        <span class="login_button_text">로그인</span>
                    </button>
                    <button type="button" onclick="location.href='/user/join';" class="join_button" >
                        <span class="">회원가입</span>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
<th:block th:insert="fix/footer.html :: footerFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/assets/js/fix/header.js"></script>
<script src="/assets/js/user/userLogin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript">
    $("#loginBtn").click(function(){
        const uid = document.getElementById("userId");
        const pwd = document.getElementById("userPw");

        if (uid.value == "") {
            Swal.fire({
                icon: 'warning',
                text: '아이디를 입력해주세요.'
            });
            uid.focus();
            return false;
        };

        if (pwd.value == "") {
            Swal.fire({
                icon: 'warning',
                text: '비밀번호를 입력해주세요.'
            });
            pwd.focus();
            return false;
        };
    });
</script>
</html>