<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/user/userFindPw.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body style="max-witdh:1200px ;">

<!-- 헤더 시작 -->
<th:block th:insert="/fix/header_word.html :: headFragment"/>

<!--헤더 이미지-->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>
<!-- 헤더 종료 -->


<!--Main-->
<div class="mainbox">
    <div class="contentbox">
        <div class="section_login">
            <h3 class="title_login">비밀번호 찾기</h3>
            <div class="formbox">
                <form action="" name="loginform_check">
                    <input autocomplete="off"; id="uid" class="inputbox" type="text" placeholder="아이디를 입력해주세요">
                    <input id="pwd" class="inputbox passwordbox" type="tel" placeholder="휴대폰 번호를 입력해주세요">
                    <button type="button" onclick="location.href='user_join.html';" class="join_button" >
                        <span class="">인증번호 받기</span>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
<th:block th:insert="/fix/footer.html :: footerFragment"/>
</body>
<script src="/assets/js/fix/header.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
</script>
</html>