<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/user/userFindPw.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>FindPw</title>
</head>
<body style="max-witdh:1200px ;">

<!-- 헤더 시작 -->
<th:block th:insert="fix/headerWord.html :: headFragment"/>
<!--헤더 이미지-->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>
<!-- 헤더 종료 -->

<!--Main-->
<div class="mainbox">
    <div class="contentbox">
        <div class="section_login">
            <h3 class="title_login">비밀번호 찾기</h3>
            <div class="formbox">
                <form action="" name="loginform_check">
                    <input autocomplete="off"; id="userId" class="inputbox" type="text" placeholder="아이디를 입력해주세요">
                    <input autocomplete="off"; id="userEmail" class="inputbox passwordbox" type="text" placeholder="이메일 주소를 입력해주세요">
                    <button id="findPwBtn" type="button" class="findPwBtn">
                        <span class="">비밀번호 찾기</span>
                    </button>
                    <button type="button" onclick="location.href='http://localhost:8989/user/login';" class="join_button" >
                        <span class="">로그인</span>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
<th:block th:insert="fix/footer.html :: footerFragment"/>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/assets/js/fix/header.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript">
    $('#findPwBtn').click(function(){
        const userId = $("input[id='userId']").val();
        const userEmail = $("input[id='userEmail']").val();

        $.ajax({
            type: 'POST',
            async: true,
            url: "/user/userFindPw",
            data: {userId: userId, userEmail: userEmail},
            success: function (data) {
                if(data != 0) {
                    Swal.fire({
                        icon: 'success',
                        text: '이메일로 비밀번호를 보냈어요.'
                    });
                }else {
                    Swal.fire({
                        icon: 'error',
                        text: '아이디와 이메일을 다시 확인해주세요.'
                    });
                }
            }
        })
    });

</script>
</html>