<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="round.css">
    <title>Document</title>
</head>
<body>
        <div class="MainHeader">

            <div class="MainContain">
                <div class="Contain">
                    <div class="content">
                    <div class="x_x">
                            <div class="x_xH">
                                <div class="x_ximg"><img src="https://cdn.discordapp.com/attachments/954273372760571914/958038149609709608/unknown.png" alt=""></div>
                                <div class="x_xDesc">
                                    <div class="x_Desc_title">
                                        <div class=""></div>
                                        <h2>dd</h2>
                                    </div>
                                    <div class="x_Desc_pepole">
                                        <div>
                                            <img src="https://static-page.kakao.com/static/common/ico-workhome-person.svg?41e74cfb5cb9084198b21f6b2c7899c2" alt="">
                                            <div>0명</div>
                                        </div>

                                         <div>
                                        
                                            <img src="	https://static-page.kakao.com/static/common/ico-wo…home-comment.svg?eaf3ebfe59b36ae76144c6626928ed14" alt="" class="kakaoimg">
                                        
                                        <div>20만</div>
                                               <img src="https://static-page.kakao.com/static/common/ic-more-gray.svg?639494b81c8127013d0e627243aee94e"> 
                                        </div>
                                            </div>   
                                        <br>

                                    <div class="x_xx">여기는 작가 소개? 작품소개?</div>
                                    <br>

                                    <div class="x_xContent">
                                    <div class="x_Desc_writer">

                                        <div>

                                        <div>화 연재&nbsp;|&nbsp;</div>
                                        <div>작가 이름</div>

                                        </div>
                                        </div>

                                    <div class="x_xBtn">
                                        <button >작품소개</button>
                                        <button>첫편보기</button>
                                    </div>
                                     </div>
                                </div>
                            </div>
                           
                           
                            <div class="x_xF">
                                <button>
                                <div>여기가 후원랭킹</div>

                                <div onclick="ModalHandler()"><img src="https://static-page.kakao.com/static/common/ic-same-novel.svg?b923ffbeb7a7a8a2e2e3091b1ff9e4f6
                                    " alt="" ></div>
                                </button>
                             </div>
                    </div>


                </div>
                </div>

            </div>




        </div>


        <div class="modalwrap">
        <div class="SponModal"> 
            <div>
                <div></div>
                <button onclick="ModalHandlerClose()">xxxxxx</button>
            </div>

            <div>
                몸
            </div>
        </div>
        </div>
</body>
<script src="./round.js"></script>
</html>