
@media(max-width : 390px){

    .section_login{
        width: 700px;
        margin: 0 auto;
        padding-top: 140px;
    }

    .title_login {
        text-align: center;
        font-size: 47px;
    }

    .inputbox {
        width: 94%;
        height: 88px;
        padding: 0px 19px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #fff;
        font-size: 28px;
    }

    .inputbox.passwordbox{
        width: 94%;
        margin-top: 10px;
    }

    .join_button {
        display: inline-block;
        height: 88px;
        font-weight: 500;
        font-size: 32px;
        color: #ef6e73;
        line-height: 51px;
        text-align: center;
        margin-top: 8px;
        width: 100%;
        border: 1px solid #ef6e73;
        background-color: white;
        border-radius: 3px;
        cursor: pointer;
    }

}

.contentbox {
    width : 100%;
    max-witdh: 1200px;
    margin: 0 auto ;
    margin-bottom: 200px;
}

.title_login {
    text-align: center;
    font-size: 28px;
}

.section_login{
    width: 340px;
    margin: 0 auto;
    padding-top: 140px;
}

.formbox {
    text-align: center;
    padding-top: 30px;
}

.inputbox {
    width: 87%;
    height: 54px;
    padding: 0px 19px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px
}

.inputbox.passwordbox{
    width: 87%;
    margin-top: 10px;
}

.findIdBtn {
    font-weight: bolder;
    display: inline-block;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    color: white;
    line-height: 56px;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    border: 1px solid #ef6e73;
    background-color: #ef6e73;
    border-radius: 3px;
    cursor: pointer;
}
.join_button {
    display: inline-block;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    color: #ef6e73;
    line-height: 51px;
    text-align: center;
    margin-top: 8px;
    width: 100%;
    border: 1px solid #ef6e73;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}
