<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <!-- footer -->
    <footer class="footer" >
        <div class="footer-info">
            <div class="footer-menu">
                <ul>
                    <li class="first-menu"><a href="../../etc/agree.html" title="서비스 약관">서비스약관</a></li>
                    <li><a href="../../etc/privacy.html" title="개인정보처리방침">개인정보처리방침</a></li>
                    <li><a href="" title="공지사항">공지사항</a></li>
                    <li><a href="" title="고객센터" class="no-loading">고객센터</a></li>
                </ul>
            </div>
            <div class="footer-center">
                <p class="main-text">
                    스텔링 웹사이트에 게시된 모든 컨텐츠들은 저작권법에 의거 보호받고 있습니다.
                    <span style="display: block">
                    또는 (주)오류불사지르조의 승인없이 컨텐츠의 일부 또는 전부를 복제,전송,배포 및 기타의 방법으로 저작물을 이용할 경우에는
                    저작권법에 의해 법적 조치에 처해질 수 있으므로 주의하시길 바랍니다.
                </span>
                </p>
                <a href="" class="footer-logo">
                    <img src="/images/fix/logo.png">
                </a>
                <div class="footer-detail">
                    <p>사업자등록번호 : 123-45-67890</p>
                    <p>통신판매업 : 제1234-대한민국-56789호</p>
                    <p>대표 : 오류불사지르조</p>
                    <p>주소 : 서울특별시 강남구 테헤란로 146, 현익빌딩 3층(역삼동)</p>
                    <p>대표번호 : 02-1234-5678</p>
                    <p>고객문의 : stelling@stelling.com</p>
                    <p>고객센터 : 1234-5678(평일 09시~18시)</p>
                    <p class="copy">ⓒ STELLING CORP. ALL RIGHTS RESERVED.</p>
                </div>
                <div class="sns-group">
                    <ul>
                        <li><a href="https://www.instagram.com/" target="_blank" title="인스타그램" class="sns1"><img src="/images/btn_sns_01.png"></a></li>
                        <li><a href="https://www.facebook.com/" target="_blank" title="페이스북" class="sns2"><img src="/images/btn_sns_02.png"></a></li>
                        <li><a href="https://twitter.com/" target="_blank" title="트위터" class="sns3"><img src="/images/btn_sns_03.png" style="width: 50px"></a></li>
                        <li><a href="https://cafe.naver.com/" target="_blank" title="네이버 카페" class="sns4"><img src="/images/btn_sns_04.png"></a></li>
                    </ul>
                </div>
                <a href="javascript:window.open('https://www.kcopa.or.kr/', '_blank')"><img src="/images/img_copy.png" alt="한국저작권보호원" class="img-copyright"></a>
            </div>
        </div>
    </footer>
</th:block>
</html>