<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headFragment">

    <header id="header">
        <nav id="headerWrap">
            <!--헤더 왼쪽-->
            <div id="header_L_Wrap">
                <a id="logoImg" href="#"><img src="/images/fix/logoIcon.jpg"></a>
                <ul class="navGroup">
                    <li><a class="headerActive" href="/test/category">자유연재</a></li>
                    <li><a class="headerActive" href="/test/category">랭킹</a></li>
                    <li><a class="headerActive" href="/test/category">내서재</a></li>
                    <li><a class="headerActive" href="/test/category">일러스트</a></li>
                </ul>
            </div>
            <!--헤더 오른쪽-->
            <div id="header_R_Wrap">
                <div>
                    <form id="nav_searchForm" name="nav_searchForm">
                        <div id="search_all">
                            <input name="keyword" id="nav_searchInput" maxlength="10" placeholder="소설을 찾아보세요!">
                            <div class="nav_searchForm_btn"><img src="/images/fix/search_big.png"></div>
                            <button type="button" onclick="hasTag()"></button>
                            <input name="type" type="hidden" value="CTWG"> <!-- 검색 조건을 위한 태그 디폴트가 전체조회 -->
                        </div>
                    </form>
                </div>
<!--                <div class="eventMenu"><a href="#"><img src="/images/fix/header_book.png"></a></div>
                <div class="eventMenu"><a href="#"><img src="/images/fix/header_writeIcon.png"></a></div>-->
                <div class="eventMenu">
                    <img src="/images/fix/mypageLineIcon.png">
                    <div class="menuArea">
                        <div class="profileWrap">
                            <img src="/images/fix/img_profile.png">
                            <a href="#">용의분노</a>님
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    </th:block>
</html>