<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">

    <header id="header">
        <nav id="headerWrap" >
            <div id="headerInner">
                <!--헤더 왼쪽-->
                <div id="header_L_Wrap">
                    <a id="logoImg" href="/main/index"><img src="/images/fix/logoIcon.jpg"></a>
                    <ul class="navGroup web_header" >
                        <li><a class="headerActive" href="/novel/category/novelCategory">자유연재</a></li>
                        <li><a class="headerActive" href="/novel/ranking/novelRanking">랭킹</a></li>
                        <li th:if="${session.userNumber != null}"><a class="headerActive" href="/myLibrary/myLibraryCollection/myPick">내서재</a></li>
                        <li><a class="headerActive" href="/illust/illustList">일러스트</a></li>
                    </ul>
                </div>
                <!--헤더 오른쪽-->
                <div id="header_R_Wrap">
                    <div class="nav_searchFormWrap">
                        <form id="nav_searchForm" name="nav_searchForm" action="/novel/category/headerSearch">
                            <div id="search_all">
                                <input name="keyword" id="nav_searchInput" maxlength="10" placeholder="소설을 찾아보세요!">
                                <div class="nav_searchForm_btn"><button id="searchNavFormBtn" ></button></div>
                                <button class="tagBtn" type="button" onclick="hashTag()"></button>
                                <input name="type" type="hidden" value="all"> <!-- 검색 조건을 위한 태그 디폴트가 전체조회 -->
                            </div>
                        </form>
                    </div>
                    <div class="eventMenu" >

                        <img src="/images/fix/mypageLineIcon.png" alt="메뉴">
                        <div class="menuArea">
                            <div th:if="${session.user == null}">
                                <div id="welcomeMenu">
                                    <div>
                                        <img src="/images/fix/menuLogin.png">
                                        <a href="/user/login">로그인</a>
                                    </div>
                                    <div>
                                        <img src="/images/fix/menuJoin.png">
                                        <a href="/user/join">회원가입</a>
                                    </div>
                                </div>
                            </div>
                            <th:block th:unless="${session.user == null}">

                            <div class="profileWrap">
                                <div class="profileWrap_sub">
                                    <img src="/images/fix/img_profile.png" alt="프로필사진">
                                    <div><a href="/myLibrary/myLibraryCollection/myPick" th:text="${session.user.userNickName}"></a>님</div>
                                </div>
                                <a class="menu_logout"  href="/user/logOut">로그아웃</a>
                            </div>
                            <div class="header_pay">
                                <div class="coinWrap">
                                    <div class="coinImg">
                                         <img src="/images/fix/coin.png" alt="코인">
                                    </div>
                                    <div>
                                        <span class="coinView" th:text="${session.user.userCoinBalance}"></span>
                                    </div>
                                </div>
                                <a href="/myLibrary/coinShop">충전</a>
                            </div>
                            <div class="menu_word">
                                <ul class="menu_word_list">
                                    <li><img class="menu_icon" src="/images/fix/header_menu_page.png"><a href="/novel/novelRegister">신규 소설 등록</a></li>
                                    <li><img class="menu_icon" src="/images/fix/header_menu_folder.png"><a href="/myPage/myPageMyWork">내 작품 관리</a></li>
                                </ul>
                            </div>
                            <div class="menu_illust">
                                <ul class="menu_illust_list">
                                    <li><img class="menu_icon" src="/images/fix/header_menu_palette.png"><a href="/illust/illustProfileCheck1">일러스트 등록</a></li>
                                    <li><img class="menu_icon" src="/images/fix/header_menu_gallery.png"><a href="/illust/illustProfileCheck2">마이 포스트</a></li>
                                </ul>
                            </div>
                            <div class="menu_my">
                                <ul class="menu_my_list">
                                    <li><img class="menu_icon" src="/images/fix/header_menu_people.png"><a href="/myPage/myPageEditProfile">마이페이지</a></li>
                                </ul>
                            </div>
                            <div class="menu_com">
                                <img class="menu_icon" src="/images/fix/info_icon.png"><a class="menu_com_in" href="/myPage/myPageQuestion">공지사항/고객센터</a>
                            </div>
                            </th:block>
                        </div>
                    </div>

                </div>
            </div>

            <div class="mobile_header">
                <ul class="navGroup" >
                    <li><a class="headerActive" href="/test/category">자유연재</a></li>
                    <li><a class="headerActive" href="/test/category">랭킹</a></li>
                    <li><a class="headerActive" href="/test/category">내서재</a></li>
                    <li><a class="headerActive" href="/test/category">일러스트</a></li>
                </ul>
            </div>
        </nav>

    </header>

    </th:block>
<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/fix/header.js"></script>
<script th:inline="javascript"></script>
</html>
