<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>writeInquiry</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/inquiry/inquiryWrite.css" rel="stylesheet" type="text/css">
</head>
<body style="max-witdh:1200px ;">
<!-- 헤더 시작 -->
<th:block th:insert="fix/headerWord.html :: headFragment"/>

<!--헤더 이미지-->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>
<!-- 헤더 종료 -->

    <!--Main-->
    <div class="mainbox">

        <div class="mainForm">
            <div style="margin-top: 20px;">
                <header class="head_text">1:1 문의하기</header>
            </div>
            <p class="p_text">
                1:1 문의를 통한 전화상담 요청을 불가하오니 이 점 양해하여 주시기 바랍니다.
            </p>
            <p class="p_text">
                문의 내용 중 욕설, 폭언, 위협, 허위사실 등이 포함될 경우 모욕, 협박, 명예훼손 등으로 간주하여 답변이 제외될 수 있으며, 관련 법규에 의거 처벌될 수 있습니다.
            </p>
            <hr style="border: 1px solid black">
            <form action="/inquiry/inquiryWrite" method="post" id="inquiryWriteForm">
                <table>
                    <tbody>
                        <tr>
                            <th>닉네임</th>
                            <td>
                                <input type="text" th:value="${userNickName}" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>제목</th>
                            <td>
                                <input name="inquiryTitle" type="text" id="inquiryWriteFormTitle" class="title_input" maxlength="35">
                            </td>
                        </tr>
                        <tr>
                            <th style="display: block">문의 내용</th>
                            <td>
                                <textarea name="inquiryContent" id="inquiryWriteFormContent" class="content_input" maxlength="1350"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="button_position">
                    <button type="button" id="inquiryWriteFormBtn"class="button_style">문의하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
<th:block th:insert="fix/footer.html :: footerFragment"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('button#inquiryWriteFormBtn').on('click',function () {
        if(!$('#inquiryWriteFormTitle').val()){
            alert('제목을 입력해주세요!');
            return
        }
        if(!$('#inquiryWriteFormContent').val()){
            alert('내용을 입력해주세요!');
            return
        }
        $('#inquiryWriteForm').submit();

    })


</script>
<script src="/assets/js/fix/header.js"></script>
<script src="/assets/js/inquiry/inquiryWrite.js"></script>
</html>