<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detailInquiry</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/inquiry/inquiryDetail.css" rel="stylesheet" type="text/css">
</head>
<body style="max-witdh:1200px ;">
<!-- 헤더 시작 -->
<th:block th:insert="fix/headerWord.html :: headFragment"/>

<!--헤더 이미지-->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>
<!-- 헤더 종료 -->

    <!--Main-->
        <div class="mainbox">
            <div style="margin-top: 250px;">
                <header class="head_text" >내 문의내역</header>
            </div>
            <div>
                <p class="text_position_1">
                    문의 내용 중 욕설, 폭언, 위협, 허위사실 등이 포함되었거나 중복된 문의인 경우 삭제될 수 있습니다.
                </p>
                <table class="table">
                    <tbody>
                        <tr class="tr">
                            <td class="td_left" th:text="${inquiry.userVO.userNickName}">닉네임</td>
                            <td class="td_center"></td>
                            <td class="td_right">처리상태</td>
                            <td class="td_rightright" th:if="${inquiry.inquiryStatus == 0}">처리중</td>
                            <td class="td_rightright" th:if="${inquiry.inquiryStatus == 1}">완료</td>
                        </tr>
                        <tr class="tr">
                            <td class="td_left">제목</td>
                            <td class="td_center" th:text="${inquiry.inquiryTitle}"></td>
                            <td class="td_right">등록일</td>
                            <td class="td_rightright" th:text="${#calendars.format(inquiry.inquiryDate,'yyyy-MM-dd')}"></td>
                        </tr>
                        <tr class="tr">
                            <td class="td_left" style="height: 200px">내용</td>
                            <td class="td_center" th:text="${inquiry.inquiryContent}"></td>
                            <td class="td_right"></td>
                        </tr>
                        <tr class="tr">
                            <td class="td_left" style="height: 200px">답변</td>
                         <!--   <td class="td_center" th:if="${inquiry.inquiryStatus == 1}" ></td>-->
                            <td class="td_center" th:if="${inquiry.inquiryStatus == 1}" th:text="${inquiry.inquiryContent}"></td>
                            <td class="td_right" style="color: #ef6e73" th:if="${inquiry.inquiryStatus == 0}" >답변까지 최대 7일 소요될 수 있습니다.</td>
                            <td class="td_right" th:if="${inquiry.inquiryStatus == 1}" th:text="${inquiry.inquiryAnswer}" ></td>
                        </tr>
                    </tbody>
                </table>
                <p class="text_position_1">답변이 만족스럽지 않으셨거나 이 외 다른 문의사항이 있으신 경우 다시 문의주시면 최대한 빠르게 답변 드리겠습니다.</p>
                <div class="button_position">
                    <a href="/inquiry/inquiryWrite"><button class="ask_again_button">다시 문의하기</button></a>
                    <a href="/myPage/myPageQuestion"><button class="list_button">목록</button></a>
                </div>
            </div>
        </div>
</body>
<th:block th:insert="fix/footer.html :: footerFragment"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/fix/header.js"></script>
</html>