<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새 작품 등록</title>
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/novel/novelRegister.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- 헤더 시작 -->
<th:block th:insert="fix/headerWord.html :: headFragment"/>

<!--헤더 이미지-->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>
<!-- 헤더 종료 -->
<div style="width : 100%;   max-width:1200px ; margin:0 auto; padding-top: 100px; padding-bottom: 100px;">

        <h2 class="h2">새 작품 등록</h2>
        <hr class="hr">
    <form action="/novel/novelRegister" method="post" name="register" id="register">
        <button class="btn rutin" type="button">정기 연재</button>
        <button class="btn free" type="button">자유 연재</button>

<!--나중에 수정시 연재 완결 버튼으로 사용할것 -----------------------------------------------------------------  -->
<!--    <button class="btn end" type="button">완결</button>-->

    <!--정기연재 버튼 눌렀을때 요일 입력받는 div생성-->
    <div class="box daysBtns days">
        <div class="daybtn"><input type="checkbox" name="novelday" value="novelMonday">월</div>
        <div class="daybtn"><input type="checkbox" name="novelday" value="novelTuesDay">화</div>
        <div class="daybtn"><input type="checkbox" name="novelday" value="novelWednesDay">수</div>
        <div class="daybtn"><input type="checkbox" name="novelday" value="novelThursDay">목</div>
        <div class="daybtn"><input type="checkbox" name="novelday" value="novelFriDay">금</div>
        <div class="daybtn"><input type="checkbox" name="novelday" value="novelSaturDay">토</div>
        <div class="daybtn"><input type="checkbox" name="novelday" value="novelSunDay">일</div>

    </div>


    <div class="box">
        <div class="flex" style="justify-content: space-between;">
        <p>*카테고리</p>
            <div class="selectBox2 categorySelect">
                <button class="label" type="button">카테고리</button>
                <ul class="optionList">
                    <li class="optionItem">로맨스</li>
                    <li class="optionItem">로맨스 판타지</li>
                    <li class="optionItem">판타지</li>
                    <li class="optionItem">라이트 노벨</li>
                    <li class="optionItem">게임</li>
                    <li class="optionItem">역사</li>
                    <li class="optionItem">수필</li>
                    <li class="optionItem">소설</li>
                    <li class="optionItem">시</li>
                    <li class="optionItem">공포</li>
                    <li class="optionItem">무협</li>
                    <li class="optionItem">추리</li>
                    <li class="optionItem">서스펜스</li>
                </ul>
            </div>
        </div>

        <div class="subBox">작품의 장르가 어떤 장르인지 선택하는 메뉴입니다.</div>
    </div>
    <div class="box">
        <p>세부 태그</p>
        <div class="form-group">
            <input type="hidden" value="" name="tag" id="rdTag" />
        </div>

        <ul id="tag-list" style="padding: 0;"></ul>

        <div class="form-group">
            <input type="text" id="tag"  placeholder="엔터로 해시태그를 등록해주세요." class="tagInput"/>
        </div>
    </div>
    <div class="box">
        <div class="flex" style="align-items: center;">
            <div>
        <p style="margin-bottom: 0px;">*작품 명</p>
            </div>
            <input type="text" class="titleInput"  >
        </div>
    </div>
    <div class="box">
        <div class="flex">
            <div style="margin-right: 1.8px; width: 112px;">
        <p class="p">*작품 소개</p>
            <p clas="p" style="font-size: 13px; color: gray;font-weight: 400;margin-top: 2px;">(줄거리)</p>
            </div>
            <textarea name="novelIntro" id=""class="textarea"></textarea>
        </div>
    </div>

    <div class="box">
        <div class="flex">
            <div style="margin-right: 26.5%;">
                <p>표지 이미지</p>
                <p style="font-size: 13px; color: gray;font-weight: 400;margin-top: -20px;">(200 * 305px)</p>
            </div>



            <div class="flex">
                <div class="thumnail">

                    <img src="/images/sampleImg/noImg1.png" class="sampleimgs"/>
                </div>
                <div style="width: 544px;">
                    <div class="uploadImg">
                        <div class="filebox">
                            <label for="file">업로드</label>
                            <input type="file" id="file" onchange="setThumbnail(event)" class="thum" multiple>

                            <input class="upload-name" >
                        </div>
                    </div>
                    <div class="exImg">
                        <div class="sampleImg">

                            <img src="/images/sampleImg/1_1.jpg" class="sampleimgs imgs" id="img1"/></div>
                        <div class="sampleImg">

                            <img src="/images/sampleImg/1-2.jpg" class="sampleimgs imgs"/></div>
                        <div class="sampleImg">

                            <img src="/images/sampleImg/1-3.jpg" class="sampleimgs imgs"/></div>
                        <div class="sampleImg">

                            <img src="/images/sampleImg/1-5.jpg" class="sampleimgs imgs"/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <input type="hidden" name="novelSerialsStatus" value="1">
        <input type="hidden" name="novelCategory">
        <input type="hidden" name="novelHashtag">
        <input type="hidden" name="novelMonday" value="0">
        <input type="hidden" name="novelTuesDay" value="0">
        <input type="hidden" name="novelWednesDay" value="0">
        <input type="hidden" name="novelThursDay" value="0">
        <input type="hidden" name="novelFriDay" value="0">
        <input type="hidden" name="novelSaturDay" value="0">
        <input type="hidden" name="novelSunDay" value="0">

        <input type="hidden" name="novelFileName">
        <input type="hidden" name="novelUploadPath">
        <input type="hidden" name="novelUUID">
        <input type="hidden" name="novelTitle">



    </form>
    <div style="text-align: center;">
        <button class="insertBtn" type="button" id="insertBtn">등록하기</button>
    </div>



</div>



<th:block th:insert="fix/footer.html :: footerFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/fix/header.js"></script>
<script th:inline="javascript">
    let userNumber = [[${session.userNumber}]];
    console.log('test'+userNumber)
    loginCk()
    function loginCk() {
        if(!userNumber){
            alert('로그인후 이용 가능한 서비스 입니다.')
            location.href = '/user/login/';
        }
    }
</script>
<script src="/assets/js/novel/novelRegister.js"></script>
</html>