<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새 회차 등록</title>
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/novel/novelWrite.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- 헤더 시작 -->
<th:block th:insert="fix/headerWord.html :: headFragment"/>


<div style="width : 100%;   max-width:1200px ; margin:0 auto; padding-top: 26px; padding-bottom: 100px;">
    <th:block th:if="${modifyCheck==true}">
        <form action="/novel/modifyNovelFile" method="post" name="novelModifyForm">
    </th:block>
    <th:block th:unless="${modifyCheck==true}">
        <form action="/novel/makeNovelFile" method="post" name="novelWriteForm">
    </th:block>

    <div class="flex register">
        <div><p class="p" style="color: #a5a5a5;">취소</p></div>
        <th:block th:if="${modifyCheck==true}">
            <div><h2>회차 수정</h2></div>
        </th:block>
        <th:block th:unless="${modifyCheck==true}">
            <div><h2>새 회차 등록</h2></div>
        </th:block>

        <div>
            <div class="inlineBox temporarySave" style="margin-right: 34px;margin-left: -110px;"><p class="p"style="color: #a5a5a5;">임시저장</p></div>
            <th:block th:if="${modifyCheck==true}">
                <div class="inlineBox"><p class="p modifyEnter" style="color: #ef6e73; font-weight: bold;">수정완료</p></div>
            </th:block>
            <th:block th:unless="${modifyCheck==true}">
                <div class="inlineBox"><p class="p enter" style="color: #ef6e73; font-weight: bold;">등록</p></div>
            </th:block>

        </div>
    </div>
    <div class="subMainWrab">

        <div class="filebox">
            <input class="upload-name" value="첨부파일" readonly >
            <label for="file">파일찾기</label>
            <input type="file" id="file" name="file" >
        </div>

        <div class="subWrab">
            <th:block th:if="${modifyCheck==true}">
                <input type="text" placeholder="소제목을 입력하세요." class="sTitle" name="modify_sTitle" th:value="${subNovelVO.subNovelTitle}">
            </th:block>
            <th:block th:unless="${modifyCheck==true}">
                <input type="text" placeholder="소제목을 입력하세요." class="sTitle" name="subNovelTitle">
            </th:block>
        </div>

        <div>
            <th:block th:if="${modifyCheck==true}">
                <textarea name="modify_novelContent" class="text novelContent" placeholder="작품 내용을 입력해주세요."onkeyup="calc_length()" th:text="${novelContent}"></textarea>
            </th:block>
            <th:block th:unless="${modifyCheck==true}">
                <textarea name="novelContent" id="" class="text novelContent" placeholder="작품 내용을 입력해주세요."onkeyup="calc_length()"></textarea>
            </th:block>



            <div style="display: flex; justify-content: flex-end;">
                <p class="kb"><span class="box">0</span> KB / </p>
                <p class="kb"><span class="box2">50</span> KB</p>
            </div>
        </div>

    </div>
    <div class="wrterReview">
        <div>
            <h2>작품 후기</h2>
        </div>
        <div style="width: 98%; margin: 0 auto; text-align: center;">
            <th:block th:if="${modifyCheck==true}">
                <textarea name="modify_writerComment" class="text2" placeholder="작품 후기를 입력하세요." th:text="${subNovelVO.subNovelWriterComment}"></textarea>
            </th:block>
            <th:block th:unless="${modifyCheck==true}">
                <textarea name="subNovelWriterComment" id="subNovelWriterComment" class="text2" placeholder="작품 후기를 입력하세요."></textarea>
            </th:block>

        </div>
    </div>

    <th:block th:if="${modifyCheck!=true}">

        <div class="modal">
            <div class="modalmain">
                <div class="modal-title">
                    <p class="p2">글 작성 방식을 선택해주세요.</p>
                    <div style="display: flex;padding: 14px 31px;">
                        <div class="modal_box1" onclick="modal_close(), showfile()">

                            <img src="/images/icon/다운로드.png" class="modal-icon-img1"/>

                            <p class="modal-text1">파일 첨부하기</p>
                        </div>
                        <div class="modal_box2" onclick="modal_close()">

                            <img src="/images/icon/작성.png" class="modal-icon-img2"/>
                            <p class="modal-text2">직접 작성하기</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <input type="hidden" name="content">
    <input type="hidden" name="subNovelTitle">
    <input type="hidden" name="novelNumber">
    <input type="hidden" name="userNumber">
    <input type="hidden" name="subNovelWriterComment">
    <th:block th:if="${modifyCheck==true}">
        <input type="hidden" name="modifyCheck" value="true">
        <input type="hidden" name="subNovelNumber" th:value="${subNovelVO.subNovelNumber}">
    </th:block>
    </form>



</div>
<th:block th:insert="fix/footer.html :: footerFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/fix/header.js"></script>
<script th:inline="javascript">
    const novelNumber = [[${novelNumber}]]
    const userNumber = [[${session.userNumber}]]
    let novelModify = [[${modifyCheck}]]
</script>
<script src="/assets/js/novel/novelWrite.js"></script>
</html>