<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>랭킹 페이지</title>
<link rel="stylesheet" href="/assets/css/novel/ranking.css">
<link href="//font.elice.io/EliceDigitalBaeum.css" rel="stylesheet">
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
<script src='http://code.jquery.com/jquery-3.6.0.js'></script>
<style>
    @import url(//font.elice.io/EliceDigitalBaeum.css);

    html, body {
    font-family: "Elice Digital Baeum",sans-serif;
}
</style>
</head>
<body>
<!-- 헤더 시작 -->
<th:block th:insert="/fix/header_word.html :: headFragment"/>

<!--헤더 이미지-->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_3.png" >
</div>
<!-- 헤더 종료 -->
<div style="max-width: 1200px; margin:0 auto;">
    <div class="top-tab-menu" style="max-width: 1200px; margin: 25px auto 0 auto;">
        <div class="mobile_hidden" style="position: relative; height: 20px; width: 100%;"></div>
        <table class="menu_alarm mobile_hidden s_inv" style="width: 100%; max-width: 1200px; height: 60px; margin-top: 0px;">
            <tbody>
                <tr>
                    <td class="tdmenu" style="width: 34.8%;">
                        <a href="#" class="click-menu menu-select">전체</a>
                    </td>
                    <td class="tdmenu" style="width: 34.8%;">
                        <a href="#" class="click-menu">자유</a>
                    </td>
                    <td class="tdmenu" style="width: 34.8%;">
                        <a href="#" class="click-menu">완결</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="float: right; margin-top: 51px;" class="mobile_hidden">
        <a href="#">
            <img src="https://novelpia.com/img/new/mybook/btn_novel_write.png?tmp=1" style="height: 43px;">
        </a>
    </div>
    <div class="mobile_hidden" style="position: relative; height: 30px; width: 100%; margin-top: 15px;"></div>
    <!--카테고리 -->
    <div class="mobile_hidden" style="border-bottom:2px solid #000;height: 50px;  line-height: 50px;">
        <span style="font-size: 16px; font-weight: 600;">
            <i class="icon ion-document"><img src="/images/document.png" style="width: 20px;"></i>
            총 18개 작품
        </span>
        <!--항목별 검색-->
        <div class="s_inv" style="float: right; margin-right: 20px;">
            <select class="form-control select2" style="width: 90px; float: left; margin-right: 3px; margin-top: 4px;">
                <option selected value="view">조회순</option>
                <option value="vote">추천순</option>
                <option value="donation">후원순</option>
                <option value="episode">회차순</option>
                <option value="like">선작순</option>
                <option value="save">소장순</option>
                <option value="heart">취향순</option>
            </select>
            <select class="form-control select2" style="width: 90px; float: left; margin-right: 3px; margin-top: 4px;">
                <option selected value="today">24시간</option>
                <option value="weekly">7일</option>
                <option value="month">30일</option>
            </select>
            <select class="form-control select2" style="width: 90px; float: left; margin-right: 3px; margin-top: 4px;">
                <option selected value="all">전체</option>
                <option value="plus">자유</option>
                <option value="free">완결</option>
            </select>
        </div>
    </div>
        <!--태그 검색-->
        <div class="mobile_category" style="position: relative; padding: 10px 5px; border-bottom: 1px solid #eee;">
            <ul class="nav nav-pills flex-column flex-md-row genre-box" id="submenu_bar" role="tablist" style="max-width: 100%; overflow-x:auto; white-space: no wrap; -ms-overflow-style:none; scrollbar-width: none; scroll-snap-align: center; font-size: 12px;">
                <li>
                    <button type="button" class="btn_genre_search" id="genre_search_modal_btn" onclick="changeTagSearch()" style="cursor: pointer;">태그검색</button>
                </li>
                <div id="searchFormWrap">
                    <form id="searchForm">
                        <input id="" type="text" placeholder="#검색할 태그를 입력하세요" maxlength="16">
                        <div class="cancelImg" onclick="changeTagSearch()">
                            <img src="/images/category/cancelIcon.png">
                        </div>
                    </form>
                </div>
            <ul class="category_ul" style="display: flex; list-style:none; max-width: 100%; overflow-x:auto; white-space: no wrap; -ms-overflow-style:none; scrollbar-width: none; scroll-snap-align: center; font-size: 12px;">
                <li>
                    <a class="nav-link clicked_menu" href="#" role="tab">전체</a>
                </li>
                <li>
                    <a class="nav-link" href="#" role="tab">판타지</a>
                </li>
                <li>
                    <a class="nav-link" href="#" role="tab">무협</a>
                </li>
                <li>
                    <a class="nav-link" href="#" role="tab">현대</a>
                </li>
                <li>
                    <a class="nav-link" href="#" role="tab">로맨스</a>
                </li>
                <li>
                    <a class="nav-link" href="#" role="tab">현대판타지</a>
                </li>
                <li>
                    <a class="nav-link" href="#" role="tab">라이트노벨</a>
                </li>
                <li>
                    <a class="nav-link" href="#" role="tab">공포</a>
                </li>
                <li>
                    <a class="nav-link" href="#" role="tab">SF</a>
                </li>
                <li>
                    <a class="nav-link" href="#" role="tab">스포츠</a>
                </li>
                <li>
                    <a class="nav-link" href="#" role="tab">대체역사</a>
                </li>
                <li>
                    <a class="nav-link" href="#" role="tab">기타</a>
                </li>
            </ul>
            </ul>
        </div>
    <!--랭킹 목록-->
    <div class="row" style="padding: 5px;">
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/962af16ac0f068f9f5a8378a70b71752_19966_ori.thumb" 
                                    class="scale" style="height:280px;width:190px;background-position:center;" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                                </div>
                                <div class="thumb_s1">1</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">히어로가 집착하는 악당이 되었다</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">신재민</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/f6acda6ec883a95e11a6e056695b4c9c_155253_ori.thumb" 
                                    class="scale" style="height:280px;width:190px;background-position:center;" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                                </div>
                                <div class="thumb_s1">2</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">천하제일인의 소꿉친구</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/66/665b2b143437a22fe4244237b9178f41_395216_ori.file" 
                                    class="scale" style="height:280px;width:190px;background-position:center;" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                                </div>
                                <div class="thumb_s1">3</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">작별을 앞둔 용사 파티가 내게 집착한다</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/9f3386aba4b9f034df69c4db96e26e58_422669_ori.thumb" 
                                    class="scale" style="height:280px;width:190px;background-position:center;" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                                </div>
                                <div class="thumb_s1">4</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">로판 속 공무원</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/e6cb1b30e98600b8538fdc750fc79bd5_199971_ori.thumb" 
                                    class="scale" style="height:280px;width:190px;background-position:center;" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                                </div>
                                <div class="thumb_s1">5</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">병주일기</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/09a785716cd5ce881a57ee6e303d1759_90376_ori.thumb" 
                                    class="scale" style="height:280px;width:190px;background-position:center;" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                                </div>
                                <div class="thumb_s1">6</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">판타지 세상에서 작가로 살아가는 법</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/0cd33906c1d4783fbbb99a2d6193e54f_451986_ori.thumb" 
                                    class="scale" style="height:280px;width:190px;background-position:center;" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                                </div>
                                <div class="thumb_s1">7</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">북부대공녀의 소꿉친구가 되었다</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/0cd33906c1d4783fbbb99a2d6193e54f_451986_ori.thumb" 
                                    class="scale" style="height:280px;width:190px;background-position:center;" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                                </div>
                                <div class="thumb_s1">7</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">북부대공녀의 소꿉친구가 되었다</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/0cd33906c1d4783fbbb99a2d6193e54f_451986_ori.thumb" 
                                    class="scale" style="height:280px;width:190px;background-position:center;" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                                </div>
                                <div class="thumb_s1">7</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">북부대공녀의 소꿉친구가 되었다</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/0cd33906c1d4783fbbb99a2d6193e54f_451986_ori.thumb" 
                                    class="scale" style="height:280px;width:190px;background-position:center;" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                                </div>
                                <div class="thumb_s1">7</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">북부대공녀의 소꿉친구가 되었다</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/0cd33906c1d4783fbbb99a2d6193e54f_451986_ori.thumb" 
                                    class="scale" style="height:280px;width:190px;background-position:center;" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                                </div>
                                <div class="thumb_s1">7</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">북부대공녀의 소꿉친구가 되었다</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/0cd33906c1d4783fbbb99a2d6193e54f_451986_ori.thumb" 
                                    class="scale" style="height:280px;width:190px;background-position:center;" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                                </div>
                                <div class="thumb_s1">7</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">북부대공녀의 소꿉친구가 되었다</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/0cd33906c1d4783fbbb99a2d6193e54f_451986_ori.thumb" class="scale" style="height:280px;width:190px;background-position:center;">
                                </div>
                                <div class="thumb_s1">7</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">북부대공녀의 소꿉친구가 되었다</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/0cd33906c1d4783fbbb99a2d6193e54f_451986_ori.thumb" class="scale" style="height:280px;width:190px;background-position:center;">
                                </div>
                                <div class="thumb_s1">7</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">북부대공녀의 소꿉친구가 되었다</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/0cd33906c1d4783fbbb99a2d6193e54f_451986_ori.thumb" class="scale" style="height:280px;width:190px;background-position:center;">
                                </div>
                                <div class="thumb_s1">7</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">북부대공녀의 소꿉친구가 되었다</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/0cd33906c1d4783fbbb99a2d6193e54f_451986_ori.thumb" class="scale" style="height:280px;width:190px;background-position:center;">
                                </div>
                                <div class="thumb_s1">7</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">북부대공녀의 소꿉친구가 되었다</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/0cd33906c1d4783fbbb99a2d6193e54f_451986_ori.thumb" class="scale" style="height:280px;width:190px;background-position:center;">
                                </div>
                                <div class="thumb_s1">7</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">북부대공녀의 소꿉친구가 되었다</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="novelBox" style="position: relative; float: left;">
            <div class="novel" style="cursor: pointer; padding: 20px 0px; border-bottom: 1px soild #dddddd;">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <div style="position:relative;overflow:hidden;box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);border-radius: 0px 30px 0px 0px;">
                                    <img src="https://image.novelpia.com/imagebox/cover/0cd33906c1d4783fbbb99a2d6193e54f_451986_ori.thumb" class="scale" style="height:280px;width:190px;background-position:center;">
                                </div>
                                <div class="thumb_s1">7</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td style="color:#333;padding:15px 10px 0px 0px;line-height:22px;" valign="top">
                                <b class="cut_line_one" style="letter-spacing: -2px;font-size: 14px;">북부대공녀의 소꿉친구가 되었다</b>
                                <p class="writer" style="font-size:12px;color:#666;font-weight:400;">서은하</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--페이징-->
    <div class="pagenation-group pc-page">
        <ul>
            <li><a href="#" class="page-select">1</a></li>
            <li><a href="#" class="page-select">2</a></li>
            <li><a href="#" class="page-select">3</a></li>
            <li><a href="#" class="page-select">4</a></li>
            <li><a href="#" class="page-select">5</a></li>
        </ul>
    </div>
</div>
<div id="search_modal">
    <div class="basic-modal-wrapper">
        <div class="basic-modal-top">
            <div class="tab-search-tit"><p style="border-bottom: 1px solid #ddd;">태그 검색</p><div>
            <div class="basic-modal-close"></div>
        </div>
        <div class="tag_contents">
            <input type="text" id="genre_search" class="tag_search_box" placeholder="검색할 태그를 입력해주세요.">
            <h6 style="font-size: 14px;">최근 검색 목록</h6>
            <div class="history_box">
                <ul id="genre_search_history"></ul>
            </div>
            <div class="history_box tag_no_pia" id="no_genre_search_history">
                <img src="https://image.novelpia.com/img/new/list/img_tag_x.png">
                <p>최근 검색 기록이 없습니다.</p>
            </div>
            <div class="tab_search_footer">
                <button type="button" class="tag_search" id="genre_search_btn">검색</button>
                <button type="button" class="modal_close_btn" id="genre_search_modal_close_btn">닫기</button>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
        <th:block th:insert="/fix/footer.html :: footerFragment"/>
</body>

<script type="text/javascript">



    
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/fix/header.js"></script>
<script src="/assets/js/novel/ranking.js"></script>
</html>