<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>소설 상세보기</title>
    <link href="//font.elice.io/EliceDigitalBaeum.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumHaengBogHanDoBi.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="/assets/css/novel/novelDetailView.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>
<body>
<div style="width: 100%; background-color: #f0f0f0; position: fixed; left: 0; top: 0; z-index: 2; ">
    <div class="menuBar">
        <div class="novelTitle">
            <a th:href="@{/novel/novelRoundList(novelNumber=${novelNumber})}">
                <div class="arrowIconWrap">
                    <img src="/images/icon/화살표왼쪽.png" class="img"/>
                </div>
            </a>
            <div style="font-size: 17px" th:text="${subNovelVO.subNovelTitle}">
            </div>
        </div>


        <div class="icons">
            <div class="heartIcon">
                <img src="/images/icon/소설하트.png" class="img topheart"/>
                <div class="showLikeNum" th:text="${subNovelVO.subNovelLikeCount}"></div>
            </div>
            <div class="bellIcon">
                <img src="/images/icon/후원코인.png" class="img topbell coin"/>
            </div>
            <div class="listIcon">
                <img src="/images/icon/목록.png" class="img"/>
            </div>
        </div>

    </div>
</div>
<div class="whiteLine whiteLine2"></div>

<div class="novelContentwrap">
    <textarea name="novelContent" id="" class="novelContent" th:text="${novelContent}" readonly></textarea>

    <div class="writerMent">
        <div>
            <p>작가의 말</p>
            <hr class="hr">
            <div class="writerComment" th:text="${subNovelVO.subNovelWriterComment}">

            </div>
        </div>
    </div>



    <div class="ments">
        <div style="display: flex;justify-content: space-between;">
            <p class="p2">댓글 <span class="span2 mentSize"></span></p>
            <button class="send" type="button" >전송</button>
        </div>

        <div class="writeMent">
            <textarea name="replyContent" id="replyContent" class="writeMentarea"></textarea>
        </div>

        <div class="replyWrap">
            <div class="flex" style="margin-bottom: 49px;">
                <div class="flex pink" style="margin-right: 15px;">
                    <div class="pinkCheck"><img src="/images/icon/체크핑크.png" class="img pink"/></div>
                    <div>BEST</div>
                </div>
                <div class="flex gray">
                    <div class="grayCheck"><img src="/images/icon/체크그레이.png" class="img gray"/></div>
                    <div>TOTAL</div>
                </div>

            </div>
            <div class="mentsWrap">

            </div>

        </div>
    </div>

</div>


<div class="displayBottom">

    <div class="whiteLine"></div>
    <div style="width: 100%; background-color: #f0f0f0; height: 46px;">
        <div style="width: 44%; margin: 0 auto; line-height: 3; color: #adadad; display: flex; justify-content: space-between;">
            <th:block th:text="|${novelVO.novelTitle} ${count}화|"></th:block>
            <div style="display: flex;">
                <th:block th:if="${count-1!=0}">
                    <a th:href="@{/novel/nextPrevNovelDetailView(novelNumber=${novelNumber}, subNovelNumber=${subNovelNumber}, num=-1,count=${count-1})}" class="a">
                        <div style="margin-right: 29px; cursor:pointer;">
                            <span class="span">&lt</span>이전화
                        </div>
                    </a>
                </th:block>
                <th:block th:if="${count!=subNovelVOList.size()}">
                    <a th:href="@{/novel/nextPrevNovelDetailView(novelNumber=${novelNumber}, subNovelNumber=${subNovelNumber}, num=1,count=${count+1})}" class="a">
                        <div style="cursor:pointer;">
                            다음화<span class="span">&gt</span>
                        </div>
                    </a>
                </th:block>
            </div>
        </div>
    </div>


    <div class="bottomNav">
        <div class="icons2">
            <a th:href="@{/novel/novelRoundList(novelNumber=${novelNumber})}">
                <div class="bottomIcon homeIcon">
                    <img src="/images/icon/홈.png" class="img"/>
                </div>
            </a>
            <div class="bottomIcon mentIcon"><img src="/images/icon/댓글.png" class="img"/></div>
            <div class="bottomIcon heartIcon">
                <img src="/images/icon/소설하트.png" class="img topheart"/>
            </div>
            <div class="bottomIcon textimg"><img src="/images/icon/텍스트.png" class="img"/></div>

        </div>
        <div class="icons2" style="margin-top: -10px;">
            <div class="textIcon home">&nbsp;&nbsp;홈</div>
            <div class="textIcon ment">댓글</div>
            <div class="textIcon heart">하트</div>
            <div class="textIcon textIcon2">텍스트</div>
        </div>
    </div>
</div>


<!--텍스트 설정 모달-->

<div class="textModal">
    <div class="textModal_column">
        배경 색상
        <div class="columnDiv">
            <div class="colorDiv cd1" style="background-color: white; border: 1px solid #c4c4c4;"></div>
            <div class="colorDiv cd2" style="background-color: wheat;"></div>
            <div class="colorDiv cd3" style="background-color: black;"></div>
        </div>

    </div>

    <div class="textModal_column">
        글자 색상
        <div class="columnDiv">
            <div class="colorDiv cd4" style="background-color: white; border: 1px solid #c4c4c4;"></div>
            <div class="colorDiv cd5" style="background-color: rgba(74,163,71,0.73);"></div>
            <div class="colorDiv cd6" style="background-color: #ef6e73;"></div>
            <div class="colorDiv cd7" style="background-color: #000000;"></div>
        </div>
    </div>
    <div class="textModal_column">
        <span>글자 크기&nbsp;<span class="count1">0</span></span>
        <div class="columnDiv plusMinusDiv fontsize">
            <div class="minusIcon pmIcon m"><img src="/images/icon/minus-gray.png" class="img"/></div>
            <div class="plusIcon pmIcon p"><img src="/images/icon/plus-gray.png" class="img"/></div>
        </div>
    </div>
    <div class="textModal_column">
        <span>줄 간격&nbsp;<span class="count2">0</span></span>
        <div class="columnDiv plusMinusDiv">
            <div class="minusIcon line m"><img src="/images/icon/minus-gray.png" class="img"/></div>
            <div class="plusIcon line p"><img src="/images/icon/plus-gray.png" class="img"/></div>
        </div>
    </div>
    <div class="textModal_column">
        글꼴
        <div class="columnDiv" style="margin-right: 26px;">
            <select class="fontSelect" onchange="selectFunction()">
                <option value="alice">Alice</option>
                <option value="noto">NotoSansKo</option>
                <option value="dobbie">Happy Dobbie</option>
            </select>
        </div>
    </div>
    <div class="textModal_column">댓글숨기기
        <div class=" wrapper">
            <input type="checkbox" id="switch">
            <label for="switch" class="switch_label">
                <span class="onf_btn"></span>
            </label>
        </div>
    </div>


</div>


<!--사이드 바 모달-->

<div class="sidebar slide-div"  >

    <div class='side-row' th:each="subNovelVO,i:${subNovelVOList}">
        <div style='margin-right: 35px;'>
            <span th:text="|${i.count}편|"></span>
        </div>
        <div>
            <a class='a' th:href="@{/novel/novelDetailView(novelNumber=${subNovelVO.novelVO.novelNumber}, subNovelNumber=${subNovelVO.subNovelNumber}, count=${i.count})}">
                <div th:text="${subNovelVO.novelVO.novelTitle}" ></div>
            </a>
            <div class='day' th:text="${#strings.substring(subNovelVO.subNovelUploadDate,0,10)}"></div>
        </div>
    </div>
</div>


<!--코인 모달-->
<div class="modal_background">
    <div class="coinModalWrap">
        <div class="coinModal">
            <div class="modalHeader">
                <p style="text-align: center;">내가 이세계 개발자 소설에</p>
            </div>
            <p class="currentCoin">[현재코인:1000코인]</p>
            <img src="/images/icon/후원.gif" width="100px" style="margin-top: 38px;"/>
            <div style="display: flex;justify-content: center;font-size: 24px;">

                <input type="text" name="coinAmount" class="coinAmount">
                <p>코인
                    <button type="button" class="coinEnter">
                        후원하기
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

<!--코인 충전모달-->
<div class="modal_background2">
    <div class="cashCharge">
        <div class="cashHeader"><span class="x">X</span></div>
        <div class="cash">
            <p class="cashMent">앗! 이런, 코인이 부족하네요</p>
            <img src="/images/icon/사이렌 (2).png" width="100" class="cirenIcon"/>
            <img src="/images/icon/코인충전.png" width="100" class="cashChargeIcon"/>

            <div class="modalBtns">
                <button type="button" class="cashCancle">취소하기</button>
                <button type="button" class="gotoCharge">충전하러 가기</button>
            </div>
        </div>
    </div>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:inline="javascript">

    let subNovelNumber =[[${subNovelNumber}]]
    let novelNumber = [[${novelNumber}]]
    let userNumber = [[${session.userNumber}]]


    console.log("subNovelNumber"+subNovelNumber);
</script>
<script src="/assets/js/novel/novelDetailView.js"></script>
<script src="/assets/js/novel/novelDetailReply.js"></script>

</html>