<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Strlling</title>
    <link href="/css/freeSerializeCss/category.css" rel="stylesheet" type="text/css">
    <link href="/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/css/fix/footer.css" rel="stylesheet" type="text/css">
</head>
<body>

<!-- 헤더 시작 -->
    <th:block th:insert="/fix/header_word.html :: headFragment"/>

    <!--헤더 이미지-->
    <div id="headerImgWrap" >
        <img id="headerImg"src="/images/fix/headerImg_3.png" >
    </div>
<!-- 헤더 종료 -->

    <div id="categoryWrap" class="giveMaxWidth">
        <section id="categorySection" class="giveMaxWidth">
            <div id="categoryMenu" class="giveMaxWidth">
                <table class="giveMaxWidth">
                    <tbody>
                        <tr>
                            <td><a href="#" class="categoryMenuItem">전체</a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="categoryMenuItem">신작</a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="categoryMenuItem">완결</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="totalWrap"class="giveMaxWidth">
                <div class="totalWordWork">
                    <img src="/images/category/fileIcon.png" alt="파일아이콘">
                    <span>총 18,827개 작품</span>
                </div>
                <div id="totalR_side">
                    <div id="totalOption">
                        <div class="OptionChange"><img src="/images/category/checkIcon.png" alt="체크아이콘">공개일자 순</div>
                        <div class="OptionChange"><img src="/images/category/optionPointIcon.png" alt="체크아이콘">조회순</div>
                        <div class="OptionChange"><img src="/images/category/optionPointIcon.png" alt="체크아이콘">추천순</div>
                    </div>
                        <a href="#" class="writeButton"><img src="/images/category/wordWriteIcon.png" alt="글등록아이콘">신규작품 등록</a>
                </div>
            </div>
            <div id="tagSearchWrap" class="giveMaxWidth">
                <div class="tagInner">
                    <button class="tagBtn" onclick="changeTagSearch()">태그검색</button>

                    <div id="searchFormWrap">
                        <form id="searchForm">
                            <input id="" type="text" placeholder="#검색할 태그를 입력하세요" maxlength="16">
                            <div class="cancelImg" onclick="changeTagSearch()">
                                <img src="/images/category/cancelIcon.png">
                            </div>
                        </form>
                    </div>
                    <ul id="tagSearchList">
                        <li class="active"><a>전체</a></li>
                        <li><a href="#">판타지</a></li>
                        <li><a href="#">무협</a></li>
                        <li><a href="#">현대</a></li>
                        <li><a href="#">로맨스</a></li>
                        <li><a href="#">현대판타지</a></li>
                        <li><a href="#">라이트노벨</a></li>
                        <li><a href="#">공포</a></li>
                        <li><a href="#">SF</a></li>
                        <li><a href="#">스포츠</a></li>
                        <li><a href="#">대체역사</a></li>
                        <li><a href="#">기타</a></li>
                        <li><a href="#">패러디</a></li>
                    </ul>
                </div>
            </div>
            <div id="searchResult"class="giveMaxWidth">
                <div class="resultItem">
                     <div class="coverBox"><img src="/images/category/test.png" alt="표지사진"><img src="/images/category/updateIcon.png" alt="업데이트아이콘"></div>
                     <div class="pieceInfo">
                         <div>
                            <div class="info_head">
                                <div>
                                    <span class="free_content">자유</span>
                                    <span class="mono_content">독점</span>
                                    <span class="finish_content">완결</span>
                                </div>
                                <a href="#" class="info_title">권능의 여왕</a>
                                <a href="#" class="info_writer">거북이</a>
                            </div>
                            <div class="info_summary">고블린군체 속에서 태어나 평화롭게 살아가던 한 소녀의 삶은 토벌대에 의해 완전히 망가져 버리게 된다. 죽어가는 고블린들을 뒤로 한 채 원치 않게 구출 당해진 소녀는 고아들을 돌보는 보육원에 맡겨지게 된다. 탈출도 할 수 없었던 이곳에서 벗어나기만을 기다리던 그녀는 드디어 보육원의 보호기간이 끝나게 되는데... </div>
                        </div>
                        <div class="info_counts">
                            <div class="info_count"><img src="/images/category/viewIcon.png" alt="조회수">755.7K명</div>
                            <div class="info_count"><img src="/images/category/bookIcon.png" alt="회차">10회차</div>
                            <div class="info_count"><img src="/images/category/likeIcon.png" alt="좋아요">47회</div>
                        </div>
                        <div class="info_tag">
                            <ul>
                                <li><a href="#">#판타지</a></li>
                                <li><a href="#">#라이트노넬</a></li>
                                <li><a href="#">#전생</a></li>
                                <li><a href="#">#이세계</a></li>
                                <li><a href="#">#여주인공</a></li>
                                <li><a href="#">#여왕</a></li>
                            </ul>
                    <!--        <div class="mobile_updateTimeBox">1분전 UP</div>-->
                        </div>
                         <div>
                             <div class="updateTimeBox web_updateTimeBox">1분전 UP</div>
                         </div>
                     </div>
                </div>
                <!-- 더미 데이터 시작 -->
                <div class="resultItem">
                    <div class="coverBox"><img src="/images/category/dumi1.jpg" alt="표지사진"><img src="/images/category/updateIcon.png" alt="업데이트아이콘"></div>
                    <div class="pieceInfo">
                        <div>
                            <div class="info_head">
                                <div>
                                    <span class="free_content">자유</span>
                                    <span class="mono_content">독점</span>
                                    <span class="finish_content">완결</span>
                                </div>
                                <a href="#" class="info_title">권능의 여왕</a>
                                <a href="#" class="info_writer">거북이</a>
                            </div>
                            <div class="info_summary">고블린군체 속에서 태어나 평화롭게 살아가던 한 소녀의 삶은 토벌대에 의해 완전히 망가져 버리게 된다. 죽어가는 고블린들을 뒤로 한 채 원치 않게 구출 당해진 소녀는 고아들을 돌보는 보육원에 맡겨지게 된다. 탈출도 할 수 없었던 이곳에서 벗어나기만을 기다리던 그녀는 드디어 보육원의 보호기간이 끝나게 되는데... </div>
                        </div>
                        <div class="info_counts">
                            <div class="info_count"><img src="/images/category/viewIcon.png" alt="조회수">755.7K명</div>
                            <div class="info_count"><img src="/images/category/bookIcon.png" alt="회차">10회차</div>
                            <div class="info_count"><img src="/images/category/likeIcon.png" alt="좋아요">47회</div>
                        </div>
                        <div class="info_tag">
                            <ul>

                            </ul>
                        </div>
                        <!--<div class="mobile_updateTimeBox">1분전 UP</div>-->
                        <div>
                            <div class="updateTimeBox web_updateTimeBox">1분전 UP</div>
                        </div>
                    </div>
                </div>
                <div class="resultItem">
                    <div class="coverBox"><img src="/images/category/dumi2.jpg" alt="표지사진"><img src="/images/category/updateIcon.png" alt="업데이트아이콘"></div>
                    <div class="pieceInfo">
                        <div>
                            <div class="info_head">
                                <div>
                                    <span class="free_content">자유</span>
                                    <span class="mono_content">독점</span>
                                    <span class="finish_content">완결</span>
                                </div>
                                <a href="#" class="info_title">권능의 여왕</a>
                                <a href="#" class="info_writer">거북이</a>
                            </div>
                            <div class="info_summary">고블린군체 속에서 태어나 평화롭게 살아가던 한 소녀의 삶은 토벌대에 의해 완전히 망가져 버리게 된다. 죽어가는 고블린들을 뒤로 한 채 원치 않게 구출 당해진 소녀는 고아들을 돌보는 보육원에 맡겨지게 된다. 탈출도 할 수 없었던 이곳에서 벗어나기만을 기다리던 그녀는 드디어 보육원의 보호기간이 끝나게 되는데... </div>
                        </div>
                        <div class="info_counts">
                            <div class="info_count"><img src="/images/category/viewIcon.png" alt="조회수">755.7K명</div>
                            <div class="info_count"><img src="/images/category/bookIcon.png" alt="회차">10회차</div>
                            <div class="info_count"><img src="/images/category/likeIcon.png" alt="좋아요">47회</div>
                        </div>
                        <div class="info_tag">
                            <ul>
                                <li><a href="#">#판타지</a></li>
                                <li><a href="#">#라이트노넬</a></li>
                                <li><a href="#">#전생</a></li>
                                <li><a href="#">#이세계</a></li>
                                <li><a href="#">#여주인공</a></li>
                                <li><a href="#">#여왕</a></li>
                            </ul>
                        </div>
                  <!--      <div class="mobile_updateTimeBox">21.01.21 UP</div>-->
                        <div>
                            <div class="updateTimeBox web_updateTimeBox">21.01.21 UP</div>
                        </div>
                    </div>
                </div>
                <div class="resultItem">
                    <div class="coverBox"><img src="/images/category/dumi3.jpg" alt="표지사진"></div>
                    <div class="pieceInfo">
                        <div>
                            <div class="info_head">
                                <div>
                                    <span class="free_content">자유</span>
                                    <span class="mono_content">독점</span>
                                    <span class="finish_content">완결</span>
                                </div>
                                <a href="#" class="info_title">권능의 여왕</a>
                                <a href="#" class="info_writer">거북이</a>
                            </div>
                            <div class="info_summary">고블린군체 속에서 태어나 평화롭게 살아가던 한 소녀의 삶은 토벌대에 의해 완전히 망가져 버리게 된다. 죽어가는 고블린들을 뒤로 한 채 원치 않게 구출 당해진 소녀는 고아들을 돌보는 보육원에 맡겨지게 된다. 탈출도 할 수 없었던 이곳에서 벗어나기만을 기다리던 그녀는 드디어 보육원의 보호기간이 끝나게 되는데... </div>
                        </div>
                        <div class="info_counts">
                            <div class="info_count"><img src="/images/category/viewIcon.png" alt="조회수">755.7K명</div>
                            <div class="info_count"><img src="/images/category/bookIcon.png" alt="회차">10회차</div>
                            <div class="info_count"><img src="/images/category/likeIcon.png" alt="좋아요">47회</div>
                        </div>
                        <div class="info_tag">
                            <ul>
                                <li><a href="#">#판타지</a></li>
                                <li><a href="#">#라이트노넬</a></li>
                                <li><a href="#">#전생</a></li>
                                <li><a href="#">#이세계</a></li>
                                <li><a href="#">#여주인공</a></li>
                                <li><a href="#">#여왕</a></li>
                            </ul>
                        </div>
                        <!--<div class="mobile_updateTimeBox">21.01.21 UP</div>-->
                        <div>
                            <div class="updateTimeBox web_updateTimeBox">1분전 UP</div>
                        </div>
                    </div>
                </div>
                <div class="resultItem">
                    <div class="coverBox"><img src="/images/category/dumi4.png" alt="표지사진"></div>
                    <div class="pieceInfo">
                        <div>
                            <div class="info_head">
                                <div>
                                    <span class="free_content">자유</span>
                                    <span class="mono_content">독점</span>
                                    <span class="finish_content">완결</span>
                                </div>
                                <a href="#" class="info_title">권능의 여왕</a>
                                <a href="#" class="info_writer">거북이</a>
                            </div>
                            <div class="info_summary">고블린군체 속에서 태어나 평화롭게 살아가던 한 소녀의 삶은 토벌대에 의해 완전히 망가져 버리게 된다. 죽어가는 고블린들을 뒤로 한 채 원치 않게 구출 당해진 소녀는 고아들을 돌보는 보육원에 맡겨지게 된다. 탈출도 할 수 없었던 이곳에서 벗어나기만을 기다리던 그녀는 드디어 보육원의 보호기간이 끝나게 되는데... </div>
                        </div>
                        <div class="info_counts">
                            <div class="info_count"><img src="/images/category/viewIcon.png" alt="조회수">755.7K명</div>
                            <div class="info_count"><img src="/images/category/bookIcon.png" alt="회차">10회차</div>
                            <div class="info_count"><img src="/images/category/likeIcon.png" alt="좋아요">47회</div>
                        </div>
                        <div class="info_tag">
                            <ul>
                                <li><a href="#">#판타지</a></li>
                                <li><a href="#">#라이트노넬</a></li>
                                <li><a href="#">#전생</a></li>
                                <li><a href="#">#이세계</a></li>
                                <li><a href="#">#여주인공</a></li>
                                <li><a href="#">#여왕</a></li>
                            </ul>
                        </div>
                       <!-- <div class="mobile_updateTimeBox">21.01.21 UP</div>-->
                        <div>
                            <div class="updateTimeBox web_updateTimeBox">1분전 UP</div>
                        </div>
                    </div>
                </div>
                <div class="resultItem">
                    <div class="coverBox"><img src="/images/category/dumi5.jpg" alt="표지사진"></div>
                    <div class="pieceInfo">
                        <div>
                            <div class="info_head">
                                <div>
                                    <span class="free_content">자유</span>
                                    <span class="mono_content">독점</span>
                                    <span class="finish_content">완결</span>
                                </div>
                                <a href="#" class="info_title">권능의 여왕</a>
                                <a href="#" class="info_writer">거북이</a>
                            </div>
                            <div class="info_summary">고블린군체 속에서 태어나 평화롭게 살아가던 한 소녀의 삶은 토벌대에 의해 완전히 망가져 버리게 된다. 죽어가는 고블린들을 뒤로 한 채 원치 않게 구출 당해진 소녀는 고아들을 돌보는 보육원에 맡겨지게 된다. 탈출도 할 수 없었던 이곳에서 벗어나기만을 기다리던 그녀는 드디어 보육원의 보호기간이 끝나게 되는데... </div>
                        </div>
                        <div class="info_counts">
                            <div class="info_count"><img src="/images/category/viewIcon.png" alt="조회수">755.7K명</div>
                            <div class="info_count"><img src="/images/category/bookIcon.png" alt="회차">10회차</div>
                            <div class="info_count"><img src="/images/category/likeIcon.png" alt="좋아요">47회</div>
                        </div>
                        <div class="info_tag">
                            <ul>
                                <li><a href="#">#판타지</a></li>
                                <li><a href="#">#라이트노넬</a></li>
                                <li><a href="#">#전생</a></li>
                                <li><a href="#">#이세계</a></li>
                                <li><a href="#">#여주인공</a></li>
                                <li><a href="#">#여왕</a></li>
                            </ul>
                        </div>
                        <!--<div class="mobile_updateTimeBox">21.01.21 UP</div>-->
                        <div>
                            <div class="updateTimeBox web_updateTimeBox">1분전 UP</div>
                        </div>
                    </div>
                </div>
                <div class="resultItem">
                    <div class="coverBox"><img src="/images/category/dumi6.jpg" alt="표지사진"></div>
                    <div class="pieceInfo">
                        <div>
                            <div class="info_head">
                                <div>
                                    <span class="free_content">자유</span>
                                    <span class="mono_content">독점</span>
                                    <span class="finish_content">완결</span>
                                </div>
                                <a href="#" class="info_title">권능의 여왕</a>
                                <a href="#" class="info_writer">거북이</a>
                            </div>
                            <div class="info_summary">고블린군체 속에서 태어나 평화롭게 살아가던 한 소녀의 삶은 토벌대에 의해 완전히 망가져 버리게 된다. 죽어가는 고블린들을 뒤로 한 채 원치 않게 구출 당해진 소녀는 고아들을 돌보는 보육원에 맡겨지게 된다. 탈출도 할 수 없었던 이곳에서 벗어나기만을 기다리던 그녀는 드디어 보육원의 보호기간이 끝나게 되는데... </div>
                        </div>
                        <div class="info_counts">
                            <div class="info_count"><img src="/images/category/viewIcon.png" alt="조회수">755.7K명</div>
                            <div class="info_count"><img src="/images/category/bookIcon.png" alt="회차">10회차</div>
                            <div class="info_count"><img src="/images/category/likeIcon.png" alt="좋아요">47회</div>
                        </div>
                        <div class="info_tag">
                            <ul>
                                <li><a href="#">#판타지</a></li>
                                <li><a href="#">#라이트노넬</a></li>
                                <li><a href="#">#전생</a></li>
                                <li><a href="#">#이세계</a></li>
                                <li><a href="#">#여주인공</a></li>
                                <li><a href="#">#여왕</a></li>
                            </ul>
                        </div>
                       <!-- <div class="mobile_updateTimeBox">1분전 UP</div>-->
                        <div>
                            <div class="updateTimeBox web_updateTimeBox">1분전 UP</div>
                        </div>
                    </div>
                </div>
                <div class="resultItem">
                    <div class="coverBox"><img src="/images/category/test.png" alt="표지사진"></div>
                    <div class="pieceInfo">
                        <div>
                            <div class="info_head">
                                <div>
                                    <span class="free_content">자유</span>
                                    <span class="mono_content">독점</span>
                                    <span class="finish_content">완결</span>
                                </div>
                                <a href="#" class="info_title">권능의 여왕</a>
                                <a href="#" class="info_writer">거북이</a>
                            </div>
                            <div class="info_summary">고블린군체 속에서 태어나 평화롭게 살아가던 한 소녀의 삶은 토벌대에 의해 완전히 망가져 버리게 된다. 죽어가는 고블린들을 뒤로 한 채 원치 않게 구출 당해진 소녀는 고아들을 돌보는 보육원에 맡겨지게 된다. 탈출도 할 수 없었던 이곳에서 벗어나기만을 기다리던 그녀는 드디어 보육원의 보호기간이 끝나게 되는데... </div>
                        </div>
                        <div class="info_counts">
                            <div class="info_count"><img src="/images/category/viewIcon.png" alt="조회수">755.7K명</div>
                            <div class="info_count"><img src="/images/category/bookIcon.png" alt="회차">10회차</div>
                            <div class="info_count"><img src="/images/category/likeIcon.png" alt="좋아요">47회</div>
                        </div>
                        <div class="info_tag">
                            <ul>
                                <li><a href="#">#판타지</a></li>
                                <li><a href="#">#라이트노넬</a></li>
                                <li><a href="#">#전생</a></li>
                                <li><a href="#">#이세계</a></li>
                                <li><a href="#">#여주인공</a></li>
                                <li><a href="#">#여왕</a></li>
                            </ul>
                        </div>
                      <!--  <div class="mobile_updateTimeBox">1분전 UP</div>-->
                        <div>
                            <div class="updateTimeBox web_updateTimeBox">1분전 UP</div>
                        </div>
                    </div>
                </div>
                <div class="resultItem">
                    <div class="coverBox"><img src="/images/category/test.png" alt="표지사진"></div>
                    <div class="pieceInfo">
                        <div>
                            <div class="info_head">
                                <div>
                                    <span class="free_content">자유</span>
                                    <span class="mono_content">독점</span>
                                    <span class="finish_content">완결</span>
                                </div>
                                <a href="#" class="info_title">권능의 여왕</a>
                                <a href="#" class="info_writer">거북이</a>
                            </div>
                            <div class="info_summary">고블린군체 속에서 태어나 평화롭게 살아가던 한 소녀의 삶은 토벌대에 의해 완전히 망가져 버리게 된다. 죽어가는 고블린들을 뒤로 한 채 원치 않게 구출 당해진 소녀는 고아들을 돌보는 보육원에 맡겨지게 된다. 탈출도 할 수 없었던 이곳에서 벗어나기만을 기다리던 그녀는 드디어 보육원의 보호기간이 끝나게 되는데... </div>
                        </div>
                        <div class="info_counts">
                            <div class="info_count"><img src="/images/category/viewIcon.png" alt="조회수">755.7K명</div>
                            <div class="info_count"><img src="/images/category/bookIcon.png" alt="회차">10회차</div>
                            <div class="info_count"><img src="/images/category/likeIcon.png" alt="좋아요">47회</div>
                        </div>
                        <div class="info_tag">
                            <ul>
                                <li><a href="#">#판타지</a></li>
                                <li><a href="#">#라이트노넬</a></li>
                                <li><a href="#">#전생</a></li>
                                <li><a href="#">#이세계</a></li>
                                <li><a href="#">#여주인공</a></li>
                                <li><a href="#">#여왕</a></li>
                            </ul>
                        </div>
                      <!--  <div class="mobile_updateTimeBox">1분전 UP</div>-->
                        <div>
                            <div class="updateTimeBox web_updateTimeBox">1분전 UP</div>
                        </div>
                    </div>
                </div>
                <div class="resultItem">
                    <div class="coverBox"><img src="/images/category/test.png" alt="표지사진"></div>
                    <div class="pieceInfo">
                        <div>
                            <div class="info_head">
                                <div>
                                    <span class="free_content">자유</span>
                                    <span class="mono_content">독점</span>
                                    <span class="finish_content">완결</span>
                                </div>
                                <a href="#" class="info_title">권능의 여왕</a>
                                <a href="#" class="info_writer">거북이</a>
                            </div>
                            <div class="info_summary">고블린군체 속에서 태어나 평화롭게 살아가던 한 소녀의 삶은 토벌대에 의해 완전히 망가져 버리게 된다. 죽어가는 고블린들을 뒤로 한 채 원치 않게 구출 당해진 소녀는 고아들을 돌보는 보육원에 맡겨지게 된다. 탈출도 할 수 없었던 이곳에서 벗어나기만을 기다리던 그녀는 드디어 보육원의 보호기간이 끝나게 되는데... </div>
                        </div>
                        <div class="info_counts">
                            <div class="info_count"><img src="/images/category/viewIcon.png" alt="조회수">755.7K명</div>
                            <div class="info_count"><img src="/images/category/bookIcon.png" alt="회차">10회차</div>
                            <div class="info_count"><img src="/images/category/likeIcon.png" alt="좋아요">47회</div>
                        </div>
                        <div class="info_tag">
                            <ul>
                                <li><a href="#">#판타지</a></li>
                                <li><a href="#">#라이트노넬</a></li>
                                <li><a href="#">#전생</a></li>
                                <li><a href="#">#이세계</a></li>
                                <li><a href="#">#여주인공</a></li>
                                <li><a href="#">#여왕</a></li>
                            </ul>
                        </div>
                     <!--   <div class="mobile_updateTimeBox">1분전 UP</div>-->
                        <div>
                            <div class="updateTimeBox web_updateTimeBox">1분전 UP</div>
                        </div>
                    </div>
                </div>
                <div class="resultItem">
                    <div class="coverBox"><img src="/images/category/test.png" alt="표지사진"></div>
                    <div class="pieceInfo">
                        <div>
                            <div class="info_head">
                                <div>
                                    <span class="free_content">자유</span>
                                    <span class="mono_content">독점</span>
                                    <span class="finish_content">완결</span>
                                </div>
                                <a href="#" class="info_title">권능의 여왕</a>
                                <a href="#" class="info_writer">거북이</a>
                            </div>
                            <div class="info_summary">고블린군체 속에서 태어나 평화롭게 살아가던 한 소녀의 삶은 토벌대에 의해 완전히 망가져 버리게 된다. 죽어가는 고블린들을 뒤로 한 채 원치 않게 구출 당해진 소녀는 고아들을 돌보는 보육원에 맡겨지게 된다. 탈출도 할 수 없었던 이곳에서 벗어나기만을 기다리던 그녀는 드디어 보육원의 보호기간이 끝나게 되는데... </div>
                        </div>
                        <div class="info_counts">
                            <div class="info_count"><img src="/images/category/viewIcon.png" alt="조회수">755.7K명</div>
                            <div class="info_count"><img src="/images/category/bookIcon.png" alt="회차">10회차</div>
                            <div class="info_count"><img src="/images/category/likeIcon.png" alt="좋아요">47회</div>
                        </div>
                        <div class="info_tag">
                            <ul>
                                <li><a href="#">#판타지</a></li>
                                <li><a href="#">#라이트노넬</a></li>
                                <li><a href="#">#전생</a></li>
                                <li><a href="#">#이세계</a></li>
                                <li><a href="#">#여주인공</a></li>
                                <li><a href="#">#여왕</a></li>
                            </ul>
                        </div>
                        <!--<div class="mobile_updateTimeBox">1분전 UP</div>-->
                        <div>
                            <div class="updateTimeBox web_updateTimeBox">1분전 UP</div>
                        </div>
                    </div>
                </div>
                <div class="resultItem">
                    <div class="coverBox"><img src="/images/category/test.png" alt="표지사진"></div>
                    <div class="pieceInfo">
                        <div>
                            <div class="info_head">
                                <div>
                                    <span class="free_content">자유</span>
                                    <span class="mono_content">독점</span>
                                    <span class="finish_content">완결</span>
                                </div>
                                <a href="#" class="info_title">권능의 여왕</a>
                                <a href="#" class="info_writer">거북이</a>
                            </div>
                            <div class="info_summary">고블린군체 속에서 태어나 평화롭게 살아가던 한 소녀의 삶은 토벌대에 의해 완전히 망가져 버리게 된다. 죽어가는 고블린들을 뒤로 한 채 원치 않게 구출 당해진 소녀는 고아들을 돌보는 보육원에 맡겨지게 된다. 탈출도 할 수 없었던 이곳에서 벗어나기만을 기다리던 그녀는 드디어 보육원의 보호기간이 끝나게 되는데... </div>
                        </div>
                        <div class="info_counts">
                            <div class="info_count"><img src="/images/category/viewIcon.png" alt="조회수">755.7K명</div>
                            <div class="info_count"><img src="/images/category/bookIcon.png" alt="회차">10회차</div>
                            <div class="info_count"><img src="/images/category/likeIcon.png" alt="좋아요">47회</div>
                        </div>
                        <div class="info_tag">
                            <ul>
                                <li><a href="#">#판타지</a></li>
                                <li><a href="#">#라이트노넬</a></li>
                                <li><a href="#">#전생</a></li>
                                <li><a href="#">#이세계</a></li>
                                <li><a href="#">#여주인공</a></li>
                                <li><a href="#">#여왕</a></li>
                            </ul>
                        </div>
                      <!--  <div class="mobile_updateTimeBox">1분전 UP</div>-->
                        <div>
                            <div class="updateTimeBox web_updateTimeBox">1분전 UP</div>
                        </div>
                    </div>
                </div>
                <!-- 더미 데이터 종료 -->

            </div>


            <!-- 페이징 시작-->
            <div class="categoryPaging giveMaxWidth">
                <!-- 페이징 -->
                <ul class="c_PagingList" >
                    <!-- 이전 -->
                    <li><a>&lt;</a></li>

                    <li class="pageActive"><a>1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a>4</a></li>
                    <li><a>5</a></li>
                    <li><a>6</a></li>

                    <!-- 다음 -->
                    <li><a>&gt;</a></li>
                </ul>
            </div>
            <!-- 페이징 종료-->
        </section>
    </div>

<th:block th:insert="/fix/footer.html :: footerFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/freeSerialize/category.js"></script>

</html>