<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/novel/novelRound.css">
    <link href="/assets/css/fix/header.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/fix/footer.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <title>소설회차목록</title>
</head>
<body>
<!-- 헤더 시작 -->
<th:block th:insert="fix/headerWord.html :: headFragment"/>

<div class="MainHeader">

    <div class="MainContain">
        <div class="backcolor"></div>
        <div class="Contain">
            <div class="content">
                <div class="x_x">
                    <div class="x_xH">
                        <div class="x_ximg">
                            <th:block th:if="${novelImgSrc==null}">
                                <img th:src="'/novel/novelRegisterImg?fileName='+${novelVO.novelUploadPath}+'/'+${novelVO.novelFileName}">

                            </th:block>
                            <th:block th:unless="${novelImgSrc==null}">
                                <img th:src="${novelImgSrc}" alt="">
                            </th:block>
                        </div>
                        <div class="x_xDesc">
                            <div class="x_Desc_title">
                                <!--소설 타이틀-->
                                <div class="Noveltitle">
                                    <h2 th:text="${novelVO.novelTitle}" style="font-size: 28px;"></h2>

                                </div>

                                <div>
                                    <th:block th:if="${myPickStatus==null}">
                                        <img src="/images/icon/소설하트.png" height="40" style="margin-right:9px;" th:id="${novelVO.novelNumber}" class="myPick"/>
                                    </th:block>
                                    <th:block th:unless="${myPickStatus==null}">
                                        <img src="/images/icon/소설하트full.png" height="40" style="margin-right:9px;" th:id="${novelVO.novelNumber}" class="myPick"/>
                                    </th:block>
                                </div>

                            </div>
                            <div class="x_Desc_pepole">
                                <div>
                                    <img src="https://static-page.kakao.com/static/common/ico-workhome-person.svg?41e74cfb5cb9084198b21f6b2c7899c2" alt="">
                                    <div class="watchCnt"><h3 th:text="|${novelVO.novelViewCountTotal}명|"></h3></div>
                                </div>

                                <div>

                                    <img src="https://static-page.kakao.com/static/common/ico-workhome-comment.svg?eaf3ebfe59b36ae76144c6626928ed14" class="kakaoimg">
                                    <div class="replySize"></div>
                                    <img src="https://static-page.kakao.com/static/common/ic-more-gray.svg?639494b81c8127013d0e627243aee94e">
                                </div>
                            </div>


                            <div class="writer" th:text="|글 작가: ${writerName}|" style="margin-bottom: -10px; color: #a8a7a7; margin-top: 15px;"></div>


                            <div class="x_xContent">

                                <div class="x_Desc_writer">
                                    <th:block th:if="${novelVO.novelSerialsStatus==2}">
                                        <p class="freeText">[자유연재]</p>
                                    </th:block>
                                    <th:block th:unless="${novelVO.novelSerialsStatus==2}">
                                        <div class="days" th:object="${novelVO}">
                                            <span class="d_day" th:if="*{novelMonday==0}">월</span>
                                            <span class="d_day d_dayColor" th:unless="*{novelMonday==0}">월</span>
                                            <span class="d_day" th:if="*{novelTuesDay==0}">화</span>
                                            <span class="d_day d_dayColor" th:unless="*{novelTuesDay==0}">화</span>
                                            <span class="d_day" th:if="*{novelWednesDay==0}">수</span>
                                            <span class="d_day d_dayColor" th:unless="*{novelWednesDay==0}">수</span>
                                            <span class="d_day" th:if="*{novelThursDay==0}">목</span>
                                            <span class="d_day d_dayColor" th:unless="*{novelThursDay==0}">목</span>
                                            <span class="d_day" th:if="*{novelFriDay==0}">금</span>
                                            <span class="d_day d_dayColor" th:unless="*{novelFriDay==0}">금</span>
                                            <span class="d_day" th:if="*{novelSaturDay==0}">토</span>
                                            <span class="d_day d_dayColor" th:unless="*{novelSaturDay==0}">토</span>
                                            <span class="d_day" th:if="*{novelSunDay==0}">일</span>
                                            <span class="d_day d_dayColor" th:unless="*{novelSunDay==0}">일</span>
                                        </div>
                                    </th:block>

                                </div>


                                <div class="x_xBtn">
                                    <button onclick="IntroModalHandler()">작품소개</button>
                                    <a th:href="@{/novel/novelDetailView(novelNumber=${novelNumber}, subNovelNumber=${firstSNumber}, count=1)}"><button type="button" class="goToFirst">첫편보기</button></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="x_xF">
                        <button>
                            <MARQUEE scrollamount="3">
                                <th:block th:each="supportUserDTO, i:${supportUserDTOS}" >
                                        <span style="color: #ef6e73;">
                                            ❤
                                            <span style="color:gray" th:text="|${i.count}위. ${supportUserDTO.userNickName}님 ${supportUserDTO.coin}코인|"></span>
                                        </span>

                                </th:block>
                            </MARQUEE>


                            <div onclick="ModalHandler()" class="modaldiv"><img src="https://static-page.kakao.com/static/common/ic-same-novel.svg?b923ffbeb7a7a8a2e2e3091b1ff9e4f6" alt=""></div>
                        </button>
                    </div>
                    <div class="hashtag">
                        <span>카테고리</span>
                        <!--해쉬태그-->
                        <th:block th:each="hash:${#strings.arraySplit(novelVO.novelHashtag,'&nbsp')}">
                            <span class="hashtagSpan" th:text="|#${hash}|"></span>
                        </th:block>
                    </div>


                    <div class="NovelList">





                        <div class="Noveltotal">

                            <span class="NoveltotalCnt" th:text="|전체(${listSize})개|"></span>
                            <div class="change">
                                <span class="modify">수정</span> |
                                <span class="delete">삭제</span>
                            </div>
                            <div class="ok"><span>완료</span></div>
                            <div class="cancle"><span>취소</span></div>
                        </div>

                        <!--소설 회차 리스트-->
                        <ul class="Novel" >
                            <li class="Novelli"  th:each="subnovelVO, i:${subnovelVOList}">
                                <div class="NovelImg">
                                    <th:block th:if="${novelImgSrc==null}">
                                        <img th:src="'/novel/novelRegisterImg?fileName='+${subnovelVO.novelVO.novelUploadPath}+'/'+${subnovelVO.novelVO.novelFileName}">
                                    </th:block>
                                    <th:block th:unless="${novelImgSrc==null}">
                                        <img th:src="${novelImgSrc}">
                                    </th:block>
                                </div>
                                <div class="NovelDEC">
                                    <div class="NovelDECS">
                                        <a class='goToView' th:name="${subnovelVO.subNovelNumber}" th:href="@{/novel/novelDetailView(novelNumber=${subnovelVO.novelVO.novelNumber}, subNovelNumber=${subnovelVO.subNovelNumber}, count=${i.count})}">

                                            <th:block th:if="${(pageableDTO.pageNumber==1) && (i.count<6)}">
                                                <div style="display: flex;">
                                                    <div class="Noveltt" th:text="|${subnovelVO.novelVO.novelTitle} ${i.count}화|"></div>
                                                    <div class="freeButton">무료</div>
                                                </div>
                                            </th:block>
                                            <th:block th:unless="${(pageableDTO.pageNumber==1) && (i.count<6)}">
                                                <div style="display: flex;" class="locked locked2" th:name="${subnovelVO.subNovelNumber}">
                                                    <th:block th:if="${subNumList!=null}">
                                                        <th:block th:if="${#strings.contains(subNumList,subnovelVO.subNovelNumber)==true}">
                                                            <div class="Noveltt" th:text="|${subnovelVO.novelVO.novelTitle} ${i.count+(pageableDTO.pageNumber-1)*10}화|"></div>
                                                        </th:block>
                                                        <th:block th:unless="${#strings.contains(subNumList,subnovelVO.subNovelNumber)==true}">
                                                            <div class="Noveltt locked lockRow" th:text="|${subnovelVO.novelVO.novelTitle} ${i.count+(pageableDTO.pageNumber-1)*10}화|" ></div>
                                                            <img src="/images/icon/잠금.png" class="lock lockRow" th:data-lock="${subnovelVO.subNovelNumber}"/>
                                                        </th:block>
                                                    </th:block>
                                                    <th:block th:unless="${subNumList!=null}">
                                                        <div class="Noveltt locked lockRow" th:text="|${subnovelVO.novelVO.novelTitle} ${i.count+(pageableDTO.pageNumber-1)*10}화|"></div>
                                                        <img src="/images/icon/잠금.png" class="lock lockRow" th:data-lock="${subnovelVO.subNovelNumber}"/>
                                                    </th:block>

                                                </div>
                                            </th:block>

                                        </a>
                                        <div class="Novelday" th:text="${#strings.substring(subnovelVO.subNovelUploadDate,0,10)}"></div>
                                    </div>
                                </div>
                                <div class="modify">
                                    <img src="/images/icon/수정.png" class="img modifyIcon" th:id="${subnovelVO.subNovelNumber}"/>
                                </div>
                                <div class="delete">
                                    <input type="checkbox" class="deleteCheckBox" th:id="${subnovelVO.subNovelNumber}">
                                </div>
                            </li>
                        </ul>
                        <!-- 페이징 -->
                        <ul class="c_PagingList" >
                            <!-- 이전 -->
                            <li th:if="${pageableDTO.hasPrev}"><a th:href="@{/novel/novelRoundList(page=${pageableDTO.startPage -2 }, novelNumber=${novelNumber})}" >&lt;&lt;</a></li>
                            <li th:if="${pageableDTO.pageNumber > 1}"><a th:href="@{/novel/novelRoundList(page=${pageableDTO.previous},novelNumber=${novelNumber})}">&lt;</a></li>


                            <th:block th:each="num:${#numbers.sequence(pageableDTO.startPage,pageableDTO.endPage)}">
                                <li  th:if="${pageableDTO.pageNumber== num}" th:text="${num}" class="pageActive"></li>
                                <li th:unless="${pageableDTO.pageNumber == num}" ><a th:text="${num}" th:href="@{/novel/novelRoundList(page=${num - 1},novelNumber=${novelNumber})}"></a></li>
                            </th:block>

                            <!-- 다음 -->
                            <li th:if="${pageableDTO.pageNumber < pageableDTO.realEnd}"><a class="novelChangePage" th:href="@{/novel/novelRoundList(page=${pageableDTO.next},novelNumber=${novelNumber})}">&gt;</a></li>
                            <li th:if="${pageableDTO.hasNext}"><a th:href="@{/novel/novelRoundList(page=${pageableDTO.endPage},novelNumber=${novelNumber})}">&gt;&gt;</a></li>
                        </ul>
                    </div>
                    <!-- 페이징 종료-->

                </div>

                <div class="ListReply">
                    <div class="ReplyHeader">
                        <div class="ReplyToTal">
                            댓글
                        </div>

                        <div class="ReplyDe">
                            <div class="ReplyLatest bb choose">최신순</div>
                            <div>ㅣ</div>
                            <div class="ReplyLike bb">추천순</div>
                        </div>
                    </div>
                    <!--댓글란-->
                    <div class="ReplyCmt">
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>

<!-- 후원 -->
<div class="Sponmodalwrap">
    <div class="SponModal">
        <div class="sponheadWrap">
            <div class="sponhead">후원목록</div>
            <button onclick="ModalHandlerClose()"><span style="font-size: 40px;">x</span></button>

        </div>
        <hr style="width: 80%;">

        <div class="sponbody">
            <table style="width: 100%" class="table">
                <tbody>
                <tr>
                    <th style="width: 33%">순위</th>
                    <th style="width: 33%;text-align: left">아이디</th>
                    <th style="width: 33%">후원 개수</th>
                </tr>
                <th:block th:each="supportUserDTO, i:${supportUserDTOS} ">
                    <tr>
                        <td class="rank" th:text="|${i.count}위|"></td>
                        <td class="rank-id" style="text-align: left;" th:text="${supportUserDTO.userNickName}"></td>
                        <td class="rank-number" th:text="|${supportUserDTO.coin}코인|"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 작품소개 -->
<div class="intromodalwrap">
    <div class="introModal">
        <div class="sponheadWrap">
            <div class="introHead" style="text-align: left;" th:text="${novelVO.novelTitle}"></div>
            <button onclick="IntroModalHandlerClose()" style="width: 50px; "><span style="font-size: 40px;">x</span></button>
        </div>
        <hr width="80%">
        <!--소개 적는 란 -->
        <div class="introbody" style="margin-top: 20px;" th:text="${novelVO.novelIntro}"></div>
    </div>
</div>


<!--결제 관련 모달-->
<div class="modal_background">
    <div class="payQModal">
        <p class="modalText">이 회차는 유료서비스입니다.</p>

        <button type="button" class="coinBtn1">200코인 결제</button>
        <button type="button" class="coinBtn2">안볼래요</button>
    </div>
</div>


<!--결제 완료 모달-->
<div class="modal_background2">
    <div class="payQModal2">
        <p class="payClear">200코인 결제가 완료되었습니다.</p>
        <p class="balance">현재 잔액:1000코인</p>
        <button class="goToRead">즉시 보러가기</button>
    </div>
</div>

<!--코인 충전모달-->
<div class="modal_background3">
    <div class="payQModal2" style="height: 248px;">
        <div class="x">x</div>
        <div class="cash">
            <p class="cashMent">앗! 이런, 코인이 부족하네요</p>
            <p class="balance2">현재 잔액:1000코인</p>
            <div class="modalBtns">
                <button type="button" class="cashCancle">취소하기</button>
                <button type="button" class="gotoCharge">충전하러 가기</button>
            </div>
        </div>
    </div>
</div>



<th:block th:insert="fix/footer.html :: footerFragment"/>


</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script th:inline="javascript">
    const novelNumber = [[${novelNumber}]]
    const userNumber =[[${session.userNumber}]]
</script>
<script src="/assets/js/novel/data.js"></script>
<script src="/assets/js/fix/header.js"></script>
<script src="/assets/js/novel/novelRound.js"></script>
<script src="/assets/js/novel/novelRoundReply.js"></script>
</html>