/* 바디의 길이,넓이 설정 */
body {
    width: 100%;
    min-height:100%;
    margin: 0px;
}


/* 공통 값*/
/* 최대크기 설정*/
.giveMaxWidth{
    max-width:1200px ;
    margin:0 auto  ;
}



div#categoryWrap{
    width: 100%;
    height: 100vh;

}


section#categorySection{width : 100%; min-height: 100vh;}

/* 카테고리메뉴 테이블*/
div#categoryMenu{
    width : 100%;
}
div#categoryMenu table{
    width : 100%;
}


#categoryMenu table tbody{
    display: flex;
    width : 100%;
}
#categoryMenu table tbody tr{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
}
#categoryMenu table tbody tr td {
    width: 100%;
    height: 100%;
}
#categoryMenu table tbody tr td a{
    width: 100%;
    height: 100%;
    display: flex;
    /*border: 1px #ef6e73 solid;*/
    text-align: center;
    /* vertical-align: middle; */
    align-items: center;
    justify-content: center;
    text-decoration-line:none;

}
#categoryMenu table tbody tr td a:hover{color: #ef6e73}

#categoryMenu a:visited,#categoryMenu a:link , .resultItem a:visited, .resultItem a:link {color: black}
a.writeButton:visited, a.writeButton:link{color: white}
ul#tagSearchList li a:visited, ul#tagSearchList li a:link{color:#343a40; }
#totalWrap{
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid  #a2a2a2;
    padding-left: 5px;
    padding-right: 5px;
}
.totalWordWork{
    width: auto;
    word-spacing: -1px;
    font-weight: bold;
}
.totalWordWork img{
    width: 16px;
}
#totalOption div img {
    width: 12px;
}
#totalR_side, #totalOption{
    display: flex;
    gap: 12px;
    align-items: center;

}
#totalR_side {
    height: 40px;
    font-size: 12px;
}
#totalOption{
    height: 100%;
}

a.writeButton{
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    text-decoration-line:none;
    color: white;
}
a.writeButton img{
    width: 23px;
    object-fit: cover;
}
div.OptionChange{
    cursor: pointer;
}
div#tagSearchWrap{
    border-bottom: 1px solid #eee;

}

ul#tagSearchList{
    display: flex;
    list-style: none;
    font-size: 12px;
    align-items: center;
    padding: 0;
}
ul#tagSearchList li {
    color: #495057;
    padding: 4.8px 12.2px;

}
ul#tagSearchList li  a {
    text-decoration-line: none;

}

.tagInner{
    display: flex ;
    gap: 9px;
    align-items: center;
    height: 49.59px;
}
div#tagSearchWrap .tagInner button{
    width: 75px;
    height: 28px;
    color: #000;
    border: 1px solid #ddd;
    font-size: 12px;
    background: url('/images/category/searchIcon.png')no-repeat 4px center;
    background-size: 16px;
    padding: 0 0 0 15px;
}
ul#tagSearchList li.active{
    background: #ef6e73;
}
ul#tagSearchList li.active a{
    background: #ef6e73;
    color: white !important;
}
div#searchResult{
    height: 100%;
    overflow: hidden;
}
div.resultItem{
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    height: auto;
    min-height: 157px;
    float: left;
}
/*div.resultItem{*/
/*    width: 100px;*/
/*    height: 150px;*/
/*    float: left;*/
/*}*/
.coverBox{
    width: 100px;
    height: 150px;
    float: left;
    position: relative;
}
div.resultItem .coverBox img:nth-child(1){
    width: 100%;
    height: 100%;
    box-shadow: 2px 0px 10px 0px rgb(0 0 0 / 30%);
    background-position: center;
    border-radius: 0px 30px 30px 0px;
}
div.resultItem .coverBox img:nth-child(2){
    position: absolute;
    top: -13px;
    left: -1px;
    width: 36px;
}
div.pieceInfo{
    padding: 0px 15px ;
    width: 84%;
    float: left;
    font-size: 13px;
    display: flex;
    gap: 11px;
    flex-direction: column;
}
div.info_counts{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    gap: 15px;
}
div.info_tag ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 5px;
}
div.info_tag ul li{
    /*    border: 2px solid #ef6e73;*/
    border-radius: 20px;
    padding: 3px 10px;
    line-height: 20px;
    user-select: none;
}
div.info_tag ul li a{
    /*color: #ef6e73 !important;*/
    color: #00AAFF !important;
    font-weight: bold;
}
div.updateTimeBox{
    float: right;
    border: 1px solid #ddd;
    padding: 5px 12px;
    background-color: #fff;
    color: #333;
    width: 100px;
    text-align: center;
    margin-right: 5px;
    font-size: 12px;
}


.free_content, .mono_content, .finish_content{
    font-weight: 400;
    padding: 1px 4px;
    border-radius: 3px;
    font-size: 11px;
    color: #fff;
    text-shadow: 0.5px 0.5px black;
}
.free_content{ background-color: #166d95;}
.mono_content{ background-color: #0d60d1;}
.finish_content{ background-color: #000;}
.info_title{
    font-size: 20px;
    font-weight: bold;
}
.info_head{
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}


.info_writer {font-size: 14px; color: #666 !important;}
.resultItem a{ text-decoration-line:none;}
.info_summary{
    font-size: 14px;
    color: #666;
    font-weight: 400;
}
.info_count{
    width: auto;
    display: flex;
    align-items: center;
}
.info_count img{
    width: 18px;
}

#searchForm input{
    width: 209px;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
}
#searchForm input:focus {outline: 1px solid #ef6e73; border:none;}
#searchFormWrap{
    display: none;
}
#searchForm{
    display: flex;
    align-items: center;
    gap: 3px;
}
.tagBtn{
    cursor: pointer;
}
div.cancelImg{
    width: 18px;
    cursor: pointer;
}
div.cancelImg img{
    width: 100%;
}

/*페이징 css*/
div.categoryPaging {
    width: 100%;
    height: 80px;
    clear: both;
}
ul.c_PagingList{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
    padding: 0;
}
ul.c_PagingList li{
    list-style: none;
    width: 30px;
    height: 40px;
    text-align: center;
    background: #e9ecef;
    color: #343a40;
    line-height: 2.25;
}
ul.c_PagingList li a{
    text-decoration-line: none;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;

}
ul.c_PagingList li a:visited, ul.c_PagingList li a:link{
    color: #343a40;
}
ul.c_PagingList li.pageActive{
    background:#007bff;
    color: #fff !important;
}
.mobile_updateTimeBox{
    display: none;
    border: 1px solid #ddd;
    padding: 2px 10px;
    background-color: #fff;
    color: #333;
    text-align: center;
    margin-right: 5px;
    font-size: 11px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    border-radius: 10px;
    width: max-content;
}

/* 반응형 */
@media (max-width: 960px) {
    .web_updateTimeBox{ display: none;}
    .mobile_updateTimeBox{ display: block;}
    div.info_tag{font-size: 10px;}
    div.info_tag ul {
        display: flex;
        list-style: none;
        padding: 0;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #searchResult{
        width: 97%;
        height: auto;
        margin-left: 3%;
}
div.info_summary{display: none;}
div.resultItem{display: flex;}
div.info_tag{gap: 0;}
div.info_tag ul li{
    padding: 0;
}
div.pieceInfo{
    width: 225px;

}
a.writeButton{display: none;}
div.totalWordWork img {display: none;}
div#tagSearchWrap .tagInner button{
    width: 170px;
}
ul#tagSearchList{
    overflow-x: auto;
    white-space: nowrap;
    height: 100%;
}
    .info_head{
        display: flex;
        gap: 5px;
        width: 217px;
        flex-direction: column;
        align-items: flex-start;
    }


}