/* 바디의 길이,넓이 설정 */
body {
    width: 100%;
    height: 100%;
}

/* 공통 값*/
/* 최대크기 설정*/
.giveMaxWidth{
    max-width:1200px ;
    margin:0 auto  ;
}



div#categoryWrap{
    width: 100%;
    height: 100%;

}


section#categorySection{width : 100%;}

/* 카테고리메뉴 테이블*/
div#categoryMenu{
    width : 100%;
}
div#categoryMenu table{
    width : 100%;
}


#categoryMenu table tbody{
        display: flex;
        width : 100%;
}
#categoryMenu table tbody tr{
        display: flex;
        border: 1px #ff8b77 solid;
        width: 33.33%;
        height: 60px;
}