<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Title</title>
    <link href="/css/fix/header.css" rel="stylesheet" type="text/css">
</head>
<body>

<!-- 헤더 시작 -->
    <!-- 소설 페이지 -->
<!--<th:block th:insert="/fix/header_word.html :: headFragment"/>-->

    <!-- 일러스트 페이지-->
<th:block th:insert="/fix/header_word_illust.html :: headIllustFragment"/>
<!--헤더 이미지 -->
<div id="headerImgWrap" >
    <img id="headerImg"src="/images/fix/headerImg_10.png" >
</div>
<!-- 헤더 종료 -->


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/fix/header.js"></script>
</html>