<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.stelling.mapper.BuyChapterMapper">

    <!--등록-->
    <insert id="insert">
        INSERT INTO TBL_BUYCHAPTER (BUYCHAPTER_NUMBER, NOVEL_NUMBER, SUBNOVEL_NUMBER, USER_NUMBER, BUYCHAPTER_COIN)
        VALUES(BUYCHAPTER_SEQ.NEXTVAL, #{novelNumber}, #{subNovelNumber}, #{userNumber}, #{buyChapterCoin})
    </insert>

    <!--삭제-->
    <delete id="delete"></delete>

    <!--수정-->
    <update id="update"></update>

    <!--전체 조회-->
    <select id="getList"></select>

    <!--특정 내역 가져오기-->
    <select id="get" resultType="buyChapterVO">
        SELECT BUYCHAPTER_NUMBER, NOVEL_NUMBER, SUBNOVEL_NUMBER, USER_NUMBER, BUYCHAPTER_COIN, BUYCHAPTER_DATETIME, BUYCHAPTER_STATUS
        FROM TBL_BUYCHAPTER
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <!--노벨넘버랑 유저넘버로 내역가져오기-->
    <select id="getSubNovelNumByNovelNum" resultType="buyChapterVO">
        SELECT BUYCHAPTER_NUMBER, NOVEL_NUMBER, SUBNOVEL_NUMBER, USER_NUMBER, BUYCHAPTER_COIN, BUYCHAPTER_DATETIME, BUYCHAPTER_STATUS
        FROM TBL_BUYCHAPTER
        WHERE USER_NUMBER = #{userNumber} AND NOVEL_NUMBER=#{novelNumber}
    </select>

</mapper>