<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.stelling.mapper.IllustProfileMapper">

    <!--등록-->
    <insert id="insert">
       INSERT INTO TBL_ILLUSTPROFILE
        (ILLUSTPROFILE_NUMBER, USER_NUMBER, ILLUSTPROFILE_SHORTINTRO, ILLUSTPROFILE_DETAILINTRO, ILLUSTPROFILE_CATEGORY, ILLUSTPROFILE_WEBSITE)
        VALUES(#{illustProfileNumber}, #{userNumber}, #{illustProfileShortIntro}, #{illustProfileDetailIntro}, #{illustProfileCategory}, #{illustProfileWebSite})
    </insert>

    <!--특정 내역 가져오기 join사용-->
    <select id="getProfile" resultType="illustProfileDTO">
        SELECT pf.ILLUSTPROFILE_NUMBER, pf.USER_NUMBER, u.USER_NICKNAME, u.USER_FILEPATH, u.USER_UUID,u.USER_FILENAME, pf.ILLUSTPROFILE_SHORTINTRO, pf.ILLUSTPROFILE_DETAILINTRO, pf.ILLUSTPROFILE_CATEGORY, pf.ILLUSTPROFILE_WEBSITE, SUM(ti.ILLUST_LIKE)
        FROM TBL_ILLUSTPROFILE pf, TBL_USER u, TBL_ILLUST ti
       	WHERE pf.USER_NUMBER = u.USER_NUMBER AND pf.USER_NUMBER =#{userNumber}
       	GROUP BY pf.ILLUSTPROFILE_NUMBER, pf.USER_NUMBER, u.USER_NICKNAME, u.USER_FILEPATH, u.USER_UUID,u.USER_FILENAME, pf.ILLUSTPROFILE_SHORTINTRO, pf.ILLUSTPROFILE_DETAILINTRO, pf.ILLUSTPROFILE_CATEGORY, pf.ILLUSTPROFILE_WEBSITE
    </select>

    <select id="list" resultType="illustProfileDTO">
        SELECT ILLUSTPROFILE_NUMBER, pf.USER_NUMBER, u.USER_NICKNAME, u.USER_FILEPATH, u.USER_UUID,u.USER_FILENAME, SUM(ti.ILLUST_LIKE)
        FROM TBL_ILLUSTPROFILE pf, TBL_USER u, TBL_ILLUST ti
        WHERE pf.USER_NUMBER = u.USER_NUMBER AND pf.USER_NUMBER = ti.USER_NUMBER
        GROUP BY ILLUSTPROFILE_NUMBER, pf.USER_NUMBER,u.USER_NICKNAME,u.USER_FILEPATH, u.USER_UUID,u.USER_FILENAME
       ORDER BY SUM(ti.ILLUST_LIKE) DESC
    </select>

    <select id="checkProfile" resultType="illustProfileDTO">
        SELECT ILLUSTPROFILE_NUMBER
        FROM TBL_ILLUSTPROFILE
        WHERE USER_NUMBER = #{userNumber}
    </select>

</mapper>
