<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.stelling.mapper.IllustProfileMapper">

    <!--등록-->
    <insert id="insert">
        INSERT INTO TBL_ILLUSTPROFILE (ILLUSTPROFILE_NUMBER, USER_NUMBER, ILLUSTPROFILE_SHORTINTRO, ILLUSTPROFILE_DETAILINTRO, ILLUSTPROFILE_CATEGORY, ILLUSTPROFILE_WEBSITE)
        VALUES(ILLUSTPROFILE_SEQ.NEXTVAL, #{userNumber}, #{illustProfileShortIntro}, #{illustProfileDetailIntro}, #{illustProfileCategory}, #{illustProfileWebSite})
    </insert>

    <!--삭제-->
    <delete id="delete"></delete>

    <!--수정-->
    <update id="update">
        UPDATE TBL_ILLUSTPROFILE
        SET USER_NUMBER=#{userNumber}, ILLUSTPROFILE_SHORTINTRO=#{illustProfileShortIntro}, ILLUSTPROFILE_DETAILINTRO=#{illustProfileDetailIntro}, ILLUSTPROFILE_CATEGORY=#{illustProfileCategory}, ILLUSTPROFILE_WEBSITE=#{illustProfileWebSite}
        WHERE ILLUSTPROFILE_NUMBER=#{illustProfileNumber}
    </update>

    <!--특정 내역 가져오기-->
    <select id="get" resultType="illustProfileVO">
        SELECT ILLUSTPROFILE_NUMBER, USER_NUMBER, ILLUSTPROFILE_SHORTINTRO, ILLUSTPROFILE_DETAILINTRO, ILLUSTPROFILE_CATEGORY, ILLUSTPROFILE_WEBSITE
        FROM TBL_ILLUSTPROFILE
        WHERE ILLUSTPROFILE_NUMBER=#{illustProfileNumber}
    </select>
</mapper>