<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.stelling.mapper.InquiryMapper">

    <!--등록-->
    <insert id="insert">
        INSERT INTO TBL_INQUIRY (INQUIRY_NUMBER, USER_NUMBER, INQUIRY_TITLE, INQUIRY_CONTENT, INQUIRY_REPDATE)
        VALUES(INQUIRY_SEQ.NEXTVAL, #{userNumber}, #{inquiryTitle}, #{inquiryContent}, SYSDATE)
    </insert>

    <!--삭제-->
    <delete id="delete"></delete>

    <!--수정-->
    <update id="update">
        UPDATE TBL_INQUIRY
        SET USER_NUMBER=#{userNumber}, INQUIRY_ANSWER=#{inquiryAnswer}, INQUIRY_STATUS='1', INQUIRY_REPDATE=SYSDATE
        WHERE INQUIRY_NUMBER=#{inquiryNumber}
    </update>

    <!--내 문의 1개-->
    <select id="get" resultType="inquiryVO">
        SELECT INQUIRY_NUMBER, USER_NUMBER, INQUIRY_TITLE, INQUIRY_CONTENT, INQUIRY_ANSWER, INQUIRY_STATUS, INQUIRY_DATE, INQUIRY_REPDATE
        FROM TBL_INQUIRY
        WHERE INQUIRY_NUMBER=#{inquiryNumber}
    </select>
</mapper>