<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.stelling.mapper.MyIllustMapper">

    <!--등록-->
    <insert id="insert">
        INSERT INTO TBL_MYILLUST (MYILLUST_NUMBER, USER_NUMBER, ILLUST_NUMBER)
        VALUES(MYILLUST_SEQ.NEXTVAL, #{userNumber}, #{illustNumber})
    </insert>

    <!--삭제-->
    <delete id="delete"></delete>

    <!--수정-->
    <update id="update">
        UPDATE TBL_MYILLUST
        SET MYILLUST_STATUS= #{myIllustStatus}, USER_NUMBER=#{userNumber}, ILLUST_NUMBER=#{illustNumber}
        WHERE MYILLUST_NUMBER=#{myIllustNumber}
    </update>

    <!--특정 내역 가져오기-->
    <select id="get" resultType="myIllustVO">
        SELECT MYILLUST_NUMBER, MYILLUST_STATUS, USER_NUMBER, ILLUST_NUMBER
        FROM TBL_MYILLUST
        WHERE MYILLUST_NUMBER=#{myIllustNumber}
    </select>

</mapper>