<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.stelling.mapper.NovelMapper">


    <select id="rankingSearch" resultType="NovelRankingDTO">
        SELECT
        NOVEL_NUMBER ,
        n.USER_NUMBER,
        u.USER_NICKNAME,
        NOVEL_TITLE ,
        NOVEL_HASHTAG ,
        NOVEL_UPLOADDATE ,
        NOVEL_UPDATEDATE ,
        NOVEL_CATEGORY ,
        NOVEL_STATUS ,
        NOVEL_SERIALSTATUS ,
        NOVEL_INTRO ,
        NOVEL_FILENAME ,
        NOVEL_UPLOADPATH,
        NOVEL_UUID ,
        NOVEL_ROUNDABOUTTOTAL,
        NOVEL_LIKECOUNTTOTAL ,
        NOVEL_VIEWCOUNTTOTAL
        FROM
        (
        SELECT
        NOVEL_NUMBER ,
        USER_NUMBER,
        NOVEL_TITLE ,
        NOVEL_HASHTAG ,
        NOVEL_UPLOADDATE ,
        NOVEL_UPDATEDATE ,
        NOVEL_CATEGORY ,
        NOVEL_STATUS ,
        NOVEL_SERIALSTATUS ,
        NOVEL_INTRO ,
        NOVEL_FILENAME ,
        NOVEL_UPLOADPATH,
        NOVEL_UUID ,
        NOVEL_ROUNDABOUTTOTAL,
        NOVEL_LIKECOUNTTOTAL ,
        NOVEL_VIEWCOUNTTOTAL
        FROM TBL_NOVEL
        <if test="novelStatus != null">
            <trim prefix="where">
                    <choose>
                        <when test="novelStatus == 'all'.toString()">  NOVEL_STATUS <![CDATA[<=]]>  3</when>
                        <when test="novelStatus == 'free'.toString()"> NOVEL_SERIALSTATUS = 0 </when>
                        <when test="novelStatus == 'end'.toString() "> NOVEL_STATUS = 2 </when>
                    </choose>
            </trim>
        </if>
        <if test="day != -1 ">
        <trim prefix="AND">
        <choose>
            <when test="day == 0">NOVEL_MONDAY = 1</when>
            <when test="day == 1">NOVEL_TUESDAY = 1</when>
            <when test="day == 2">NOVEL_WEDNESDAY = 1</when>
            <when test="day == 3">NOVEL_THURSDAY = 1</when>
            <when test="day == 4">NOVEL_FRIDAY = 1</when>
            <when test="day == 5">NOVEL_SATURDAY = 1</when>
            <when test="day == 6">NOVEL_SUNDAY = 1</when>
        </choose>
        </trim>
        </if>
        <if test="keyword != 'searchAll'.toString()">
                AND
                NOVEL_HASHTAG
         LIKE  CONCAT('%', #{keyword}, '%')

        </if>

        )  n JOIN TBL_USER u
        ON u.USER_NUMBER  = n.USER_NUMBER
        ORDER BY
        <choose>
            <when test="rankType == 'view'.toString()">NOVEL_VIEWCOUNTTOTAL</when>
            <when test="rankType == 'like'.toString()">NOVEL_LIKECOUNTTOTAL</when>
        </choose>
        DESC
        LIMIT 50 ;
    </select>


    <select id="rankingSearchOfDay" resultType="NovelRankingDTO">
        SELECT
        NOVEL_NUMBER ,
        n.USER_NUMBER,
        u.USER_NICKNAME,
        NOVEL_TITLE ,
        NOVEL_HASHTAG ,
        NOVEL_UPLOADDATE ,
        NOVEL_UPDATEDATE ,
        NOVEL_CATEGORY ,
        NOVEL_STATUS ,
        NOVEL_SERIALSTATUS ,
        NOVEL_INTRO ,
        NOVEL_FILENAME ,
        NOVEL_UPLOADPATH,
        NOVEL_UUID ,
        NOVEL_ROUNDABOUTTOTAL,
        NOVEL_LIKECOUNTTOTAL ,
        NOVEL_VIEWCOUNTTOTAL
        FROM
        (
        SELECT
        NOVEL_NUMBER ,
        USER_NUMBER,
        NOVEL_TITLE ,
        NOVEL_HASHTAG ,
        NOVEL_UPLOADDATE ,
        NOVEL_UPDATEDATE ,
        NOVEL_CATEGORY ,
        NOVEL_STATUS ,
        NOVEL_SERIALSTATUS ,
        NOVEL_INTRO ,
        NOVEL_FILENAME ,
        NOVEL_UPLOADPATH,
        NOVEL_UUID ,
        NOVEL_ROUNDABOUTTOTAL,
        NOVEL_LIKECOUNTTOTAL ,
        NOVEL_VIEWCOUNTTOTAL
        FROM TBL_NOVEL
        <if test="novelStatus != null">
            <trim prefix="where">
                <choose>
                    <when test="novelStatus == 'all'.toString()">  NOVEL_STATUS <![CDATA[<=]]>  3</when>
                    <when test="novelStatus == 'free'.toString()"> NOVEL_SERIALSTATUS = 0 </when>
                    <when test="novelStatus == 'end'.toString() "> NOVEL_STATUS = 2 </when>
                </choose>
            </trim>
        </if>
        <if test="keyword != 'searchAll'.toString()">
            AND
            NOVEL_HASHTAG
            LIKE CONCAT('%', #{keyword}, '%')
        </if>

        )  n JOIN TBL_USER u
        ON u.USER_NUMBER  = n.USER_NUMBER
        ORDER BY
        <choose>
            <when test="rankType == 'view'.toString()">NOVEL_VIEWCOUNTTOTAL</when>
            <when test="rankType == 'like'.toString()">NOVEL_LIKECOUNTTOTAL</when>
        </choose>
        DESC
        LIMIT 50 ;
    </select>




</mapper>