<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.stelling.mapper.PayMapper">

    <!--등록-->
    <insert id="insert">
        INSERT INTO TBL_PAY (USER_NUMBER, PAY_CHARGE, PAY_COINCOUNT)
        VALUES(#{userNumber}, #{payCharge}, #{payCoinCount})
    </insert>

    <!--1개 조회-->
    <select id="read" resultType="PayVO"></select>

    <!--삭제-->
    <delete id="delete"></delete>

    <!--전체 조회-->
    <select id="getList" resultType="PayVO">
            SELECT PAY_NUMBER, USER_NUMBER, PAY_CHARGE, PAY_COINCOUNT, PAY_DATETIME, PAY_STATUS
            FROM TBL_PAY
            WHERE USER_NUMBER = #{userNumber}
            <if test="paging.startDate != null and paging.endDate != null">
                <trim prefix="AND">
                    PAY_DATETIME BETWEEN #{paging.startDate} AND #{paging.endDate}
                </trim>
            </if>
            ORDER BY PAY_NUMBER DESC
            LIMIT #{paging.skip}, #{paging.amount}
    </select>

    <!--총 결제 금액-->
    <select id="getTotal" resultType="PayDTO">
        SELECT USER_NUMBER, SUM(PAY_CHARGE) AS CHARGE_TOTAL
        FROM TBL_PAY
        WHERE USER_NUMBER = #{userNumber}
        GROUP BY USER_NUMBER
    </select>

    <select id="getPayCharge" resultType="PayVO">
            SELECT PAY_CHARGE
            FROM TBL_PAY
            WHERE USER_NUMBER = #{userNumber}
    </select>

    <!--검색한 결과의 총 개수(페이징 처리를 위함)-->
    <select id="getSearchTotal" resultType="_int">
        SELECT COUNT(PAY_NUMBER)
        FROM TBL_PAY
    </select>

    <!--특정 내역 가져오기-->
    <select id="get" resultType="payVO">
        SELECT PAY_NUMBER, USER_NUMBER, PAY_CHARGE, PAY_COINCOUNT, PAY_DATE, PAY_STATUS
        FROM TBL_PAY
        WHERE USER_NUMBER = #{userNumber}
    </select>
</mapper>