<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.stelling.mapper.PayMapper">

    <!--등록-->
    <insert id="insert">
        INSERT INTO TBL_PAY (PAY_NUMBER, USER_NUMBER, PAY_CHARGE, PAY_COINCOUNT)
        VALUES(PAY_SEQ.NEXTVAL, #{userNumber}, #{payCharge}, #{payCoinCount})
    </insert>

    <!--1개 조회-->
    <select id="read" resultType="PayVO"></select>

    <!--삭제-->
    <delete id="delete"></delete>

    <!--전체 조회-->
    <select id="getList" resultType="PayVO">
        <![CDATA[
            SELECT PAY_NUMBER, USER_NUMBER, PAY_CHARGE, PAY_COINCOUNT, PAY_DATE, PAY_STATUS
            FROM
                (
                SELECT /*+ INDEX_DESC(TBL_PAY BIN$OBDZeKBJR7yPR8+xtHguqw==$0)*/
                ROWNUM RN, PAY_NUMBER, USER_NUMBER, PAY_CHARGE, PAY_COINCOUNT, PAY_DATE, PAY_STATUS
                FROM TBL_PAY
                WHERE USER_NUMBER = #{userNumber}
                AND ROWNUM <= #{criteria.pageNum} * #{criteria.amount}
                )
            WHERE RN > (#{criteria.pageNum} - 1) * #{criteria.amount}
        ]]>
    </select>

    <!--총 결제 금액-->
    <select id="getTotal" resultType="PayDTO">
        SELECT USER_NUMBER, SUM(PAY_CHARGE) AS CHARGE_TOTAL
        FROM TBL_PAY
        WHERE USER_NUMBER = #{userNumber}
        GROUP BY USER_NUMBER
    </select>

    <!--검색한 결과의 총 개수(페이징 처리를 위함)-->
    <select id="getSearchTotal" resultType="_int">
        SELECT COUNT(PAY_NUMBER)
        FROM TBL_PAY
    </select>

    <!--특정 내역 가져오기-->
    <select id="get" resultType="payVO">
        SELECT PAY_NUMBER, USER_NUMBER, PAY_CHARGE, PAY_COINCOUNT, PAY_DATE, PAY_STATUS
        FROM TBL_PAY
        WHERE USER_NUMBER = #{userNumber}
    </select>
</mapper>