<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.stelling.mapper.SupportMapper">

    <!--등록-->
    <insert id="insert">
        INSERT INTO TBL_SUPPORT
        (USER_NUMBER, NOVEL_NUMBER, SUBNOVEL_NUMBER, SUPPORT_COIN, SUPPORT_DATE)
        VALUES(#{userNumber}, #{novelNumber}, #{subNovelNumber}, #{supportCoin}, curdate());
    </insert>

    <!--삭제-->
    <delete id="delete"></delete>

    <!--수정-->
    <update id="update"></update>

    <!--후원 내역-->
    <select id="getSuppotList" resultType="supportVO">
            SELECT USER_NUMBER, USER_NUMBER, NOVEL_NUMBER, SUPPORT_COIN, SUPPORT_DATE
            FROM TBL_SUPPORT
            WHERE USER_NUMBER = #{userNumber}
            ORDER BY USER_NUMBER DESC
            LIMIT #{paging.skip}, #{paging.amount}
    </select>

    <!--검색한 결과의 총 개수(페이징 처리를 위함)-->
    <select id="getSearchSupportTotal" resultType="_int">
        SELECT COUNT(SUPPORT_NUMBER)
        FROM TBL_SUPPORT
    </select>

    <!--총 후원 코인-->
    <select id="getSupportCoinTotal" resultType="SupportDTO">
        SELECT USER_NUMBER, SUM(SUPPORT_COIN) AS SUPPORT_TOTAL
        FROM TBL_SUPPORT
        WHERE USER_NUMBER = #{userNumber}
        GROUP BY USER_NUMBER
    </select>


</mapper>