@media(max-width : 390px){
    .mainbox {
        width: 370px !important;
        margin: 0 auto !important;
    }

    .td_left {
        width: 14% !important;
    }

    .td_center {
        width: 35% !important;
    }

    .td_right {
        width: 18% !important;
    }

    .text_position_1 {
        margin-top: 14px !important;
        margin-bottom: 10px !important;
        font-size: 12px !important;
    }


    .head_text {
        text-align: center !important;
        width: 370px !important;
        font-size: 30px !important;
        font-weight: bolder !important;
        margin-bottom: 50px !important;
    }
}



/*미디어쿼리 끝*/



.mainbox {
    width: 1300px;
    margin: 0 auto;
}

.head_text {
    text-align: left;
    width: 525px;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.text_position_1 {
    margin-top: 14px;
    margin-bottom: 10px;
    font-size: 13px;
}

.table {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 100%;
}

.td_left {
    width: 8%;
}

.td_center {
    width: 67%;
}
.td_right {
    width: 8%;
}

tr.tr {
    height: 50px;
    font-weight: bolder;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table tbody tr {
    border: solid 1px #e2eaec;
    border-left: 0;
    border-right: 0;
}

.ask_again_button {
    background-color: black;
    color: white;
    height: 50px;
    width: 112px;
    border: hidden;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}

.list_button {
    background-color: #ef6e73;
    color: white;
    height: 50px;
    width: 112px;
    border: hidden;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}

.button_position {
    text-align: center;
    margin-top: 41px;
    margin-bottom: 41px;
}